<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE article PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd">
<?asciidoc-toc?>
<?asciidoc-numbered?>

<article lang="en">
<articleinfo>
    <title>Plugins</title>
</articleinfo>
<simpara>Das Untermenü Plugins, ermöglicht seine Plugins zu Verwalten : sie hochladen, sie auf den neuesten Stand bringen und sie zu aktivieren.</simpara>
<section id="_plugin_verwaltung">
<title>Plugin Verwaltung</title>
<simpara>Sie können auf die Plugin-Seite über das Menü  Plugin &#8594; Plugin Verwaltung zugreifen :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin1.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin1.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Wenn man darauf geklickt hat, findet man sich auf der Seite wieder, die uns eine Liste der Plugins anzeigt :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin2.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin2.png</phrase></textobject>
</mediaobject>
</informalfigure>
<tip><simpara>Wie an vielen Orten auf Jeedom, wenn man die Maus ganz nach links bewegt ermöglicht es, ein Schnellzugangsmenü sichtbar zu machen(Sie können es in ihrem Profil immer sichtbar machen).</simpara></tip>
<simpara>Auf dieser Seite finden Sie alle Plugins die auf Ihrem Jeedom sind wieder. Diejenigen in rot, sind die, die nicht aktiviert sind. Wenn auf ein Plugin geklickt wird, gelangt man auf dessen Konfiguration Seite :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin3.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin3.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Oben sehen Sie die ID und Name des Plugins sowie die installierte Version (hier die Beta). Darunter haben Sie die Schaltfläche zum Aktiviern/Deaktivieren eines Plugins.</simpara>
<important><simpara>Nach dem Herunterladen eines Plugin ist dieses nicht aktiviert, sodas sie es anschließend aktivieren müssen.</simpara></important>
<simpara>Unten finden Sie 4 Schaltflächen :</simpara>
<itemizedlist>
<listitem>
<simpara>
<emphasis role="strong">Im Markt sehen</emphasis> : erlaubt, das Datenblatt des Plugin zu sehen
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Auf den Markt senden</emphasis> : ermöglicht, das Plugin auf den Markt zu senden (nur verfügbar, wenn Sie der Autor sind)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Löschen</emphasis> : Das Plugin wird von Jeedom entfernt. Achtung, dies entfernt auch dauerhaft die Geräte des Plugin
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Dokumentation</emphasis> : Ermöglicht den direkten Zugriff auf die Dokumentationsseite vom Plugin
</simpara>
</listitem>
</itemizedlist>
<tip><simpara>Einige Plugin haben einen Konfiguration-Teil, es ist in diesem Fall notwendig in der Dokumentation des Plugins die Frage zu finden, wie es zu konfigurieren ist.</simpara></tip>
</section>
<section id="_die_installation_eines_plugins">
<title>Die Installation eines Plugins</title>
<simpara>Zum Installieren eines neuen klicken Sie einfach auf die Schaltfläche "Zum Markt gehen" :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin4.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin4.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Nach einer kurzen Ladezeit sehen sie :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin5.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin5.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Im oberen Teil auf dem Markt haben Sie Filter :</simpara>
<itemizedlist>
<listitem>
<simpara>
<emphasis role="strong">Kostenlos/Gebührenpflichtig</emphasis> : Sie können den Filtern auf kostenlose oder gebührenpflichtig einstellen, das kleine Kreuz erlaubt den Filter zurückzusetzen.
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Neue/Populäre</emphasis> : Die neuesten Plugins oder die meisten Downloads anzeigen, das kleine Kreuz erlaubt den Filter zurückzusetzen.
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Installiert/Nicht installiert</emphasis> : Es ermöglicht ihnen, nur installierte oder nicht installierte Plugins anzuzeigen, das kleine Kreuz erlaubt den Filter zurückzusetzen
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Kategorie</emphasis> : erlaubt, nur einige Plugin Kategorien anzuzeigen
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Suchen</emphasis> : um ein Plugin zu suchen (Namen oder eine Beschreibung davon)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Benutzername</emphasis> :  Zeigt den Benutzernamen, mit dem man auf dem Markt verbunden ist sowie den Status der Verbindung an (hier Ok)
</simpara>
</listitem>
</itemizedlist>
<simpara>Sobald das gewünschte Plugin gefunden wurde klicken Sie einfach auf das Plugin, um es zu öffnen :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin6.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin6.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Diese Karteikarte gibt Ihnen die volle Information über das Plugin, unter anderen :</simpara>
<simpara>Wenn es offizielle/registriert oder veraltete ist (Sie müssen wirklich alte Plugin Installationen vermeiden)
* 3 Schaltflächen :
<emphasis role="strong"> <emphasis role="strong">Stabile Installation</emphasis> : installiert das Plugin in einer stabilen Version
</emphasis> <emphasis role="strong">Beta Installation</emphasis> : installiert das Plugin in einer Beta Version (nur für die Betatester)
<emphasis role="strong">* *Löschen</emphasis> : Wenn das Plugin aktuell installiert ist, wird es mit dieser Schaltfläche gelöscht.</simpara>
<simpara>Unten finden Sie auf der linken Seite die Beschreibung des Plugins, die Kompatibilität (wenn Jeedom einen Konflikt erkennt wird es gemeldet), Bewertung zum Plugin (hier können sie eine Bewertung abgeben), Kommentar zu diesem und weitere Informationen (Autor, die Person die das letzte Update entwickelt hat, einen Link zu der Doc, die Anzahl der Downloads).
Auf der rechten Seite finden Sie die Liste der Aktualisierungen (Die Schaltfläche "Alle anzeigen" ermöglicht es ihnen, die ganze Geschichte anzuzeigen), eine schnelle Benutzerdokumentation (es wird empfohlen, dass Sie immer noch die vollständige Dokumentation lesen) und schließlich der Typ (Plugin, Widgets&#8230;), die Sprache und verschiedene Informationen über das Datum der letzten stabilen Version.</simpara>
<important><simpara>Es ist wirklich nicht empfehlenswert, ein Beta Plugin auf ein Beta Jeedom zu installieren, das kann zu viele Probleme im Betrieb  führen.</simpara></important>
<important><simpara>Einige Plugins sind gebührenpflichtig, in diesem Fall bietet die Seite das Plugin zum kaufen an, sobald dies erledigt ist, etwa zehn Minuten (Zeit der Bestätigung der Zahlung), dann kehrt man zur Plugin-Seite zurück, um es normalerweise zu installieren.</simpara></important>
<tip><simpara>Vous pouvez aussi ajouter un plugin à Jeedom à partir d&#8217;un fichier ou depuis un repository Github. Pour cela, il faut, dans la configuration de Jeedom, activer la fonction adéquate dans la partie "Mises à jour et fichiers". Il sera ensuite possible, en mettant la souris tout à gauche, et en faisant apparaitre le menu de la page plugin, de cliquer sur "Ajout depuis une autre source". Vous pourrez ensuite choisir la source "Fichier". Attention, dans le cas de l&#8217;ajout par un fichier zip, le nom du zip doit être le même que l&#8217;id du plugin et dès l&#8217;ouverture du ZIP un dossier plugin_info doit être présent.</simpara></tip>
</section>
<section id="_der_abschnitt_dämon_des_plugins">
<title>Der Abschnitt Dämon des Plugins</title>
<simpara>Einige Plugins haben Dämonen, hier finden Sie den Status der Jeedom Dämonen (Master oder Slave)</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin7.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin7.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Sie befinden sich hier :</simpara>
<itemizedlist>
<listitem>
<simpara>
<emphasis role="strong">Nom</emphasis> : jeedom en question (local veut dire celui sur lequel vous êtes)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Statut</emphasis> : indique le statut du démon
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Configuration</emphasis> : indique si tout est bon niveau configuration pour que le démon tourne
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">(Re)Démarrer</emphasis> : permet de redémarrer le démon
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Arrêter</emphasis> : permet d&#8217;arreter le démon (disponible seulement si la gestion automatique est désactivée)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Debug</emphasis> : permet de lancer le démon en debug (une icône sur le statut vous indiquera que vous êtes en debug)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Log</emphasis> : permet d&#8217;afficher la log du démon
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Gestion automatique</emphasis> : autorise Jeedom à démarrer et à relancer le démon en cas de soucis. Elle est à désactiver quand vous êtes en déporté et que par exemple sur le maître vous n&#8217;avez pas besoin que le démon tourne
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Dernier lancement</emphasis> : date de démarrage du démon
</simpara>
</listitem>
</itemizedlist>
</section>
<section id="_der_abschnitt_abhängigkeiten">
<title>Der Abschnitt Abhängigkeiten</title>
<simpara>Certains plugins ont des dépendances, vous trouverez ici le statut des dépendances par jeedom (maître ou esclave)</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin8.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin8.png</phrase></textobject>
</mediaobject>
</informalfigure>
<itemizedlist>
<listitem>
<simpara>
<emphasis role="strong">Nom</emphasis> : jeedom en question (local veut dire celui sur lequel vous êtes)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Statut</emphasis> : indique si les dépendances sont bien installées
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Installation</emphasis> : lance l&#8217;installation des dépendances
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Log</emphasis> : permet de voir la log d&#8217;installation des dépendances
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Dernière installation</emphasis> : donne la date à laquelle les dépendances ont été lancées pour la derniere fois
</simpara>
</listitem>
</itemizedlist>
</section>
</article>
