.eqLogic-widget,
.scenario-widget,
.panel,
.context-menu-list {
 box-shadow: 0 4px 2px -2px rgba(0,0,0,0.35);
 z-index: 0;
 transition: box-shadow 0.4s cubic-bezier(.25,.8,.25,1);
}
.eqLogic-widget:hover,
.scenario-widget:hover,
.panel:hover,
.context-menu-list:hover {
 box-shadow: 0 8px 22px 2px rgba(0,0,0,0.4);
 z-index: 5;
}

.panel-group .panel{
  box-shadow: none
}
.panel-collapse.collapse.in {
   box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
}

.nav.navbar-nav ul {
  box-shadow: 0 10px 12px rgba(0,0,0,0.4);
}
