/*
Theme Core 2019 @Jeedom
*/

@import url("colors.css");

span.cursor > i:hover,
i.cursor:hover,
i.cursor:active,
i.cursor:focus {
  color: var(--linkHover-color) !important;
  outline: none;
}


a,
i.cursor {
  color: var(--link-color) !important;
}
a:hover,
a:active,
a:focus {
  color: var(--linkHover-color) !important;
  text-decoration: none !important;
  outline: none;
}

.widget-name a,
.bt_sortable {
  color: var(--linkHoverLight-color) !important;
  font-size: 16px !important;
}

/* ___________________________________________________________DASHBOARD CATEGORIES coloring */

[data-category=security] {
  background-color: rgba(var(--cat-security-color), var(--opacity));
}
[data-category=heating] {
  background-color: rgba(var(--cat-heating-color), var(--opacity));
}
[data-category=automatism]{
  background-color: rgba(var(--cat-automatism-color), var(--opacity));
}
[data-category=light] {
  background-color: rgba(var(--cat-light-color), var(--opacity));
}
[data-category=multimedia] {
  background-color: rgba(var(--cat-multimedia-color), var(--opacity));
}
[data-category=energy] {
  background-color: rgba(var(--cat-energy-color), var(--opacity));
}
[data-category=''] {
  background-color: rgba(var(--cat-other-color), var(--opacity));
}
:not(.batteryListContainer) > .eqLogic-widget:not([data-category]) {
  background-color: rgba(var(--cat-other-color), var(--opacity));
}

.scenario-widget.scenario {
  background-color: rgba(var(--cat-scenario-color), var(--opacity)) !important;
}
.changeScenarioState,
.changeScenarioState > i {
  color: rgb(var(--cat-scenario-color));
}


[data-category=security] .btn {
  background-color: var(--cat-security-BtnColor) !important;
}
[data-category=heating] .btn {
  background-color: var(--cat-heating-BtnColor) !important;
}
[data-category=automatism] .btn {
  background-color: var(--cat-automatism-BtnColor) !important;
}
[data-category=light] .btn {
  background-color: var(--cat-light-BtnColor) !important;
}
[data-category=multimedia] .btn {
  background-color: var(--cat-multimedia-BtnColor) !important;
}
[data-category=energy] .btn {
  background-color: var(--cat-energy-BtnColor) !important;
}

.scenario-widget.scenario .btn {
  background-color: var(--cat-scenario-BtnColor) !important;
}

/* ___________________________________________________________DASHBOARD */

#div_displayObject > a {
  background-color: var(--btnEq-default-color) !important;
}
#div_displayObject > a > i {
  color: var(--link-color) !important;
}

.eqLogic.eqLogic-widget a,
span.cursor > i:hover {
  color: var(--linkHoverLight-color) !important;
}
.eqLogic.eqLogic-widget a:hover,
.scenario-widget a:hover,
.cmd-widget i:hover {
  opacity: 0.7 !important;
}

.eqLogic.eqLogic-widget .state,
.scenario-widget .state,
.eqLogic.eqLogic-widget p.state,
.eqLogic.eqLogic-widget .iconCmd > i:not([class*="icon_"]),
.eqLogic.eqLogic-widget .cmd,
.eqLogic.eqLogic-widget .cmd-widget > center,
.eqLogic.eqLogic-widget .cmd-widget .history {
  color: var(--linkHoverLight-color) !important;
}
.eqLogic.eqLogic-widget .tableCmd td:not(.tableCmdcss) {
  color: var(--sc-lightTxt-color) !important;
}
.eqLogic.eqLogic-widget .tableCmd td.tableCmdcss {
  color: var(--sc-lightTxt-color);
}



.gauge.history tspan {
  fill: var(--linkHoverLight-color) !important;
}

.ui-slider-handle,
.ui-slider-handle.ui-state-hover,
.ui-slider-handle.ui-state-focus {
  background-color: var(--linkHoverLight-color) !important;
}

.eqLogic-widget .btn-default,
.input-group-addon,
.scenario-widget .btn-default,
.eqLogic-widget .btn,
.scenario-widget .btn {
  color: var(--linkHoverLight-color) !important;
}

div.cmd-widget div[class^="content"] {
  color: var(--linkHoverLight-color) !important;
}

#bt_resetDashboardSearch,
#bt_editDashboardWidgetOrder,
#bt_displayObject,
#bt_displaySummaries {
  color: var(--txt-color) !important;
  background-color: var(--form-bg-color) !important;
}

.scenario-widget .iconCmd,
.eqLogic-widget .iconCmd,
.eqLogic-widget .cmdName,
.eqLogic-widget .cmdStats,
.eqLogic-widget :not(.tableCmdcss) .cmd:not(.label) .state,
.eqLogic-widget .cmd {
  color: var(--sc-lightTxt-color) !important;
}


/* analyse equipment */
#battery .eqLogic-widget {
  color: var(--linkHoverLight-color) !important;
}
#battery .eqLogic-widget .widget-name span {
  color: var(--txt-color) !important;
  background-color: rgb(var(--bg-color)) !important;
}
#battery .eqLogic-widget.critical {
  background-color: var(--al-danger-color) !important;
}
#battery .eqLogic-widget.warning {
  background-color: var(--al-warning-color) !important;
}
#battery .eqLogic-widget.good {
  background-color: var(--al-success-color) !important;
}
#battery .eqLogic-widget .jeedom-batterie i,
#battery .eqLogic-widget .jeedom-batterie span {
  color: var(--linkHoverLight-color) !important;
}
#battery .eqLogic-widget .batteryLevel {
  color: var(--linkHoverLight-color) !important;
}

div[data-subtype=select],
div[data-subtype=select] select {
  color: var(--linkHoverLight-color) !important;
}

.hgauge-value,
.vgauge-value,
.shuttergauge-value{
  background: var(--linkHoverLight-color) !important;
}
.state.valueshutter strong {
  color: var(--link-color) !important;
}

.highcharts-data-label > span > span {
  color: var(--linkHoverLight-color) !important;
}
.highcharts-color-0 {
  fill: var(--linkHoverLight-color);
}
.gauge .highcharts-grid-line {
  fill: transparent !important;
}

:not(.gauge) > .highcharts-container .highcharts-axis-line { stroke: var(--linkHoverLight-color)!important; }
:not(.gauge) > .highcharts-container .highcharts-tick { stroke: var(--linkHoverLight-color)!important; }
.highcharts-axis-labels text tspan { fill: var(--linkHoverLight-color)!important; }

[data-subtype=slider] > div > span,
span[style*="transform: translate(-50%, 150%)"] {
  color: var(--linkHoverLight-color);
}

/* CodeMirror */
.expressions .CodeMirror-wrap,
body:not([data-page="editor"]) .CodeMirror-line { opacity: 0.88 !important; }
body:not([data-page="editor"]) .CodeMirror-focused,
body:not([data-page="editor"]) .CodeMirror-selected { background: rgb(185,185,185) !important; }
