* {
  margin: 0;
  padding: 0;
}

nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 55px;
}

section {
    display: table;
    width: 100%;
}

.fixed {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.v100 {
    height: 100vh;
}
.v80 {
    height: 80vh;
}

.v70 {
    height: 70vh;
}

.v50 {
    height: 50vh;
}

.radius-border{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.opacity-background{
    background: rgba(0,0,0,.5);
}

.love-footer {
    color:red;
}

.container-wide {
    padding: 5em 2em;
}

.post-title {
    font-size: 2em;
}

.post-date {
    font-size: 0.8em;
}