/*
Theme Core 2019 @Jeedom
*/

@import url("colors.css");

a,
span.cursor > i,
i.cursor {
  color: var(--link-color) !important;
}
a:hover,
a:active,
a:focus {
  color: var(--linkHover-color) !important;
  text-decoration: none !important;
  outline: none;
}

.panel-default .panel-title {
  color: var(--linkHover-color) !important;
}



/* ___________________________________________________________DASHBOARD CATEGORIES title coloring */
#div_displayObject .eqLogic:not(.col-xs-12),
.eqLogic-widget {
  background-color: rgba(var(--eq-bg-color), var(--opacity)) !important;
  color: var(--txt-color) !important;
}
.scenario-widget {
  background-color: rgba(var(--eq-bg-color), var(--opacity)) !important;
}


#div_displayObject > a {
  background-color: var(--btnEq-default-color) !important;
}

.eqLogic-widget > .widget-name a,
.scenario-widget > .widget-name a,
.eqLogic-widget > span:first-child.statusCmd i {
  color: var(--eqTitle-color) !important;
  font-size: 16px !important;
}
.eqLogic-widget > .widget-name a:hover,
.scenario-widget > .widget-name a:hover {
  color: var(--linkHoverLight-color) !important;
}

.scenario.scenario-widget .widget-name {
  background-color: rgba(var(--cat-scenario-color), var(--opacity)) !important;
}

[data-category=security]>.widget-name {
  background-color: rgba(var(--cat-security-color), var(--opacity));
}
[data-category=heating]>.widget-name {
  background-color: rgba(var(--cat-heating-color), var(--opacity));
}
[data-category=automatism]>.widget-name {
  background-color: rgba(var(--cat-automatism-color), var(--opacity));
}
[data-category=light]>.widget-name {
  background-color: rgba(var(--cat-light-color), var(--opacity));
}
[data-category=multimedia]>.widget-name {
  background-color: rgba(var(--cat-multimedia-color), var(--opacity));
}
[data-category=energy]>.widget-name {
  background-color: rgba(var(--cat-energy-color), var(--opacity));
}
[data-category='']>.widget-name {
  background-color: rgba(var(--cat-other-color), var(--opacity));
}
:not(.batteryListContainer) > .eqLogic-widget:not([data-category]) > .widget-name {
  background-color: rgba(var(--cat-other-color), var(--opacity));
}


.eqLogic-widget .btn-default,
.input-group-addon,
.scenario-widget .btn-default {
  background-color: var(--btn-default-color) !important;
}

.eqLogic-widget .btn,
.scenario-widget .btn,
#bt_resetDashboardSearch,
#bt_editDashboardWidgetOrder,
#bt_displayObject,
#bt_displaySummaries {
  background-color: var(--btnEq-default-color) !important;
}

/* buttons on eq widgets */
.eqLogic.eqLogic-widget .btn,
.scenario.scenario-widget .btn,
#div_displayObject .btn {
  color: var(--link-color) !important;
}
.eqLogic.eqLogic-widget .btn:hover,
.scenario.scenario-widget .btn:hover,
#div_displayObject .btn:hover {
  color: var(--txt-color) !important;
}

/* CodeMirror */
.expressions .CodeMirror-wrap,
body:not([data-page="editor"]) .CodeMirror-line { opacity: 0.88 !important; }
body:not([data-page="editor"]) .CodeMirror-focused,
body:not([data-page="editor"]) .CodeMirror-selected { background: rgb(185,185,185) !important; }
