/*
Theme Core 2019 @Jeedom
shadows Light
*/

.eqLogic-widget,
.scenario-widget,
.panel,
.context-menu-list,
.eqLogicThumbnailDisplay .eqLogicThumbnailContainer:not(:first-of-type),
.dropdown-menu {
 box-shadow: 0 4px 2px -2px rgba(0,0,0,0.15);
 z-index: 0;
 transition: box-shadow 0.4s cubic-bezier(.25,.8,.25,1);
}
.eqLogic-widget:hover,
.scenario-widget:hover,
.panel.panel-default:hover,
.panel:hover,
.context-menu-list:hover,
.eqLogicThumbnailDisplay .eqLogicThumbnailContainer:not(:first-of-type):hover,
.dropdown-menu:hover {
 box-shadow: 0 8px 22px rgba(0,0,0,0.25);
 z-index: 5;
}

#div_scenarioElement > .element {
 box-shadow: 0 4px 2px -2px rgba(0,0,0,0.25);
 transition: box-shadow 0.4s cubic-bezier(.25,.8,.25,1);
}
#div_scenarioElement > .element:hover {
 box-shadow: 0 5px 12px 10px rgba(0,0,0,0.3);
 z-index: 5;
}

.tooltipster-sidetip .tooltipster-box {
  box-shadow: 0 4px 12px rgba(0,0,0,0.35);
}

.panel-group .panel{
  box-shadow: none
}
.panel-collapse.collapse.in {
   box-shadow: 0 2px 2px rgba(0,0,0,0.15);
}

.nav.navbar-nav ul {
  box-shadow: 0 10px 12px rgba(0,0,0,0.15);
}