<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="border:#border#;border-radius:#border-radius#;background-color: rgb(255,0,0);color: #color#;width: 160px;height: 155px;">
	<center class="widget-name">
		<a href="#eqLink#" style="font-size : 1.5em;">#name_display# <span style="font-size: 0.85em;">#object_name#</span></a>
	</center>
	<center>
		<span title="#alert_name#" style="cursor : default;font-size : 50px"><i class="#alert_icon#"></i></span><br/>
		<span style="color:white;font-size : 12px;font-weight: bold;Cursor:default">Equipement en alerte #alert_name#</span>
	</center>
</div>
