<div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="select" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="width: 146px;height: 44px;">
    <div class="cmdName" style="font-weight: bold;font-size : 12px;#hideCmdName#">#name_display#</div>
    <select class="selectCmd" style="color:#cmdColor#;background-color:#background-color#;border-radius: 5px;width: 146px; vertical-align: middle;margin-top: 0.5em;height: 28px;" title="#name_display#">#listValue#</select>
    <script>
      $(".cmd[data-cmd_uid=#uid#] .selectCmd").on('change', function () {
        jeedom.cmd.execute({id: '#id#', value: {select: $(this).value()}});
    });
</script>
</div>
