<div style="width:90px;min-height:62px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" title="Valeur du #valueDate#, collectée le #collectDate#">
    <center>
        <div style="font-weight: bold;font-size : 12px;#hideCmdName#">#name_display#</div>
        <span style="font-size: 3.5em;font-weight: bold;margin-top: 5px;" class="iconCmd#uid# iconCmd"></span>
    </center>
    <script>
        if ('#state#' == '1') {
            $('.iconCmd#uid#').append('<i class="icon jeedom-volet-ferme"></i>');
        }else {
            $('.iconCmd#uid#').append('<i class="icon jeedom-volet-ouvert"></i>');
        }
        if (isset(jeedom.cmd.update)) {
            jeedom.cmd.update['#id#'] = function(_options){
                $('.cmd[data-cmd_id=#id#]').attr('title','Valeur du '+_options.valueDate+', collectée le '+_options.collectDate)
                if (_options.display_value == '1') {
                 $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="icon jeedom-volet-ferme"></i>');
             }else {
                $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="icon jeedom-volet-ouvert"></i>');
            }
        }
    </script>
</div>
