<div style="min-width:90px;min-height:60px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="Valeur du #valueDate#, collectée le #collectDate#">
    <center>
        <div class='cmdName' style="font-weight: bold;font-size : 12px;#hideCmdName#">#name_display#</div>
        <span style="font-size: 2em;font-weight: bold;margin-top: 5px;">#state#</span><br/>
        <span style="color: #666666;font-weight: bold;">#unite#</span>
    </center>
</div>