<span class="cmd  cmd-widget" data-type="action" data-subtype="slider" data-cmd_id="#id#" data-cmd_uid="#uid#">
    <div class="cmdName" style="font-weight: bold;font-size : 12px;#hideCmdName#">#name_display#</div>
    <div class="slider" style="margin : 5px 10px 8px 10px;width: 80px;" value="#state#"></div>

    <script>
        $(".cmd[data-cmd_uid=#uid#] .slider").bootstrapSlider({
            min: ('#minValue#' == '') ? 0 : parseInt('#minValue#'),
            max: ('#maxValue#' == '') ? 100 : parseInt('#maxValue#'),
            value: ('#state#' == '') ? 0 : parseInt('#state#')
        });
        $(".cmd[data-cmd_uid=#uid#] .slider.slider-horizontal").css('z-index',1);
        $(".cmd[data-cmd_uid=#uid#] .slider").off('slideStop').on('slideStop', function (ev) {
            jeedom.cmd.execute({id: '#id#', value: {slider: ev.value}});
        });


        if (isset(jeedom.cmd.update)) {
          jeedom.cmd.update['#id#'] = function(_options){
            $(".cmd[data-cmd_id=#id#] .slider").bootstrapSlider({
                min: ('#minValue#' == '') ? 0 : parseInt('#minValue#'),
                max: ('#maxValue#' == '') ? 100 : parseInt('#maxValue#'),
                value: ('#state#' == '') ? 0 : parseInt(_options.display_value)
            })
            $(".cmd[data-cmd_id=#id#] .slider").off('slideStop').on('slideStop', function (ev) {
                jeedom.cmd.execute({id: '#id#', value: {slider: ev.value}});
            });
            if (parseInt(_options.display_value) > 0) {
             $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="icon jeedom-lumiere-on"></i>');
             $('.cmd[data-cmd_id=#id#] .iconCmd').attr('data-state', 'on');
         }else {
            $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="icon jeedom-lumiere-off"></i>');
            $('.cmd[data-cmd_id=#id#] .iconCmd').attr('data-state', 'off');
        }
    }
}
</script>
</span>