<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="value" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content">
    <input id="sliderInput#id#" type="number" min="#minValue#" max="#maxValue#">
    <div id="widget_slider#id#" class="slider"></div>
  </div>
  <div class="timeCmd label label-default #value_history#" data-type="info" data-cmd_id="#value_id#"></div>
  <template>
    <div>color : rgb(20,20,20) ({{Couleur d'arrière plan}})</div>
    <div>step : 1 ({{Pas du changement de valeur}})</div>
    <div>noslider : 1 ({{Ne pas afficher le slider}})</div>
    <div>width : 55 ({{Largeur de la zone de saisie}})</div>
    <div>time : duration|date ({{Affiche durée ou date de la valeur}})</div>
  </template>
  <script>
    var step = (domUtils.issetWidgetOptParam('#step#', 'step')) ? parseFloat('#step#') : 1
    document.querySelector('.cmd[data-cmd_uid="#uid#"] #sliderInput#id#').setAttribute('step', step)

    new ISpin(document.getElementById('sliderInput#id#'), {
      wrapperClass: 'ispin-wrapper',
      buttonsClass: 'ispin-button',
      step: step,
      min: parseFloat('#minValue#') || undefined,
      max: parseFloat('#maxValue#') || undefined,
      disabled: false,
      repeatInterval: 200,
      wrapOverflow: false,
      parse: Number,
      onChange: function(value) {
        clearTimeout(window['spinTimer#id#'])
        window['spinTimer#id#'] = setTimeout(function() {
          document.querySelector('.cmd[data-cmd_uid="#uid#"] #sliderInput#id#').blur()
        }, 1000)
      }
    })

    if ('#noslider#' != '1') {
      window['mySlider#id#'] = domUtils.createWidgetSlider({
        sliderDiv: document.getElementById('widget_slider#id#'),
        state: ('#state#' == '') ? parseFloat('#minValue#') : '#state#',
        min: parseFloat('#minValue#'),
        max: parseFloat('#maxValue#'),
        step: step,
        tooltips: false
      })

      window['mySlider#id#'].on('update', function(values, handle) {
        let input = document.querySelector('.cmd[data-cmd_uid="#uid#"] #sliderInput#id#')
        if (parseInt(values[handle]) == parseFloat(values[handle])) {
          input.value = parseInt(values[handle])
        } else {
          input.value = parseFloat(values[handle])
        }
      })

      window['mySlider#id#'].on('change', function(values, handle) {
        jeedom.cmd.execute({ id: '#id#', value: { slider: values[handle] } })
      })

      document.querySelector('.cmd[data-cmd_uid="#uid#"] #sliderInput#id#').addEventListener("keyup", function(event) {
        if (event.which != 13) {
          return;
        }
        jeedom.cmd.execute({ id: '#id#', value: { slider: parseFloat(this.value) } })
      })

      if (domUtils.issetWidgetOptParam('#color#', 'color')) {
        document.querySelector('.cmd[data-cmd_uid="#uid#"] .noUi-handle').style.setProperty('background-color', '#color#', 'important')
        document.querySelector('.cmd[data-cmd_uid="#uid#"] .noUi-connect').style.setProperty('background-color', '#color#', 'important')
      }
    }

    document.querySelector('.cmd[data-cmd_uid="#uid#"] #sliderInput#id#').addEventListener('blur', function(event) {
      clearTimeout(window['spinTimer#id#'])
      if (this.getAttribute('value') != this.value) {
        jeedom.cmd.execute({ id: '#id#', value: { slider: parseFloat(this.value) } })
      }
    })

    jeedom.cmd.addUpdateFunction('#id#', function(_options) {
      if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
        if ('#time#' == 'duration' || '#time#' == 'date') {
          jeedom.cmd.displayDuration(_options.valueDate, cmd.querySelector('.timeCmd'), '#time#')
        }

        let input = cmd.querySelector('#sliderInput#id#')
        input.value = _options.value
        input.setAttribute('value', _options.value)
        input.setAttribute('aria-valuenow', _options.value)
        if ('#noslider#' != '1') window['mySlider#id#'].set(_options.value)
      }
    })

    jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#state#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }])

    if (domUtils.issetWidgetOptParam('#width#', 'width') && parseFloat('#width#') >= 70) {
      document.querySelector('.cmd[data-cmd_uid="#uid#"]  #sliderInput#id#').style.width = '#width#px'
    }
  </script>
</div>
