<div class="cmd cmd-widget shuttergauge" data-type="action" data-subtype="numeric" data-template="shutter" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content content-inline">
    <div class="shuttergauge-chart">
      <div class="shuttergauge-bckg cursor">
        <div class="shuttergauge-value"></div>
      </div>
      <div class="state">
        <span class="value"></span> <span class="unit"></span>
      </div>
    </div>
    <div id="widget_slider#id#" class="slider"></div>
  </div>
  <div class="timeCmd label label-default #value_history#" data-type="info" data-cmd_id="#value_id#"></div>
  <template>
    <div>color : rgb(20,20,20) ({{Couleur de l'indicateur de valeur}})</div>
    <div>step : 1 ({{Pas du changement de valeur}})</div>
    <div>invert : 1 ({{Inverse la position de l'indicateur de valeur}})</div>
    <div>time : duration|date ({{Affiche durée ou date de la valeur}})</div>
  </template>
  <script>
    window['mySlider#id#'] = domUtils.createWidgetSlider({
      sliderDiv: document.getElementById('widget_slider#id#'),
      vertical: true,
      state: ('#state#' == '') ? parseFloat('#minValue#') : '#state#',
      min: parseFloat('#minValue#'),
      max: parseFloat('#maxValue#'),
      step: (domUtils.issetWidgetOptParam('#step#', 'step')) ? parseFloat('#step#') : 1,
      tooltips: true,
      format: true,
      unite: '#unite#'
    })

    window['mySlider#id#'].on('change', function(values, handle) {
      let value = values[handle].replace('#unite#', '').trim()
      jeedom.cmd.execute({ id: '#id#', value: { slider: value } })
    })

    jeedom.cmd.addUpdateFunction('#id#', function(_options) {
      if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
        cmd.setAttribute('title', '{{Date de valeur}} : ' + _options.valueDate + '<br>{{Date de collecte}} : ' + _options.collectDate)
        if ('#time#' == 'duration' || '#time#' == 'date') {
          jeedom.cmd.displayDuration(_options.valueDate, cmd.querySelector('.timeCmd'), '#time#')
        }

        if (is_numeric(_options.value)) {
          let minValue = parseFloat('#minValue#'), maxValue = parseFloat('#maxValue#'), height = ((_options.value - minValue) * 100) / (maxValue - minValue)
          if (height > maxValue) height = maxValue
          if (height < minValue) height = minValue
          if ('#invert#' != '1') {
            height = 100 - (Math.round(parseFloat(height) * 10) / 10)
          }

          cmd.querySelector('.shuttergauge-value').style.height = height + '%'
          cmd.querySelector('.value').innerHTML = _options.display_value
          cmd.querySelector('.unit').innerHTML = _options.unit
          window['mySlider#id#'].set(_options.value)
        } else {
          cmd.querySelector('.value').innerHTML = '<span class="label label-danger">' + _options.value + '</span>'
        }
      }
    })

    document.querySelector('.cmd[data-cmd_uid="#uid#"] .shuttergauge-bckg').addEventListener('click', function() {
      let minValue = parseFloat('#minValue#'), maxValue = parseFloat('#maxValue#'), shutterPos = parseFloat(window['mySlider#id#'].get())
      if (shutterPos > (maxValue - minValue) / 2) {
        jeedom.cmd.execute({ id: '#id#', value: { slider: minValue } })
      } else {
        jeedom.cmd.execute({ id: '#id#', value: { slider: maxValue } })
      }
    })

    jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#state#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }])

    if (domUtils.issetWidgetOptParam('#color#', 'color')) {
      document.querySelector('.cmd[data-cmd_uid="#uid#"] .shuttergauge-value').style.setProperty('background-color', '#color#', 'important')
      document.querySelector('.cmd[data-cmd_uid="#uid#"] .noUi-handle').style.setProperty('background-color', '#color#', 'important')
      document.querySelector('.cmd[data-cmd_uid="#uid#"] .noUi-connect').style.setProperty('background-color', '#color#', 'important')
    }
  </script>
</div>
