<div class="tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" title="Valeur du #valueDate#, collectée le #collectDate#" >
  <div class="squareWidget shuttergauge cursor #history#" data-cmd_id="#id#" >
    <div  class="cmdName" style="#hideCmdName#">#name_display#</div>
    <div class="shuttergauge-chart">
      <div class="shuttergauge-bckg">
        <div class="shuttergauge-value"></div>
      </div>
      <div class="shuttergauge-state state"><strong>#state#</strong> <strong>#unite#</strong></div>
    </div>
    <div>
      <div class="slider" value="#state#"></div>
    </div>
  </div>
  <script>
    jeedom.cmd.update['#id#'] = function(_options){
      height = ((_options.display_value - #minValue#) * 100) / (#maxValue# - #minValue#)
      height = 100 - (Math.round(parseFloat(height) * 10) / 10)
      $('.cmd[data-cmd_uid=#uid#] .shuttergauge-value').height(height+'%')
      $('.cmd[data-cmd_uid=#uid#] .shuttergauge-state strong').first().text(_options.display_value)

      $(".cmd[data-cmd_id=#id#] .slider").slider({
        min: ('#minValue#' == '') ? 0 : parseInt('#minValue#'),
        max: ('#maxValue#' == '') ? 100 : parseInt('#maxValue#'),
        value: ('#state#' == '') ? 0 : parseInt(_options.display_value),
        slide: function(event, ui) {
          $(".value#uid#").show()
          $(".value#uid#").html(ui.value)
        }
      })
    }

    $('.cmd[data-cmd_uid=#uid#] .shuttergauge-bckg').off().on('click', function() {
      shutterPos = $('.cmd[data-cmd_uid=#uid#] .shuttergauge-state').find('strong').first().html()
      if (shutterPos > 50) {
        jeedom.cmd.execute({id: '#id#', value: {slider: 0}})
      } else {
        jeedom.cmd.execute({id: '#id#', value: {slider: 100}})
      }
    })

    $(".cmd[data-cmd_uid=#uid#] .slider").on('slidestop', function (event,ui) {
      jeedom.cmd.execute({id: '#id#', value: {slider: ui.value}})
      $(".value#uid#").hide()
    })

    jeedom.cmd.update['#id#']({display_value:'#state#'})
  </script>
</div>
