<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="value" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content-xs">
    <input type="number" min="#minValue#" max="#maxValue#" value="#state#" step="1" id="sliderInput#id#">
    <div id="widget_slider#id#" class="slider"></div>
  </div>
  <template>
    <div>color : rgb(20,20,20) ({{Couleur d'arrière plan}})</div>
    <div>step : 0.5 ({{Pas utilisé pour le changement de valeur}})</div>
    <div>noslider : 1 ({{Ne pas afficher le slider}})</div>
  </template>
  <script>
    var $inputNumber#id# = $('#sliderInput#id#')
    var step#id# = 1
    var spinTimer#id# = null
    if ($.issetWidgetOptParam('#step#', 'step')) {
      step#id# = parseFloat('#step#')
      $inputNumber#id#.attr('step', step#id#)
    }

    $('#sliderInput#id#').spinner({
      icons: { down: "ui-icon-triangle-1-s", up: "ui-icon-triangle-1-n"},
      stop: function(event, ui) {
        if (event.currentTarget.id != 'sliderInput#id#') {
          clearTimeout(spinTimer#id#)
          spinTimer#id# = setTimeout(function() {
            $inputNumber#id#.trigger('change')
          }, 1000)
        }
      }
    })

    if ('#noslider#' != '1') {
      var mySlider#id# = $.createWidgetSlider({
        sliderDiv: document.getElementById('widget_slider#id#'),
        state: ('#state#' == '') ? #minValue# : '#state#',
        min: #minValue#,
        max: #maxValue#,
        step: step#id#,
        tooltips: false
      })

      if ($.issetWidgetOptParam('#color#', 'color')) {
        $(mySlider#id#.target).find('.noUi-handle').style('background', '#color#', 'important')
        $(mySlider#id#.target).find('.noUi-connect').style('background', '#color#', 'important')
      }

      mySlider#id#.on('update', function(values, handle) {
        let value = values[handle].replace('#unite#', '').trim()
        if (values[handle]) {
          if (parseInt(value) == parseFloat(value)) {
            $inputNumber#id#.val(parseInt(value))
          } else {
            $inputNumber#id#.val(parseFloat(value))
          }
        }
      })

      mySlider#id#.on('change', function(values, handle) {
        jeedom.cmd.execute({id: '#id#', value: {slider: values[handle].replace('#unite#', '').trim()}})
      })
    }

    $inputNumber#id#.on('focusout', function(event) {
      clearTimeout(spinTimer#id#)
      if ($(this).attr('value') == $(this).attr('aria-valuenow')) return false
      if ('#noslider#' != '1') mySlider#id#.set(this.value)
      jeedom.cmd.execute({id: '#id#', value: {slider: this.value}})
    })

    $inputNumber#id#.on('change', function(event) {
      if ('#noslider#' != '1') mySlider#id#.set(this.value)
      jeedom.cmd.execute({id: '#id#', value: {slider: this.value}})
    })

    jeedom.cmd.addUpdateFunction('#id#',function(_options) {
      $inputNumber#id#.val(_options.value).attr('value', _options.value).attr('aria-valuenow', _options.value)
      if ('#noslider#' != '1') mySlider#id#.set(_options.value)
    });
  </script>
</div>
