<div style="width:90px;min-height:62px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="Valeur du #valueDate#, collectée le #collectDate#">
  <center>
    <div style="font-weight: bold;font-size : 12px;#hideCmdName#" class='cmdName'>#name_display#</div>
    <span style="font-size: 3.5em;font-weight: bold;margin-top: 5px;" class="iconCmd#uid#"></span><br/>
    <span class="timeCmd#uid# label label-default" style="background-color:#cmdColor# !important;"></span>
  </center>
  <script>
    jeedom.cmd.displayDuration('#valueDate#', $('.timeCmd#uid#:last'));
    if ('#state#' == '1') {
      $('.iconCmd#uid#:last').append('<i class="fa fa-check"></i>');
    }else {
      $('.iconCmd#uid#:last').append('<i class="icon jeedom-mouvement"></i>');
    }
  </script>
</div>
