<div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="content-xs">
    <a class="btn btn-sm btn-default execute tooltips">#name_display#</a>
  </div>
  <template></template>
  <script>
    document.querySelector('.cmd[data-cmd_uid=#uid#] .execute').addEventListener('click', function() {
      jeedom.cmd.execute({ id: '#id#' })
    })

    if ('#name#' != '#name_display#') {
      document.querySelector('.cmd[data-cmd_uid=#uid#] .execute').setAttribute('title', '#name#')
    }
  </script>
</div>
