<div class="tooltips shuttergauge cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" title="Valeur du #valueDate#, collectée le #collectDate#" >
  <div class="title cursor #history# #hide_name#" data-cmd_id="#id#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content-sm " data-cmd_id="#id#">
    <div class="shuttergauge-chart">
      <div class="shuttergauge-bckg">
        <div class="shuttergauge-value"></div>
      </div>
    </div>
  </div>
  <div class="value" data-cmd_id="#id#">
    <div class="state"><strong>#state#</strong> <strong>#unite#</strong></div>
  </div>
  <div class="cmdStats #hide_history#">
	<span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
  </div>

  <script>
    jeedom.cmd.update['#id#'] = function(_options){
      height = ((_options.display_value - #minValue#) * 100) / (#maxValue# - #minValue#)
      height = 100 - (Math.round(parseFloat(height) * 10) / 10)
      $('.cmd[data-cmd_uid=#uid#] .shuttergauge-value').height(height+'%')
      $('.cmd[data-cmd_uid=#uid#] .state strong').first().text(_options.display_value)
    }

    jeedom.cmd.update['#id#']({display_value:'#state#'});
  </script>
</div>
