<div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="text" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="width: 146px;">
  <div class="content-sm ">
    <textarea class="form-control input-sm text" rows="2" style="margin-top : 5px; resize:vertical;height: 50px;" placeholder="Texte" data-cmd_id="#id#"></textarea>
  </div>
  <div class="value">
    <a class='btn btn-success btn-xs execute'>#name#</a>
  </div>
  <script>
    $('.cmd[data-cmd_id=#id#] .execute').on('click', function() {
      jeedom.cmd.execute({id: '#id#', value: {text: $('.cmd[data-cmd_id=#id#] .text').value()}});
    });
  </script>
</div>
