<div class="cmd cmd-widget #history#" data-type="info" data-subtype="string" data-template="multiline" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="content-xs">
    <div class="cmdName #hide_name#">#name_display# <span class="value"></span> <strong class="unit"></strong></div>
  </div>
  <template>
    <div>maxHeight : 24 ({{Hauteur maximale en pixel}})</div>
    <div>minHeight : 12 ({{Hauteur minimal en pixel}})</div>
    <div>backgroundColor : rgb(20,20,20) ({{Couleur de fond}})</div>
  </template>
  <script>
    jeedom.cmd.addUpdateFunction('#id#', function(_options) {
      if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
        cmd.querySelector('.content-xs').setAttribute('title', '{{Date de valeur}}: ' + _options.valueDate + '<br>{{Date de collecte}}: ' + _options.collectDate)

        cmd.querySelector('.value').innerHTML = _options.display_value
        cmd.querySelector('.unit').innerHTML = _options.unit

        if (_options.alertLevel == 'warning') {
          cmd.querySelector('.value').innerHTML = '<span class="label label-warning"><i class="fas fa-bell"></i> ' + _options.value + '</span>'
        } else if (_options.alertLevel == 'danger') {
          cmd.querySelector('.value').innerHTML = '<span class="label label-danger"><i class="fas fa-exclamation"></i> ' + _options.value + '</span>'
        }
      }
    })

    jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#value#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }])

    if (is_numeric('#maxHeight#')) {
      document.querySelector('.cmd[data-cmd_uid="#uid#"]').style.maxHeight = '#maxHeight#px'
    }
    if (is_numeric('#minHeight#')) {
      document.querySelector('.cmd[data-cmd_uid="#uid#"]').style.minHeight = '#minHeight#px'
    }
    if (domUtils.issetWidgetOptParam('#backgroundColor#', 'backgroundColor')) {
      document.querySelector('.cmd[data-cmd_uid="#uid#"] .value').style.backgroundColor = '#backgroundColor#'
    }
  </script>
</div>
