<div class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id#" data-template="btnAlert" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="content-xs">
    <a class="btn btn-sm btn-default action cmdName tooltips" title="#name#">
      <span class="iconCmd"></span>
      <span class="cmdName #hide_name#">#valueName#</span>
    </a>
  </div>
  <template></template>
  <script>
    jeedom.cmd.update['#id#'] = function(_options) {
      if (['1', 1, '99', 99, 'on'].includes(_options.display_value)) {
        if (jeedom.cmd.normalizeName('#name#') == 'on') {
          $('.cmd[data-cmd_id=#id#]').hide()
        }else{
          $('.cmd[data-cmd_id=#id#]').show()
          $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="far fa-bell"></i>')
        }
      } else if (['0', 0, 'off'].includes(_options.display_value)) {
        if (jeedom.cmd.normalizeName('#name#') == 'off') {
          $('.cmd[data-cmd_id=#id#]').hide()
        }else{
          $('.cmd[data-cmd_id=#id#]').show()
          $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="far fa-bell-slash"></i>')
        }
      }
    }
    jeedom.cmd.update['#id#']({display_value:' #state#'})

    $('.cmd[data-cmd_uid=#uid#] .action').off().on('click', function () {
      jeedom.cmd.execute({id: '#id#'})
    })

    if ($('.cmd[data-cmd_uid=#uid#]').last().prev().data('subtype') != undefined && $('.cmd[data-cmd_id=#id#]').last().prev().data('subtype') != 'other'
    && $('.cmd[data-cmd_uid=#uid#]').last().prev().css('display') != 'block') {
      $('.cmd[data-cmd_uid=#uid#]').last().prepend('<br/>')
    }
  </script>
</div>
