<div class="cmd cmd-widget" data-type="action" data-subtype="color" data-cmd_id="#id#" style="width: 146px;height: 40px;">
    <input class="action_colorpicker_change form-control cursor" type="color" style="display: inline;width: 90px;">
    <a class="btn btn-black action_colorpicker_off" style="position: relative; top: -1px;border: none;border-radius : 0px;color:white;">Off</a>

    <script>
        $('.cmd[data-cmd_id=#id#] .action_colorpicker_change').value(('#state#' != '') ? '#state#' : '#000000');
        $('.cmd[data-cmd_id=#id#] .action_colorpicker_off').on('click', function() {
            jeedom.cmd.execute({id: '#id#', value: {color: '#000000'}});
            $('.cmd[data-cmd_id=#id#] .action_colorpicker_change').value('#000000');
        });
        $('.cmd[data-cmd_id=#id#] .action_colorpicker_change').on('change', function() {
            jeedom.cmd.execute({id: '#id#', value: {color: $(this).value()}});
        });
    </script>
</div>