<div style="width:90px;min-height:62px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" title="Valeur du #valueDate#, collectée le #collectDate#">
    <center>
        <span style="font-weight: bold;font-size : 12px;" class='cmdName'>#name_display#</span>
        <span style="font-size: 3.5em;font-weight: bold;margin-top: 5px;" class="iconCmd#uid#"></span>
    </center>
    <script>
        if ('#state#' == '1') {
            $('.iconCmd#uid#').append('<i class="icon jeedom-fenetre-ferme"></i>');
        }else {
            $('.iconCmd#uid#').append('<i class="icon jeedom-fenetre-ouverte"></i>');
        }
    </script>
</div>
