<div class="cmd cmd-widget" data-type="action" data-subtype="color" data-template="default" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content">
    <input class="input-sm action action_colorpicker_change" type="color">
  </div>
  <div class="timeCmd label label-default #value_history#" data-type="info" data-cmd_id="#value_id#"></div>
  <template>
    <div>time : duration|date ({{Affiche durée ou date de la valeur}})</div>
  </template>
  <script>
    document.querySelector('.cmd[data-cmd_uid=#uid#] .action_colorpicker_change').addEventListener('change', function() {
      jeedom.cmd.execute({ id: '#id#', value: { color: this.value } })
    })

    jeedom.cmd.addUpdateFunction('#id#', function(_options) {
      if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
        if ('#time#' == 'duration' || '#time#' == 'date') {
          jeedom.cmd.displayDuration(_options.valueDate, cmd.querySelector('.timeCmd'), '#time#')
        }
        if (_options.display_value.length == 0) {
          cmd.querySelector('.action_colorpicker_change').value = '#000000'
        } else if (_options.display_value.startsWith('#')) {
          cmd.querySelector('.action_colorpicker_change').value = _options.display_value.substr(0, 7)
        } else {
          cmd.querySelector('.action_colorpicker_change').value = '#' + _options.display_value.substr(0, 6)
        }
      }
    })

    jeedom.cmd.refreshValue([{ cmd_id: '#id#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }])
  </script>
</div>
