<div class="cmd cmd-widget #history#" data-type="info" data-subtype="numeric" data-template="tmplmultistate" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
	<div class="title #hide_name#">
		<div class="cmdName">#name_display#</div>
	</div>
	<div class="content-sm">
		<span class="iconCmd"></span>
	</div>
	<div class="value">
		<span class="timeCmd#uid# timeCmd label label-default value"></span>
	</div>
	<div class="cmdStats #hide_history#">
		<span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
	</div>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			var cmd = $('.cmd[data-cmd_id=#id#]');
			if('#_time_widget_#' == '1'){
				jeedom.cmd.displayDuration(_options.valueDate,  cmd.find('.timeCmd'));
			}else{
				cmd.find('.timeCmd').parent().remove();
			}
			var state = '';
			cmd.attr('title','Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate+'<br/>Valeur : '+_options.display_value+'#unite#');
			#test#
			cmd.find('.iconCmd').empty().append(state);
			var style = '';
			if(!isNaN('#_desktop_width_#')){
				style = 'width:#_desktop_width_#px !important;'
			}
			cmd.find('.iconCmd img').attr('style',style);
			cmd.off('changeThemeEvent').on('changeThemeEventCmd',function (event, theme) {
				var state = '';
				#change_theme#
				if(state != ''){
					cmd.find('.iconCmd').empty().append(state);
				}
				var style = '';
				if(!isNaN('#_desktop_width_#')){
					style = 'width:#_desktop_width_#px !important;'
				}
				cmd.find('.iconCmd img').attr('style',style);
			});
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
		$('body').on('changeThemeEvent', function (event, theme) {
			$('.cmd[data-cmd_id=#id#]').trigger('changeThemeEventCmd');
		});
	</script>
	<!-- Hide parameters  #_mobile_width_# -->
</div>
