<div style="width:90px;" class="cmd #history# tooltips cmd-widget" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div style="width:55px; height:80px;" class="shuttergauge cursor #history#" data-cmd_id="#id#" >
    <div  class="cmdName #hide_name#">#name_display#</div>
    <div class="shuttergauge-chart">
      <div class="shuttergauge-bckg">
        <div class="shuttergauge-value"></div>
      </div>
    </div>
  </div>
  <script>
    jeedom.cmd.update['#id#'] = function(_options){
      $('.cmd[data-cmd_id=#id#]').attr('title','Valeur du '+_options.valueDate+', collectée le '+_options.collectDate)
      if (_options.display_value == '1') {
        $('.cmd[data-cmd_uid=#uid#] .shuttergauge-value').height('100%')
      }else {
        $('.cmd[data-cmd_uid=#uid#] .shuttergauge-value').height('0')
      }
    }
    jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
  </script>
</div>
