<div style="min-width:90px;min-height:100px;margin-right: 5px;margin-left: 5px;padding:0px !important;" class="cmd #history# container-fluid tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="Valeur du #valueDate#, collectée le #collectDate#">
    <center>
        <span class='cmdName' style="font-weight: bold;font-size : 12px;">#name_display#<br/></span>
        <span style="font-weight: bold;" class="pull-right">#unite#</span>
        <span style="font-size: 2em;font-weight: bold;" class="pull-right">#state#</span><br/>
        
        <div style="#displayHistory# font-size: 0.8em;" class="col-xs-12 center-block">
            <span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
        </div>
    </center>
</div>