<div style="min-height : 60px;min-width : 20px;" class="cmd #history# container-fluid tooltips cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#"  title="Valeur du #valueDate#, collectée le #collectDate#">
    <center>
      <span class='cmdName' style="font-weight: bold;font-size : 12px;">#name_display#</span><br/>
      <span class='label label-info' style="font-size: 1em;">#state# #unite#</span>
        <div style="#displayHistory# font-size: 0.8em;" class="col-xs-12 center-block">
            <span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
        </div>
    </center>
</div>