<div class="cmd cmd-widget #history#" data-type="action" data-subtype="numeric" data-template="tmplimg" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content-sm ">
    <span class="cursor imgCmd#uid# imgCmd"></span>
  </div>
  <div class="value">
    <div class="slider" value="#state#">
      <span class="value#uid# sliderValue"></span>
    </div>
    <span class="timeCmd#uid# timeCmd label label-default"></span>
  </div>
  <script>
    jeedom.cmd.update['#id#'] = function(_options){
      var cmd = $('.cmd[data-cmd_id=#id#]');
      if('#_time_widget_#' == '1'){
        jeedom.cmd.displayDuration(_options.valueDate,  cmd.find('.timeCmd'));
      }else{
        cmd.find('.timeCmd').remove();
      }
      cmd.find('.slider').slider({
        min: ('#minValue#' == '') ? 0 : parseInt('#minValue#'),
        max: ('#maxValue#' == '') ? 100 : parseInt('#maxValue#'),
        value: ('#state#' == '') ? 0 : parseInt(_options.display_value),
        slide: function(event, ui) {
          $(".value#uid#").show();
          $(".value#uid#").html(ui.value);
        }
      });
      if (parseInt(_options.display_value) > 0) {
        cmd.attr('data-state','on')
        cmd.find('.imgCmd').empty().append(jeedom.widgets.getThemeImg("#_img_light_on_#","#_img_dark_on_#"));
      }else {
        cmd.attr('data-state','off')
        cmd.find('.imgCmd').empty().append(jeedom.widgets.getThemeImg("#_img_light_off_#","#_img_dark_off_#"));
      }
      var style = '';
      if(!isNaN('#_desktop_width_#')){
        style = 'width:#_desktop_width_#px !important;'
      }
      cmd.find('.imgCmd img').attr('style',style);
      cmd.off('changeThemeEventCmd').on('changeThemeEventCmd',function (event, theme) {
        var cmd = $('.cmd[data-cmd_id=#id#]');
        if(cmd.attr('data-state') == 'on'){
          cmd.find('.imgCmd').empty().append(jeedom.widgets.getThemeImg("#_img_light_on_#","#_img_dark_on_#"))
        }else{
          cmd.find('.imgCmd').empty().append(jeedom.widgets.getThemeImg("#_img_light_off_#","#_img_dark_off_#"))
        }
        var style = '';
        if(!isNaN('#_desktop_width_#')){
          style = 'width:#_desktop_width_#px !important;'
        }
        cmd.find('.imgCmd img').attr('style',style);
      });
    }
    jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
    $('.imgCmd#uid#').off().on('click', function() {
      if ($(this).attr('data-state') == 'on') {
        var value = ('#minValue#' == '') ? 0 : parseInt('#minValue#');
        jeedom.cmd.execute({id: '#id#', value: {slider: value}});
      } else {
        var value = ('#minValue#' == '') ? 100 : parseInt('#maxValue#');
        jeedom.cmd.execute({id: '#id#', value: {slider: value}});
      }
    });
    $(".cmd[data-cmd_uid=#uid#] .slider").on('slidestop', function (event,ui) {
      jeedom.cmd.execute({id: '#id#', value: {slider: ui.value}});
      $(".value#uid#").hide();
    });
    $('body').on('changeThemeEvent', function (event,theme) {
      $('.cmd[data-cmd_id=#id#]').trigger('changeThemeEventCmd',theme);
    });
  </script>
  <!-- Hide parameters  #_mobile_width_# -->
</div>
