<div class="cmd cmd-widget shuttergauge" data-type="action" data-subtype="numeric" data-template="shutter" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content-sm" data-cmd_id="#id#">
    <div class="shuttergauge-chart">
      <div class="shuttergauge-bckg cursor">
        <div class="shuttergauge-value"></div>
      </div>
      <div class="slider" value="#state#">
      </div>
    </div>
  </div>
  <div class="value" data-cmd_id="#id#">
    <div class="state valueshutter"><strong>#state#</strong> <strong>#unite#</strong></div>
    <div class="state dynamicshutter hidden"></div>
  </div>

  <script>
    jeedom.cmd.update['#id#'] = function(_options) {
      var cmd = $('.cmd[data-cmd_uid=#uid#]')
      var position = _options.display_value
      var minValue = ('#minValue#' == '') ? 0 : parseInt('#minValue#')
      var maxValue = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
      cmd.attr('title','Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
      if ('#invert#' == '1') {
        position = maxValue - position
      }
      height_#uid# = ((position - minValue) * 100) / (maxValue - minValue)
      height_#uid# = 100 - (Math.round(parseFloat(height_#uid#) * 10) / 10)
      if (height_#uid# > 65) {
        cmd.find('.state strong').css('color','var(--bg-modal-color)')
        cmd.find('.value').css({'margin-top':'-35px', 'min-height':'51px'})
        cmd.find('.value .timeCmd').css('top','28px')
      } else {
        cmd.find('.state strong').css('color','var(--txt-color)')
        cmd.find('.value').css({'margin-top':'-12px', 'min-height':'28px'})
        cmd.find('.value .timeCmd').css('top','5px')
      }
      cmd.find('.shuttergauge-value').height(height_#uid#+'%')
      cmd.find('.state strong').first().text(_options.display_value)
      cmd.find('.slider').slider( "option", "value",position);
    }

    $('.cmd[data-cmd_uid=#uid#] .shuttergauge-bckg').off().on('click', function() {
      shutterPos = $('.cmd[data-cmd_uid=#uid#] .state strong').first().html()
      var minValue = ('#minValue#' == '') ? 0 : parseInt('#minValue#')
      var maxValue = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
      if (shutterPos > 50) {
        jeedom.cmd.execute({id: '#id#', value: {slider: minValue}})
      } else {
        jeedom.cmd.execute({id: '#id#', value: {slider: maxValue}})
      }
    })

    $('.cmd[data-cmd_uid=#uid#] .slider').on('slidestop', function (event,ui) {
      var cmd = $('.cmd[data-cmd_uid=#uid#]')
      cmd.find('.valueshutter').show()
      cmd.find('.dynamicshutter').hide()
      if('#invert#' == '1'){
        var maxValue = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
        jeedom.cmd.execute({id: '#id#', value: {slider:maxValue - ui.value}})
      } else {
        jeedom.cmd.execute({id: '#id#', value: {slider: ui.value}})
      }
      $(".value#uid#").hide()
    })

    $('.cmd[data-cmd_uid=#uid#] .slider').slider({
      orientation: "vertical",
      min: ('#minValue#' == '') ? 0 : parseInt('#minValue#'),
      max: ('#maxValue#' == '') ? 100 : parseInt('#maxValue#'),
      value: '#state#',
      slide: function(event, ui) {
        var cmd = $('.cmd[data-cmd_uid=#uid#]')
        cmd.find('.valueshutter').hide()
        cmd.find('.dynamicshutter').show()
        if ('#invert#' == '1') {
          var maxValue = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
          cmd.find('.dynamicshutter').html('<strong>' + (maxValue - ui.value) +'</strong> <strong>#unite#</strong>')
        } else {
          cmd.find('.dynamicshutter').html('<strong>' + ui.value +'</strong> <strong>#unite#</strong>')
        }
        if (height_#uid# > 65) {
          cmd.find('.state strong').css('color','var(--bg-modal-color)')
        } else {
          cmd.find('.state strong').css('color','var(--txt-color)')
        }
      }
    })

    jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'})
  </script>
</div>
