<div class="cmd cmd-widget cursor" data-type="action" data-subtype="other" data-template="binaryDefault" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="content-xs">
    <span class="iconCmd"></span>
  </div>
  <script>
    jeedom.cmd.update['#id#'] = function(_options){
      if (_options.display_value == '1' || _options.display_value == 1 || _options.display_value == '99' || _options.display_value == 99 || _options.display_value == 'on') {
        if (jeedom.cmd.normalizeName('#name#') == 'on') {
          $('.cmd[data-cmd_id=#id#]').hide()
        } else {
          $('.cmd[data-cmd_id=#id#]').show()
          $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="fas fa-check"></i>')
        }
      } else {
        if (jeedom.cmd.normalizeName('#name#') == 'off') {
          $('.cmd[data-cmd_id=#id#]').hide()
        } else {
          $('.cmd[data-cmd_id=#id#]').show()
          $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="fas fa-times"></i>')
        }
      }
    }
    jeedom.cmd.update['#id#']({display_value:'#state#'})
    $('.cmd[data-cmd_uid=#uid#] .iconCmd').off().on('click', function () {
      jeedom.cmd.execute({id: '#id#'})
    });
  </script>
</div>
