<div class="cmd cmd-widget" data-type="info" data-subtype="string" data-template="buttonImage" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="content">
    <a class="btn btn-sm btn-default action tooltips">#name_display#</a>
  </div>
  <template></template>
  <script>
    document.querySelector('.cmd[data-cmd_uid="#uid#"] .action').addEventListener('click', function() {
      jeeDialog.dialog({
        id: 'jee_modal2',
        title: "{{Image}}",
        contentUrl: 'index.php?v=d&modal=widget.modal&data=' + this.getAttribute('data-value') + '&type=image'
      })
    })

    jeedom.cmd.addUpdateFunction('#id#', function(_options) {
      if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
        cmd.querySelector('.action').setAttribute('data-value', encodeURIComponent(_options.value))
      }
    })

    jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#value#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }])
  </script>
</div>
