<div class="cmd cmd-widget vgauge #history#" data-type="info" data-subtype="numeric"data-template="vertical" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content-sm" data-cmd_id="#id#">
    <div class="vgauge-chart">
      <div class="vgauge-bckg">
        <div class="vgauge-value"></div>
      </div>
    </div>
  </div>
  <div class="value" data-cmd_id="#id#">
    <div class="state"><strong>#state#</strong> <strong>#unite#</strong></div>
  </div>
  <div class="cmdStats #hide_history#">
    <span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
  </div>

  <script>
    jeedom.cmd.update['#id#'] = function(_options){
      var cmd = $('.cmd[data-cmd_id=#id#]')
      var minValue = ('#minValue#' == '') ? 0 : parseInt('#minValue#')
      var maxValue = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
      cmd.attr('title','Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
      var height = ((_options.display_value - minValue) * 100) / (maxValue - minValue)
      height = Math.round(parseFloat(height) * 10) / 10
      cmd.find('.vgauge-value').height(height+'%')
      cmd.find('.state strong').first().text(_options.display_value)
    }

    jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#'});
  </script>
</div>
