<div class="cmd cmd-widget #history#" data-type="action" data-subtype="numeric" data-template="tmplicon" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="title #hide_name#">
    <div class="cmdName">#name_display#</div>
  </div>
  <div class="content">
    <div class="cursor execute imgCmd"></div>
    <div id="widget_slider#id#" class="slider"></div>
  </div>
  <div class="timeCmd label label-default #value_history#" data-type="info" data-cmd_id="#value_id#"></div>
  <template>
    <div>color : rgb(20,20,20) ({{Couleur du curseur et valeur}})</div>
    <div>step : 1 ({{Pas du changement de valeur}})</div>
    <div>time : duration|date ({{Affiche durée ou date de la valeur}})</div>
  </template>
  <script>
    window['mySlider#id#'] = domUtils.createWidgetSlider({
      sliderDiv: document.getElementById('widget_slider#id#'),
      state: ('#state#' == '') ? parseFloat('#minValue#') : '#state#',
      min: parseFloat('#minValue#'),
      max: parseFloat('#maxValue#'),
      step: (domUtils.issetWidgetOptParam('#step#', 'step')) ? parseFloat('#step#') : 1,
      tooltips: true,
      format: true,
      unite: '#unite#'
    })

    window['mySlider#id#'].on('change', function(values, handle) {
      jeedom.cmd.execute({ id: '#id#', value: { slider: values[handle].replace('#unite#', '').trim() } })
    })

    document.querySelector('.cmd[data-cmd_uid="#uid#"] .execute').addEventListener('click', function() {
      if (this.getAttribute('data-state') == 'on') {
        jeedom.cmd.execute({ id: '#id#', value: { slider: parseFloat('#minValue#') } })
      } else {
        jeedom.cmd.execute({ id: '#id#', value: { slider: parseFloat('#maxValue#') } })
      }
    })

    jeedom.cmd.addUpdateFunction('#id#', function(_options) {
      if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
        if ('#_time_widget_#' == '1' || '#time#' == 'duration' || '#time#' == 'date') {
          jeedom.cmd.displayDuration(_options.valueDate, cmd.querySelector('.timeCmd'), '#time#')
        }

        if (_options.value != undefined) {
          window['mySlider#id#'].set(_options.value)
          let iconCmd = cmd.querySelector('.imgCmd')
          if (_options.value > parseFloat('#minValue#')) {
            iconCmd.innerHTML = jeedom.widgets.getThemeImg("#_img_light_on_#", "#_img_dark_on_#")
            iconCmd.setAttribute('data-state', 'on')
          } else {
            iconCmd.innerHTML = jeedom.widgets.getThemeImg("#_img_light_off_#", "#_img_dark_off_#")
            iconCmd.setAttribute('data-state', 'off')
          }
        }

        if (is_numeric('#_desktop_width_#') && is_object(img = cmd.querySelector('.imgCmd img'))) {
          img.style.setProperty('width', '#_desktop_width_#px', 'important')
        }
      }
    })

    jeedom.cmd.refreshValue([{ cmd_id: '#id#', value: '#state#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#' }])

    if (domUtils.issetWidgetOptParam('#color#', 'color')) {
      document.querySelector('.cmd[data-cmd_uid="#uid#"] .noUi-handle').style.setProperty('background-color', '#color#', 'important')
      document.querySelector('.cmd[data-cmd_uid="#uid#"] .noUi-connect').style.setProperty('background-color', '#color#', 'important')
    }

    document.body.addEventListener('changeThemeEvent', function() {
      if (is_object(cmd = document.querySelector('.cmd[data-cmd_uid="#uid#"]'))) {
        if (cmd.getAttribute('data-state') == 1) {
          cmd.querySelector('.imgCmd').innerHTML = jeedom.widgets.getThemeImg("#_img_light_on_#", "#_img_dark_on_#")
        } else {
          cmd.querySelector('.imgCmd').innerHTML = jeedom.widgets.getThemeImg("#_img_light_off_#", "#_img_dark_off_#")
        }

        if (is_numeric('#_desktop_width_#') && is_object(img = cmd.querySelector('.imgCmd img'))) {
          img.style.setProperty('width', '#_desktop_width_#px', 'important')
        }
      }
    })
  </script>
</div>
