<div class="cmd cmd-widget" data-type="action" data-subtype="message" data-cmd_id="#id#" style="width: 146px;">
    <input class="form-control input-sm title" placeholder="Titre" data-cmd_id="#id#"/>
    <textarea class="form-control input-sm message" rows="2" style="margin-top : 5px; resize:vertical;height: 50px;" placeholder="Message" data-cmd_id="#id#"></textarea>
    <center><a class='btn btn-success btn-xs execute cmdName'>#name#</a></center>
    <script>
        $('.cmd[data-cmd_id=#id#] .execute').on('click', function() {
            jeedom.cmd.execute({id: '#id#', value: {title: $('.cmd[data-cmd_id=#id#] .title').value(), message: $('.cmd[data-cmd_id=#id#] .message').value()}});
        });
    </script>
</div>