<div style="width:115px;min-height:90px;" class="#history# tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#id#" title="#collectDate#" >
    <div style="width:95px;height : 95px;" class="gauge" ></div>
    <span style="#displayHistory#;" class="statistiques">
        <span title='Min' class='tooltips'>#minHistoryValue#</span>|<span title='Moyenne' class='tooltips'>#averageHistoryValue#</span>|<span title='Max' class='tooltips'>#maxHistoryValue#</span> <i class="#tendance#"></i>
    </span>

    <script>
        if (is_numeric('#state#')) {

        // The speed gauge
        $('.cmd[data-cmd_id=#id#] .gauge').highcharts({
        chart: {
        type: 'solidgauge',
                height : 95,
                plotBackgroundColor: null,
                plotBackgroundImage: null,
                backgroundColor: null,
                plotBorderWidth: 0,
                plotShadow: false,
                spacingTop: 0,
                spacingLeft: 0,
                spacingRight: 0,
                spacingBottom: 0
        },
                title: null,
                pane: {
                center: ['50%', '85%'],
                        size: '100%',
                        startAngle: - 90,
                        endAngle: 90,
                        background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                                innerRadius: '60%',
                                outerRadius: '100%',
                                shape: 'arc'
                        }
                },
                tooltip: {
                enabled: false
                },
                // the value axis
                yAxis: {
                stops: [
                        [0, '#cmdColor#']
                ],
                        lineWidth: 0,
                        minorTickInterval: null,
                        tickPixelInterval: 400,
                        labels : {enabled: false},
                        tickWidth: 0,
                        title: {
                        y: - 70
                        },
                        min: #minValue#,
                        max: #maxValue#,
                        title: {
                        text: '<span style="color: white;font-weight: bold;font-family : Helvetica Neue,Helvetica,Arial,sans-serif;">#name#</span>',
                                y: - 35
                        }
                },
                labels : {enabled: false},
                plotOptions: {
                solidgauge: {
                dataLabels: {
                y: 5,
                        borderWidth: 0,
                        useHTML: true
                }
                }
                },
                credits: {
                enabled: false
                },
                series: [{
                name: '',
                        data: [Math.round(parseFloat('#state#')*10)/10],
                        dataLabels: {
                        format: '<span style="color : white;">{y}</span> <span style="font-size:10px;color:white">#unite#</span>'
                        },
                }]
        });
        } else {
        $('.cmd[data-cmd_id=#id#] .gauge').append('<center><span class="label label-danger" style="margin-top : 5px;">#state#</span></center>');
        }
    </script>

</div>