<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="min-height:50px;">
  <div style="font-weight: bold;font-size : 12px;#hideCmdName#">#name_display#</div>
  <center>
    <div class="input-group" style="width: 120px;">
      <input type="text" class="value form-control input-sm" value="#state# #unite#" disabled style=""/>
      <span class="input-group-btn" style="position: relative;">
        <a class="btn btn-default bt_minus" style="background-color:#cmdColor# !important;border-color : transparent !important;height:30px;"><i class="fa fa-minus" style="position: relative;left:-5px;"></i></a>
        <a class="btn btn-default bt_plus" style="background-color:#cmdColor# !important;border-color : transparent !important;height:30px;"><i class="fa fa-plus" style="position: relative;left:-5px;"></i></a>
      </span>
    </div>
  </center>
  <script>
    $('.cmd[data-cmd_uid=#uid#] .bt_plus').on('click', function () {
      var max = ('#maxValue#' == '') ?  Number.MAX_VALUE : parseFloat('#maxValue#');
      if (parseFloat($('.cmd[data-cmd_uid=#uid#] .value').val()) <= max - 0.5 ){
        jeedom.cmd.update['#id#']({display_value:parseFloat($('.cmd[data-cmd_uid=#uid#] .value').val()) + 0.5});
        $('.cmd[data-cmd_uid=#uid#] .value').trigger('change');
      }
    });
    $('.cmd[data-cmd_uid=#uid#] .bt_minus').on('click', function () {
      var min = ('#minValue#' == '') ? Number.MIN_VALUE : parseFloat('#minValue#');
      if (parseFloat($('.cmd[data-cmd_uid=#uid#] .value').val()) >= min + 0.5 ){
        jeedom.cmd.update['#id#']({display_value:parseFloat($('.cmd[data-cmd_uid=#uid#] .value').val()) - 0.5});
        $('.cmd[data-cmd_uid=#uid#] .value').trigger('change');
      }
    });
    $('.cmd[data-cmd_uid=#uid#] .value').on('change', function () {
      if (typeof timerHandle#uid# !== 'undefined') {
        clearTimeout(timerHandle#uid#);
      }
      timerHandle#uid# = setTimeout(function() {
        jeedom.cmd.execute({id:'#id#', value: {slider: $('.cmd[data-cmd_uid=#uid#] .value').val().replace("#unite#", "").replace(" ", "")}});
      }, 1000)
    });
    jeedom.cmd.update['#id#'] = function(_options){
      $('.cmd[data-cmd_uid=#uid#] .value').val(_options.display_value+' #unite#');
    }
    jeedom.cmd.update['#id#']({display_value:'#state#'});
  </script>
</div>
