<div class="eqLogic eqLogic-widget allowResize allowReorderCmd" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" data-category="#category#">
	<span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#" style="margin-top: 3px;margin-right: 3px;">
		<i class='fa fa-refresh'></i>
	</span>
	<center class="widget-name">
		<a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a> <span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span>
	</center>
	<div class="verticalAlign">
		<center style="padding: 5px;">
			#cmd#
		</center>
	</div>
	<span class="statusCmd" style="position : absolute;left : 5px;bottom : 0px; width : 30px;z-index: 1030;"></span>
	<script>
		if ('#refresh_id#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh_id#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').hide();
		}
	</script>
</div>
