<div class="eqLogic eqLogic-widget text-center allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class# #category#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <div class="widget-name">
    <span style="color:#background-color#" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="panelLink pull-left cursor">
      <a href="#panelLink#"><i class="fas fa-external-link-alt"></i></a>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </div>
  <div class="cmds #isVerticalAlign#">
    #cmd#
  </div>
  #divGraphInfo#
  <script>
    $(document).ready(function () { console.log('>> eqlogic template ready', "#uid#") })
    if ('#panelLink#' == '') {
      document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .panelLink')?.remove()
    }
    if ('#refresh_id#' != '') {
      document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .refresh')?.addEventListener('click', function() {
        jeedom.cmd.execute({ id: '#refresh_id#' })
      })
    } else {
      document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .refresh')?.remove()
    }
  </script>
</div>
