<div class="scenario-widget scenario" data-scenario_id="#id#" data-version="dashboard" style="margin-top: 0px;width: 100%;max-width: 290px;">
    <a class="btn btn-success btn-xs changeScenarioState tooltips" data-state="activate" title="Activer" style="display: none;"><i class="fa fa-power-off"></i></a>
    <a class="btn btn-danger btn-xs changeScenarioState tooltips" data-state="deactivate" title="Desactiver" style="display: none;"><i class="fa fa-power-off"></i></a>
    <a class="btn btn-success btn-xs changeScenarioState" data-state="start" style="display: none;"><i class="fa fa-play"></i></a>
    <a class="btn btn-danger btn-xs changeScenarioState" data-state="stop" style="display: none;"><i class="fa fa-stop"></i></a>

    <a href="#scenarioLink#" class="tooltips" title="Dernier lancement : #lastLaunch#" style="font-size: 0.85em;">#name#</a>

    <span class="state pull-right" style="width : 15px;font-size: 1.15em;">#icon#</span>

    <script>
        $('.scenario[data-scenario_id=#id#] .changeScenarioState').on('click', function() {
            jeedom.scenario.changeState({
                id: $(this).closest('.scenario').attr('data-scenario_id'),
                state: $(this).attr('data-state'),
                error: function(error) {
                    $('#div_alert').showAlert({message: error.message, level: 'danger'});
                },
            });
        });
        if ('#isActive#' == '1') {
            if ('#state#' == 'in progress') {
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=stop]').show();
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=deactivate]').show();
            }
            if ('#state#' == 'error') {
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=start]').show();
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=deactivate]').show();
            }
            if ('#state#' == 'stop') {
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=start]').show();
                $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=deactivate]').show();
            }
        } else {
            $('.scenario[data-scenario_id=#id#] .changeScenarioState[data-state=activate]').show();
        }
    </script>
</div>