nbproject/
.idea
.project
Thumbs.db
.DS_Store
/.buildpath
ui

test.php
core/config/common.config.php
.remote-sync.json

/plugins

data/*
!data/.htaccess
!data/php
!data/3d
!data/custom
data/3d/*
!3d/.htaccess

log/*
!log/.htaccess

tmp/*
!tmp/.htaccess

!.htaccess

/vendor
/var
phpunit.xml
/report

.env
