nbproject/
.idea
.project
Thumbs.db
.DS_Store
/.buildpath
ui

test.php
core/config/common.config.php
.remote-sync.json
core2019-light
core2019-dark

/plugins

data/*
!data/.htaccess
!data/php
!data/3d
!data/view
!data/img
!data/object
!data/plan
!data/custom
!data/customTemplates
data/3d/*
!3d/.htaccess

log/*
!log/.htaccess

tmp/*
!tmp/.htaccess

!.htaccess
