parameters:
	ignoreErrors:
		-
			message: '#^Variable \$eqLogic might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/ajax/eqLogic.ajax.php

		-
			message: '#^Variable \$converts might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: core/ajax/scenario.ajax.php

		-
			message: '#^Variable \$configs might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/ajax/user.ajax.php

		-
			message: '#^Variable \$cmd might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/api/jeeApi.php

		-
			message: '#^Variable \$jsonrpc in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: core/api/jeeApi.php

		-
			message: '#^Variable \$object might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/api/jeeApi.php

		-
			message: '#^Variable \$request in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: core/api/jeeApi.php

		-
			message: '#^Variable \$scenario might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/api/jeeApi.php

		-
			message: '#^Variable \$update might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: core/api/jeeApi.php

		-
			message: '#^Instantiated class InfluxDB\\Client not found\.$#'
			identifier: class.notFound
			count: 2
			path: core/class/cmd.class.php

		-
			message: '#^Instantiated class InfluxDB\\Point not found\.$#'
			identifier: class.notFound
			count: 2
			path: core/class/cmd.class.php

		-
			message: '#^Variable \$goupingType might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: core/class/history.class.php

		-
			message: '#^Variable \$closest might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/interactQuery.class.php

		-
			message: '#^Variable \$cmd might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/interactQuery.class.php

		-
			message: '#^Variable \$objects might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/interactQuery.class.php

		-
			message: '#^Variable \$events might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/jeeObject.class.php

		-
			message: '#^Variable \$url might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/update.class.php

		-
			message: '#^Variable \$return might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/utils.class.php

		-
			message: '#^Access to an undefined property widgets\:\:\$_needRefreshWidget\.$#'
			identifier: property.notFound
			count: 1
			path: core/class/widgets.class.php

		-
			message: '#^Variable \$return might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/php/utils.inc.php

		-
			message: '#^Variable \$link might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: desktop/modal/planHeader.configure.php
