parameters:
	ignoreErrors:
		-
			message: '#^Static method cache\:\:set\(\) invoked with 4 parameters, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: core/ajax/cache.ajax.php

		-
			message: '#^Static method history\:\:getHistoryFromCalcul\(\) invoked with 6 parameters, 1\-5 required\.$#'
			identifier: arguments.count
			count: 1
			path: core/ajax/cmd.ajax.php

		-
			message: '#^Variable \$eqLogic might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/ajax/eqLogic.ajax.php

		-
			message: '#^Variable \$converts might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: core/ajax/scenario.ajax.php

		-
			message: '#^Variable \$configs might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/ajax/user.ajax.php

		-
			message: '#^Variable \$cmd might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/api/jeeApi.php

		-
			message: '#^Variable \$jsonrpc in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: core/api/jeeApi.php

		-
			message: '#^Variable \$object might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/api/jeeApi.php

		-
			message: '#^Variable \$request in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: core/api/jeeApi.php

		-
			message: '#^Variable \$scenario might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/api/jeeApi.php

		-
			message: '#^Variable \$update might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: core/api/jeeApi.php

		-
			message: '#^Call to static method byId\(\) on an unknown class jeeNetwork\.$#'
			identifier: class.notFound
			count: 1
			path: core/api/proApi.php

		-
			message: '#^Call to static method byId\(\) on an unknown class market\.$#'
			identifier: class.notFound
			count: 2
			path: core/api/proApi.php

		-
			message: '#^Call to static method byLogicalId\(\) on an unknown class market\.$#'
			identifier: class.notFound
			count: 1
			path: core/api/proApi.php

		-
			message: '#^Call to static method testMaster\(\) on an unknown class jeeNetwork\.$#'
			identifier: class.notFound
			count: 1
			path: core/api/proApi.php

		-
			message: '#^Static method jeedom\:\:update\(\) invoked with 2 parameters, 0\-1 required\.$#'
			identifier: arguments.count
			count: 2
			path: core/api/proApi.php

		-
			message: '#^Static method repo_market\:\:backup_restore\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: core/api/proApi.php

		-
			message: '#^Variable \$goupingType might not be defined\.$#'
			identifier: variable.undefined
			count: 3
			path: core/class/history.class.php

		-
			message: '#^Variable \$closest might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/interactQuery.class.php

		-
			message: '#^Variable \$cmd might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/interactQuery.class.php

		-
			message: '#^Variable \$objects might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/interactQuery.class.php

		-
			message: '#^Variable \$events might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/jeeObject.class.php

		-
			message: '#^Variable \$url might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/update.class.php

		-
			message: '#^Variable \$return might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/class/utils.class.php

		-
			message: '#^Access to an undefined property widgets\:\:\$_needRefreshWidget\.$#'
			identifier: property.notFound
			count: 1
			path: core/class/widgets.class.php

		-
			message: '#^Variable \$return might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: core/php/utils.inc.php

		-
			message: '#^Variable \$link might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: desktop/modal/planHeader.configure.php
