<phpunit bootstrap="./tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="unit">
        <directory>tests/unit/core</directory>
    </testsuite>
    <testsuite name="integration">
        <directory>tests/class</directory>
    </testsuite>
  </testsuites>
  <coverage>
      <include>
          <directory suffix=".php">core</directory>
      </include>
  </coverage>
</phpunit>
