<phpunit
        bootstrap="./tests/bootstrap.php"
        colors="true"
>
    <php>
        <env name="APP_ENV" value="test" force="true" />
    </php>

    <testsuites>
        <testsuite name="Backward Compatibility tests">
            <directory suffix="Test.php">./tests/BC/</directory>
        </testsuite>
        <testsuite name="Unit tests">
            <directory suffix="Test.php">./tests/Legacy</directory>
        </testsuite>
        <testsuite name="Legacy tests">
            <directory suffix="Test.php">./tests/Legacy</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">core/class</directory>
        </include>
    </coverage>

</phpunit>