@font-face {
  font-family: 'animal';
  src:url('animal/fonts/animal.eot');
  src:url('animal/fonts/animal.eot') format('embedded-opentype'),
  url('animal/fonts/animal.woff') format('woff'),
  url('animal/fonts/animal.ttf') format('truetype'),
  url('animal/fonts/animal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="animal-"], [class*=" animal-"] {
  font-family: 'animal';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.animal-toucan:before {content: "\e600";}
.animal-spotted1:before {content: "\e601";}
.animal-sheep1:before {content: "\e602";}
.animal-rabbit:before {content: "\e603";}
.animal-pig4:before {content: "\e604";}
.animal-panda:before {content: "\e605";}
.animal-horse60:before {content: "\e606";}
.animal-gecko2:before {content: "\e607";}
.animal-flying1:before {content: "\e608";}
.animal-fish:before {content: "\e609";}
.animal-dog56:before {content: "\e60a";}
.animal-cow9:before {content: "\e60b";}
.animal-chicken2:before {content: "\e60c";}
.animal-cat3:before {content: "\e60d";}
.animal-animal:before {content: "\e60e";}


@font-face {
  font-family: 'divers';
  src:url('divers/fonts/divers.eot');
  src:url('divers/fonts/divers.eot') format('embedded-opentype'),
  url('divers/fonts/divers.woff') format('woff'),
  url('divers/fonts/divers.ttfz') format('truetype'),
  url('divers/fonts/divers.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="divers-"], [class*=" divers-"] {
  font-family: 'divers';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.divers-weight11:before {content: "\e600";}
.divers-vlc1:before {content: "\e601";}
.divers-viral:before {content: "\e602";}
.divers-umbrella2:before {content: "\e603";}
.divers-two15:before {content: "\e604";}
.divers-triangular42:before {content: "\e605";}
.divers-today1:before {content: "\e606";}
.divers-thermometer31:before {content: "\e607";}
.divers-table29:before {content: "\e608";}
.divers-slightly:before {content: "\e609";}
.divers-piggy1:before {content: "\e60a";}
.divers-numbers:before {content: "\e60b";}
.divers-mailbox15:before {content: "\e60c";}
.divers-letters2:before {content: "\e60d";}
.divers-garbage8:before {content: "\e60e";}
.divers-fuel4:before {content: "\e60f";}
.divers-coin9:before {content: "\e610";}
.divers-circular114:before {content: "\e611";}
.divers-calendar2:before {content: "\e612";}
.divers-caduceus3:before {content: "\e613";}
.divers-svg:before {content: "\e614";}
.divers-svg2:before {content: "\e615";}


@font-face {
  font-family: 'fashion';
  src:url('fashion/fonts/fashion.eot');
  src:url('fashion/fonts/fashion.eot') format('embedded-opentype'),
  url('fashion/fonts/fashion.woff') format('woff'),
  url('fashion/fonts/fashion.ttf') format('truetype'),
  url('fashion/fonts/fashion.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="fashion-"], [class*=" fashion-"] {
  font-family: 'fashion';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fashion-tshirt17:before {content: "\e600";}
.fashion-stylish2:before {content: "\e601";}
.fashion-sandals2:before {content: "\e602";}
.fashion-perfume1:before {content: "\e603";}
.fashion-mannequin1:before {content: "\e604";}
.fashion-king3:before {content: "\e605";}
.fashion-hanger2:before {content: "\e606";}
.fashion-female94:before {content: "\e607";}
.fashion-excentric:before {content: "\e608";}
.fashion-dress2:before {content: "\e609";}
.fashion-diamond10:before {content: "\e60a";}
.fashion-black177:before {content: "\e60b";}
.fashion-black170:before {content: "\e60c";}
.fashion-biretta:before {content: "\e60d";}
.fashion-bikini4:before {content: "\e60e";}


@font-face {
  font-family: 'jeedom';
  src:url('jeedom/fonts/jeedom.eot');
  src:url('jeedom/fonts/jeedom.eot') format('embedded-opentype'),
  url('jeedom/fonts/jeedom.woff') format('woff'),
  url('jeedom/fonts/jeedom.ttf') format('truetype'),
  url('jeedom/fonts/jeedom.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="jeedom-"], [class*=" jeedom-"] {
  font-family: 'jeedom';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jeedom-alors:before {content: "\e628";}
.jeedom-si:before {content: "\e629";}
.jeedom-cafetiere_off:before {content: "\e62a";}
.jeedom-cafetiere_on:before {content: "\e62b";}
.jeedom-clap_cinema:before {content: "\e62c";}
.jeedom-portail_coulissant_demi_d:before {content: "\e62d";}
.jeedom-portail_coulissant_demi_g:before {content: "\e62e";}
.jeedom-portail_coulissant_ferme:before {content: "\e62f";}
.jeedom-portail_coulissant_ouvert_d:before {content: "\e630";}
.jeedom-portail_coulissant_ouvert_g:before {content: "\e631";}
.jeedom-ventilo:before {content: "\e632";}
.jeedom-alerte:before {content: "\e600";}
.jeedom-alerte2:before {content: "\e601";}
.jeedom-batterie0:before {content: "\e602";}
.jeedom-batterie1:before {content: "\e603";}
.jeedom-batterie2:before {content: "\e604";}
.jeedom-batterie3:before {content: "\e605";}
.jeedom-bell:before {content: "\e606";}
.jeedom-choc:before {content: "\e607";}
.jeedom-eau:before {content: "\e608";}
.jeedom-fenetre-ferme:before {content: "\e609";}
.jeedom-fenetre-ouverte:before {content: "\e60a";}
.jeedom-feu:before {content: "\e60b";}
.jeedom-garage-ferme:before {content: "\e60c";}
.jeedom-garage-ouvert:before {content: "\e60d";}
.jeedom-lock-ferme:before {content: "\e60e";}
.jeedom-lock-ouvert:before {content: "\e60f";}
.jeedom-lumiere-off:before {content: "\e610";}
.jeedom-lumiere-on:before {content: "\e611";}
.jeedom-mouvement:before {content: "\e612";}
.jeedom-no-bell:before {content: "\e613";}
.jeedom-off:before {content: "\e614";}
.jeedom-on:before {content: "\e615";}
.jeedom-pilote-conf:before {content: "\e616";}
.jeedom-pilote-eco:before {content: "\e617";}
.jeedom-pilote-hg:before {content: "\e618";}
.jeedom-pilote-off:before {content: "\e619";}
.jeedom-portail_ferme:before {content: "\e61a";}
.jeedom-portail_ouvert:before {content: "\e61b";}
.jeedom-porte-ferme:before {content: "\e61c";}
.jeedom-porte-ouverte:before {content: "\e61d";}
.jeedom-prise:before {content: "\e61e";}
.jeedom-sirene:before {content: "\e61f";}
.jeedom-surveillance1:before {content: "\e620";}
.jeedom-thermo-chaud:before {content: "\e621";}
.jeedom-thermo-froid:before {content: "\e622";}
.jeedom-thermo-moyen:before {content: "\e623";}
.jeedom-thermometre-celcius:before {content: "\e624";}
.jeedom-thermometre:before {content: "\e625";}
.jeedom-volet-ferme:before {content: "\e626";}
.jeedom-volet-ouvert:before {content: "\e627";}


@font-face {
  font-family: 'jeedom2';
  src:url('jeedom2/fonts/jeedom2.eot');
  src:url('jeedom2/fonts/jeedom2.eot') format('embedded-opentype'),
  url('jeedom2/fonts/jeedom2.woff') format('woff'),
  url('jeedom2/fonts/jeedom2.ttf') format('truetype'),
  url('jeedom2/fonts/jeedom2.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="jeedom2-"], [class*=" jeedom2-"] {
  font-family: 'jeedom2';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jeedom2-black210:before {content: "\e600";}
.jeedom2-bright4:before {content: "\e601";}
.jeedom2-bulb14:before {content: "\e602";}
.jeedom2-bulb19:before {content: "\e603";}
.jeedom2-idea13:before {content: "\e604";}
.jeedom2-lamp5:before {content: "\e605";}
.jeedom2-light-bulb2:before {content: "\e606";}
.jeedom2-light-bulb7:before {content: "\e607";}
.jeedom2-lightbulb25:before {content: "\e608";}
.jeedom2-lightbulb58:before {content: "\e609";}
.jeedom2-bitcoin:before {content: "\e60a";}
.jeedom2-cartecredit:before {content: "\e60b";}
.jeedom2-dollar:before {content: "\e60c";}
.jeedom2-finance:before {content: "\e60d";}
.jeedom2-money1:before {content: "\e60e";}
.jeedom2-money2:before {content: "\e60f";}
.jeedom2-money3:before {content: "\e610";}
.jeedom2-money4:before {content: "\e611";}
.jeedom2-tirelire1:before {content: "\e612";}
.jeedom2-tirelire2:before {content: "\e613";}
.jeedom2-tirelire3:before {content: "\e614";}
.jeedom2-tirelire4:before {content: "\e615";}
.jeedom2-tirelire5:before {content: "\e616";}
.jeedom2-tirelire6:before {content: "\e617";}
.jeedom2-tirelire7:before {content: "\e618";}
.jeedom2-tirelire8:before {content: "\e619";}
.jeedom2-tirelire9:before {content: "\e61a";}
.jeedom2-fdp1-signal0:before {content: "\e61b";}
.jeedom2-fdp1-signal1:before {content: "\e61c";}
.jeedom2-fdp1-signal02:before {content: "\e61d";}
.jeedom2-fdp1-signal3:before {content: "\e61e";}
.jeedom2-fdp1-signal4:before {content: "\e61f";}
.jeedom2-fdp1-signal5:before {content: "\e620";}
.jeedom2-plante_eau1:before {content: "\e621";}
.jeedom2-plante_eau2:before {content: "\e622";}
.jeedom2-plante_eau3:before {content: "\e623";}
.jeedom2-plante_engrais1:before {content: "\e624";}
.jeedom2-plante_engrais2:before {content: "\e625";}
.jeedom2-plante_engrais3:before {content: "\e626";}
.jeedom2-plante_soleil1:before {content: "\e627";}
.jeedom2-plante_soleil2:before {content: "\e628";}
.jeedom2-plante_soleil3:before {content: "\e629";}
.jeedom2-plante_temp1:before {content: "\e62a";}
.jeedom2-plante_temp2:before {content: "\e62b";}
.jeedom2-plante_temp3:before {content: "\e62c";}
.jeedom2-visiophone:before {content: "\e62d";}
.jeedom2-compteur_elec_hc:before {content: "\e639";}
.jeedom2-compteur_elec_hp:before {content: "\e63a";}
.jeedom2-home:before {content: "\e63b";}
.jeedom2-home_r1:before {content: "\e63c";}
.jeedom2-home_r2:before {content: "\e63d";}
.jeedom2-home_r3:before {content: "\e63e";}
.jeedom2-home_r-1:before {content: "\e63f";}
.jeedom2-home_rdc:before {content: "\e640";}
.jeedom2-case_ok:before {content: "\e641";}
.jeedom2-case:before {content: "\e642";}



@font-face {
  font-family: 'jeedomapp';
  src:  url('jeedomapp/fonts/jeedomapp.eot');
  src:  url('jeedomapp/fonts/jeedomapp.eot') format('embedded-opentype'),
  url('jeedomapp/fonts/jeedomapp.ttf') format('truetype'),
  url('jeedomapp/fonts/jeedomapp.woff') format('woff'),
  url('jeedomapp/fonts/jeedomapp.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="jeedomapp-"], [class*=" jeedomapp-"] {
  font-family: 'jeedomapp';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.jeedomapp-portail-action2:before {content: "\e968";}
.jeedomapp-garage-action2:before {content: "\e969";}
.jeedomapp-electric-action2:before {content: "\e965";}
.jeedomapp-ampoule-action2:before {content: "\e966";}
.jeedomapp-volet-action2:before {content: "\e967";}
.jeedomapp-triselect:before {content: "\e960";}
.jeedomapp-rond01:before {content: "\e961";}
.jeedomapp-rond02:before {content: "\e962";}
.jeedomapp-miniplus:before {content: "\e963";}
.jeedomapp-ou:before {content: "\e964";}
.jeedomapp-ouvrants:before {content: "\e95d";}
.jeedomapp-fenetre-ferme:before {content: "\e95b";}
.jeedomapp-fenetre-ouverte:before {content: "\e95c";}
.jeedomapp-cache:before {content: "\e951";}
.jeedomapp-visible:before {content: "\e952";}
.jeedomapp-visible2:before {content: "\e953";}
.jeedomapp-settings:before {content: "\e94c";}
.jeedomapp-slide:before {content: "\e94d";}
.jeedomapp-dash01:before {content: "\e902";}
.jeedomapp-dash01title:before {content: "\e954";}
.jeedomapp-dash04:before {content: "\e903";}
.jeedomapp-dash04title:before {content: "\e955";}
.jeedomapp-dash12:before {content: "\e904";}
.jeedomapp-dash12title:before {content: "\e956";}
.jeedomapp-dash-favoris16:before {content: "\e94a";}
.jeedomapp-dash-favoris16title:before {content: "\e94b";}
.jeedomapp-dirB:before {content: "\e932";}
.jeedomapp-dirD:before {content: "\e933";}
.jeedomapp-dirDB:before {content: "\e934";}
.jeedomapp-dirDH:before {content: "\e935";}
.jeedomapp-dirG:before {content: "\e936";}
.jeedomapp-dirGB:before {content: "\e937";}
.jeedomapp-dirGH:before {content: "\e938";}
.jeedomapp-dirH:before {content: "\e939";}
.jeedomapp-alarme:before {content: "\e92d";}
.jeedomapp-camera:before {content: "\e92e";}
.jeedomapp-kodi:before {content: "\e92f";}
.jeedomapp-meteo:before {content: "\e930";}
.jeedomapp-thermostat:before {content: "\e931";}
.jeedomapp-information:before {content: "\e922";}
.jeedomapp-plugin:before {content: "\e923";}
.jeedomapp-action:before {content: "\e924";}
.jeedomapp-moins:before {content: "\e925";}
.jeedomapp-plus:before {content: "\e926";}
.jeedomapp-playerpause:before {content: "\e927";}
.jeedomapp-playerplay:before {content: "\e928";}
.jeedomapp-playerstop:before {content: "\e929";}
.jeedomapp-audiospeak:before {content: "\e909";}
.jeedomapp-audiosub:before {content: "\e912";}
.jeedomapp-photo:before {content: "\e92a";}
.jeedomapp-preset:before {content: "\e957";}
.jeedomapp-preset2:before {content: "\e958";}
.jeedomapp-folder:before {content: "\e92b";}
.jeedomapp-done:before {content: "\e913";}
.jeedomapp-audiodown:before {content: "\e914";}
.jeedomapp-audiomute:before {content: "\e915";}
.jeedomapp-audiomute2:before {content: "\e916";}
.jeedomapp-audioup:before {content: "\e917";}
.jeedomapp-circlevalidation:before {content: "\e918";}
.jeedomapp-circlestop:before {content: "\e92c";}
.jeedomapp-circlevalidation2:before {content: "\e91d";}
.jeedomapp-circleaudiodown:before {content: "\e919";}
.jeedomapp-circleaudioup:before {content: "\e91a";}
.jeedomapp-circlemute:before {content: "\e91b";}
.jeedomapp-circlemute2:before {content: "\e91c";}
.jeedomapp-fleche-bas-line:before {content: "\e91e";}
.jeedomapp-fleche-droite-line:before {content: "\e91f";}
.jeedomapp-fleche-gauche-line:before {content: "\e920";}
.jeedomapp-fleche-haut-line:before {content: "\e921";}
.jeedomapp-sun:before {content: "\e94e";}
.jeedomapp-wind:before {content: "\e94f";}
.jeedomapp-weather:before {content: "\e911";}
.jeedomapp-home-line:before {content: "\e910";}
.jeedomapp-humidity:before {content: "\e90f";}
.jeedomapp-fire:before {content: "\e900";}
.jeedomapp-reload-fail:before {content: "\e95f";}
.jeedomapp-reload-manuel:before {content: "\e95e";}
.jeedomapp-reload:before {content: "\e901";}
.jeedomapp-ampoule-on:before {content: "\e93a";}
.jeedomapp-ampoule-off:before {content: "\e93b";}
.jeedomapp-volet-ferme:before {content: "\e93c";}
.jeedomapp-volet-ouvert:before {content: "\e93d";}
.jeedomapp-portail-ferme:before {content: "\e93e";}
.jeedomapp-portail-ouvert:before {content: "\e93f";}
.jeedomapp-garage-ferme:before {content: "\e96a";}
.jeedomapp-garage-ouvert:before {content: "\e96c";}
.jeedomapp-porte-ferme:before {content: "\e940";}
.jeedomapp-porte-ouverte:before {content: "\e941";}
.jeedomapp-prise:before {content: "\e943";}
.jeedomapp-prise-off:before {content: "\e950";}
.jeedomapp-prise-off2:before {content: "\e942";}
.jeedomapp-lock-home:before {content: "\e944";}
.jeedomapp-lock-ferme:before {content: "\e945";}
.jeedomapp-lock-ouvert:before {content: "\e946";}
.jeedomapp-lock-partiel:before {content: "\e947";}
.jeedomapp-lock-partiel-cercle:before {content: "\e959";}
.jeedomapp-lock-other:before {content: "\e95a";}
.jeedomapp-in:before {content: "\e905";}
.jeedomapp-out:before {content: "\e906";}
.jeedomapp-night:before {content: "\e907";}
.jeedomapp-plane:before {content: "\e908";}
.jeedomapp-thermo-froid:before {content: "\e948";}
.jeedomapp-temperature:before {content: "\e90a";}
.jeedomapp-thermo-chaud:before {content: "\e949";}
.jeedomapp-home-jeedom:before {content: "\e90b";}
.jeedomapp-piece-jeedom:before {content: "\e90c";}
.jeedomapp-scenario-jeedom:before {content: "\e90d";}
.jeedomapp-design-jeedom:before {content: "\e90e";}
.jeedomapp-alerte2:before {content: "\e601";}
.jeedomapp-bell:before {content: "\e606";}



@font-face {
  font-family: 'loisir';
  src:url('loisir/fonts/loisir.eot');
  src:url('loisir/fonts/loisir.eot') format('embedded-opentype'),
  url('loisir/fonts/loisir.woff') format('woff'),
  url('loisir/fonts/loisir.ttf') format('truetype'),
  url('loisir/fonts/loisir.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="loisir-"], [class*=" loisir-"] {
  font-family: 'loisir';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.loisir-livres:before {content: "\e610";}
.loisir-yoda:before {content: "\e600";}
.loisir-weightlift:before {content: "\e601";}
.loisir-two28:before {content: "\e602";}
.loisir-runner5:before {content: "\e603";}
.loisir-pacman1:before {content: "\e604";}
.loisir-musical81:before {content: "\e605";}
.loisir-musical7:before {content: "\e606";}
.loisir-musical:before {content: "\e607";}
.loisir-microscope12:before {content: "\e608";}
.loisir-microphone52:before {content: "\e609";}
.loisir-marry:before {content: "\e60a";}
.loisir-exercise1:before {content: "\e60b";}
.loisir-diving1:before {content: "\e60c";}
.loisir-darth:before {content: "\e60d";}
.loisir-cup29:before {content: "\e60e";}
.loisir-beach4:before {content: "\e60f";}



@font-face {
  font-family: 'maison';
  src:url('maison/fonts/maison.eot');
  src:url('maison/fonts/maison.eot') format('embedded-opentype'),
  url('maison/fonts/maison.woff') format('woff'),
  url('maison/fonts/maison.ttf') format('truetype'),
  url('maison/fonts/maison.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="maison-"], [class*=" maison-"] {
  font-family: 'maison';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.maison-wc:before {content: "\e633";}
.maison-poubelle:before {content: "\e634";}
.maison-cuisiniere:before {content: "\e635";}
.maison-barbecue:before {content: "\e636";}
.maison-baignoire:before {content: "\e637";}
.maison-water47:before {content: "\e60f";}
.maison-tub1:before {content: "\e610";}
.maison-stairs6:before {content: "\e611";}
.maison-sofa5:before {content: "\e612";}
.maison-sofa3:before {content: "\e613";}
.maison-sink:before {content: "\e614";}
.maison-shower7:before {content: "\e615";}
.maison-shower6:before {content: "\e616";}
.maison-shower2:before {content: "\e617";}
.maison-queen9:before {content: "\e618";}
.maison-person1:before {content: "\e619";}
.maison-modern13:before {content: "\e61a";}
.maison-man337:before {content: "\e61b";}
.maison-man77:before {content: "\e61c";}
.maison-living1:before {content: "\e61d";}
.maison-kitchen56:before {content: "\e61e";}
.maison-king11:before {content: "\e61f";}
.maison-house109:before {content: "\e620";}
.maison-house100:before {content: "\e621";}
.maison-hotel4:before {content: "\e622";}
.maison-family24:before {content: "\e623";}
.maison-entrance:before {content: "\e624";}
.maison-dog25:before {content: "\e625";}
.maison-dining4:before {content: "\e626";}
.maison-dining3:before {content: "\e627";}
.maison-dining1:before {content: "\e628";}
.maison-dark48:before {content: "\e629";}
.maison-classic2:before {content: "\e62a";}
.maison-call5:before {content: "\e62b";}
.maison-bedroom16:before {content: "\e62c";}
.maison-bedroom10:before {content: "\e62d";}
.maison-bed2:before {content: "\e62e";}
.maison-bathtub3:before {content: "\e62f";}
.maison-bathroom22:before {content: "\e630";}
.maison-baby139:before {content: "\e631";}
.maison-ascending8:before {content: "\e632";}
.maison-vacuum6:before {content: "\e600";}
.maison-toilet7:before {content: "\e601";}
.maison-toilet1:before {content: "\e602";}
.maison-studio10:before {content: "\e603";}
.maison-stepped:before {content: "\e604";}
.maison-service:before {content: "\e605";}
.maison-house112:before {content: "\e606";}
.maison-house110:before {content: "\e607";}
.maison-home63:before {content: "\e608";}
.maison-film50:before {content: "\e609";}
.maison-classical:before {content: "\e60a";}
.maison-classic22:before {content: "\e60b";}
.maison-cinema1:before {content: "\e60c";}
.maison-building33:before {content: "\e60d";}
.maison-bedroom2:before {content: "\e60e";}




@font-face {
  font-family: 'meteo';
  src:url('meteo/fonts/meteo.eot');
  src:url('meteo/fonts/meteo.eot') format('embedded-opentype'),
  url('meteo/fonts/meteo.woff') format('woff'),
  url('meteo/fonts/meteo.ttf') format('truetype'),
  url('meteo/fonts/meteo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="meteo-"], [class*=" meteo-"] {
  font-family: 'meteo';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.meteo-nuage-soleil-pluie:before {content: "\e600";}
.meteo-pluie:before {content: "\e601";}
.meteo-soleil:before {content: "\e602";}
.meteo-neige:before {content: "\e603";}
.meteo-brouillard:before {content: "\e604";}
.meteo-vent:before {content: "\e605";}
.meteo-nuit-nuage:before {content: "\e606";}
.meteo-nuage-soleil:before {content: "\e607";}
.meteo-nuageux:before {content: "\e608";}
.meteo-nuage:before {content: "\e609";}
.meteo-orage:before {content: "\e60a";}


@font-face {
  font-family: 'nature';
  src:url('nature/fonts/nature.eot');
  src:url('nature/fonts/nature.eot0') format('embedded-opentype'),
  url('nature/fonts/nature.woff') format('woff'),
  url('nature/fonts/nature.ttf') format('truetype'),
  url('nature/fonts/nature.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="nature-"], [class*=" nature-"] {
  font-family: 'nature';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nature-wood6:before {content: "\e612";}
.nature-plants:before {content: "\e613";}
.nature-grass:before {content: "\e614";}
.nature-wind:before {content: "\e600";}
.nature-weather1:before {content: "\e601";}
.nature-watering1:before {content: "\e602";}
.nature-water29:before {content: "\e603";}
.nature-tree101:before {content: "\e604";}
.nature-snowflake:before {content: "\e605";}
.nature-plant30:before {content: "\e606";}
.nature-plant29:before {content: "\e607";}
.nature-planet5:before {content: "\e608";}
.nature-pine7:before {content: "\e609";}
.nature-night2:before {content: "\e60a";}
.nature-leaf37:before {content: "\e60b";}
.nature-leaf32:before {content: "\e60c";}
.nature-japanese3:before {content: "\e60d";}
.nature-flower18:before {content: "\e60e";}
.nature-fire14:before {content: "\e60f";}
.nature-drops1:before {content: "\e610";}
.nature-autumn1:before {content: "\e611";}


@font-face {
  font-family: 'nourriture';
  src:url('nourriture/fonts/nourriture.eot');
  src:url('nourriture/fonts/nourriture.eot') format('embedded-opentype'),
  url('nourriture/fonts/nourriture.woff') format('woff'),
  url('nourriture/fonts/nourriture.ttf') format('truetype'),
  url('nourriture/fonts/nourriture.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="nourriture-"], [class*=" nourriture-"] {
  font-family: 'nourriture';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nourriture-dining8:before {content: "\e610";}
.nourriture-wine23:before {content: "\e600";}
.nourriture-soft1:before {content: "\e601";}
.nourriture-popcorn2:before {content: "\e602";}
.nourriture-plate7:before {content: "\e603";}
.nourriture-gingerbread:before {content: "\e604";}
.nourriture-cooking14:before {content: "\e605";}
.nourriture-coffe12:before {content: "\e606";}
.nourriture-cocktail7:before {content: "\e607";}
.nourriture-cherries:before {content: "\e608";}
.nourriture-chef16:before {content: "\e609";}
.nourriture-chef6:before {content: "\e60a";}
.nourriture-birthday3:before {content: "\e60b";}
.nourriture-beer15:before {content: "\e60c";}
.nourriture-barbecue1:before {content: "\e60d";}
.nourriture-barbecue:before {content: "\e60e";}
.nourriture-apron:before {content: "\e60f";}




@font-face {
  font-family: 'personne';
  src:url('personne/fonts/personne.eot');
  src:url('personne/fonts/personne.eot') format('embedded-opentype'),
  url('personne/fonts/personne.woff') format('woff'),
  url('personne/fonts/personne.ttf') format('truetype'),
  url('personne/fonts/personne.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="personne-"], [class*=" personne-"] {
  font-family: 'personne';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.personne-sleeping4:before {content: "\e60a";}
.personne-female109:before {content: "\e60b";}
.personne-crawling:before {content: "\e60c";}
.personne-baby63:before {content: "\e60d";}
.personne-baby23:before {content: "\e60e";}
.personne-baby11:before {content: "\e60f";}
.personne-toilet1:before {content: "\e600";}
.personne-girl16:before {content: "\e601";}
.personne-boy22:before {content: "\e602";}
.personne-boy21:before {content: "\e603";}
.personne-bear2:before {content: "\e604";}
.personne-baby137:before {content: "\e605";}
.personne-baby93:before {content: "\e606";}
.personne-baby79:before {content: "\e607";}
.personne-baby73:before {content: "\e608";}
.personne-baby1:before {content: "\e609";}



@font-face {
  font-family: 'securite';
  src:url('securite/fonts/securite.eot');
  src:url('securite/fonts/securite.eot') format('embedded-opentype'),
  url('securite/fonts/securite.woff') format('woff'),
  url('securite/fonts/securite.ttf') format('truetype'),
  url('securite/fonts/securite.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="securite-"], [class*=" securite-"] {
  font-family: 'securite';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.securite-key1:before {content: "\e600";}
.securite-fbi:before {content: "\e601";}
.securite-exit7:before {content: "\e602";}


@font-face {
  font-family: 'techno';
  src:url('techno/fonts/techno.eoty');
  src:url('techno/fonts/techno.eot') format('embedded-opentype'),
  url('techno/fonts/techno.woff') format('woff'),
  url('techno/fonts/techno.ttf') format('truetype'),
  url('techno/fonts/techno.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="techno-"], [class*=" techno-"] {
  font-family: 'techno';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.techno-courbes:before {content: "\e626";}
.techno-courbes2:before {content: "\e627";}
.techno-courbes3:before {content: "\e628";}
.techno-courbes4:before {content: "\e629";}
.techno-fleches:before {content: "\e62a";}
.techno-tv:before {content: "\e62b";}
.techno-freebox:before {content: "\e622";}
.techno-phone1:before {content: "\e623";}
.techno-phone2:before {content: "\e624";}
.techno-phone3:before {content: "\e625";}
.techno-ventilateur:before {content: "\e61c";}
.techno-prise-eco2:before {content: "\e61e";}
.techno-prise-eco:before {content: "\e61f";}
.techno-perceuse:before {content: "\e620";}
.techno-pc:before {content: "\e621";}
.techno-ventilation:before {content: "\e610";}
.techno-tv6:before {content: "\e611";}
.techno-television10:before {content: "\e612";}
.techno-television4:before {content: "\e613";}
.techno-refrigerator3:before {content: "\e614";}
.techno-phone69:before {content: "\e615";}
.techno-phone16:before {content: "\e616";}
.techno-oven4:before {content: "\e617";}
.techno-oven1:before {content: "\e618";}
.techno-listening3:before {content: "\e619";}
.techno-incoming2:before {content: "\e61a";}
.techno-home115:before {content: "\e61b";}
.techno-cancel8:before {content: "\e61d";}
.techno-wind15:before {content: "\e600";}
.techno-robot30:before {content: "\e601";}
.techno-refrigerator4:before {content: "\e602";}
.techno-plug2:before {content: "\e603";}
.techno-phone25:before {content: "\e604";}
.techno-memory:before {content: "\e605";}
.techno-low2:before {content: "\e606";}
.techno-laundry1:before {content: "\e607";}
.techno-heating3:before {content: "\e608";}
.techno-food27:before {content: "\e609";}
.techno-fingerprint41:before {content: "\e60a";}
.techno-electric9:before {content: "\e60b";}
.techno-desktop2:before {content: "\e60c";}
.techno-charging:before {content: "\e60d";}
.techno-cable1:before {content: "\e60e";}
.techno-bluetooth3:before {content: "\e60f";}



@font-face {
  font-family: 'transport';
  src:url('transport/fonts/transport.eot');
  src:url('transport/fonts/transport.eot') format('embedded-opentype'),
  url('transport/fonts/transport.woff') format('woff'),
  url('transport/fonts/transport.ttf') format('truetype'),
  url('transport/fonts/transport.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="transport-"], [class*=" transport-"] {
  font-family: 'transport';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.transport-velo:before {content: "\e608";}
.transport-trolley2:before {content: "\e600";}
.transport-train8:before {content: "\e601";}
.transport-tractor:before {content: "\e602";}
.transport-school31:before {content: "\e603";}
.transport-hoist:before {content: "\e604";}
.transport-classic5:before {content: "\e605";}
.transport-car95:before {content: "\e606";}
.transport-bicycle12:before {content: "\e607";}
