/*
Theme Core 2019 @Jeedom
colors Dark Mobile
*/
:root {
  --lineheight : 1.42em;
  /* keet it as rem even when zero!!*/
  --border-radius: 0rem;
  --opacity: 1;

  --dashBkg-url: url("");
  --logo-primary-color: rgb(150, 201, 39);
  --logo-secondary-color: rgb(189, 188, 190);
  --bg-color: 35, 35, 37;
  --bg-modal-color: rgb(39, 39, 40);
  --contrast-color: 205, 205, 205;

  --txt-color: rgb(172, 172, 172);
  --link-color: rgb(195, 195, 195);
  --linkHover-color: rgb(228, 228, 228);
  --linkHoverLight-color: rgb(230, 230, 230);
  --placeholder-color: rgb(100, 100, 100);

  --sc-form-color: rgba(215, 215, 215, 0.85);
  --sc-formTxt-color: rgb(56, 56, 56);
  --sc-lightTxt-color: rgb(230, 230, 230);

  --el-defaultColor: rgb(17, 19, 20);
  --defaultBkg-color: 38, 40, 40;
  --form-bg-color: rgb(47, 47, 47);
  --btnEq-default-color: rgb(62, 62, 62);
  --btn-default-color: rgb(69, 70, 72);
  --panel-bg-color: 33, 33, 33;

  --eqTitle-color: rgb(240, 240, 240);
  --objectBkgd-color: rgb(62, 62, 62);
  --objectTxt-color: rgb(200, 200, 200);

  --eq-bg-color: 38, 38, 38;
  --cat-security-color: 145, 65, 60;
  --cat-heating-color: 46, 98, 138;
  --cat-automatism-color: 100, 100, 100;
  --cat-light-color: 153, 100, 40;
  --cat-multimedia-color: 54, 73, 94;
  --cat-energy-color: 50, 120, 60;
  --cat-other-color: 58, 90, 85;
  --cat-scenario-color: 65, 70, 76;

  --url-iconsDark: url(../img/ui-icons-black.png);
  --url-iconsLight: url(../img/ui-icons-white.png);

  --lb-info-color: rgb(80, 160, 180);
  --lb-yellow-color: rgb(210, 180, 0);
  --al-info-color: rgb(80, 120, 170);
  --al-primary-color:  rgb(50, 110, 160);
  --al-success-color: rgb(50, 130, 60);
  --al-warning-color: rgb(195, 125, 40);
  --al-danger-color: rgb(185, 58, 62);
  --bt-success-color: rgb(150, 201, 39);

  --shd-color: rgba(15, 15, 15, 0.55);
}
