/*

Theme Core 2019
By KiboOst for Jeedom

*/

@import url("colors.css");

/* _____________________________GLOBAL */
::-moz-color-swatch {
  border: none;
  border-color: transparent;
}
::-webkit-color-swatch {
  border: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}

* {
	box-shadow: none !important;
	text-shadow: none !important;
	border: none !important;
	border-radius: 0 !important;
}
.backgroundforJeedom {
  background-image: var(--dashBkg-url) !important;
  background-color: transparent !important;
}

.ui-link[data-title=Accueil] {
	background:url(./jeedom_home.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 32px 32px;
}
.ui-link[data-title=Accueil] .fa-home::before {
	content: '' !important;
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background-color: var(--bg-color) !important;
	color: var(--txt-color) !important;
	box-shadow: none !important;
}

.ui-header,
.ui-page-theme-a .ui-bar-inherit {
	background-color: var(--bg-modal-color) !important;
	color: var(--txt-color) !important;
	box-shadow: none !important;
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper,
.cmdName {
	color: var(--txt-color) !important;
}


.ui-header > .ui-btn {
	color: var(--txt-color) !important;
}

.cmdName {
	font-size: 14px !important;
	font-weight: normal !important;
}
.timeCmd {
  color: var(--txt-color);
  background: linear-gradient(var(--bg-color), var(--bg-color)) fixed !important;
  font-size: 12.5px !important;
  padding: 0 0.5em !important;
}

.form-control {
	background-color: var(--form-bg-color) !important;
 	color: var(--txt-color) !important;
}
.ui-input-text::after {
	background-color: transparent;
}
placeholder {
	color: red !important;
}

/* home grid buttons */
.ui-page-theme-a .ui-btn.ui-btn-raised i,
.ui-link i {
	background: transparent !important;
}


.ui-page-theme-a .ui-btn.ui-btn-raised{
	color: var(--link-color) !important;
	background-color: var(--eq-bg-color) !important;	
}
.ui-page-theme-a .ui-btn.ui-btn-raised:hover {
	color: var(--txt-color) !important;
	background-color: var(--btnEq-default-color) !important;
}
.ui-link i:hover {
	color: var(--linkHover-color) !important;
}
:not(.cmd) a.ui-btn-raised:not(.ui-mini) > i:not(.fas) {
	font-size: 2.5em !important;
}


/* bottom home menu */
.ui-bottom-sheet-list .ui-bottom-sheet-link,
.ui-bottom-sheet {
	color: var(--link-color) !important;
	background-color: var(--eq-bg-color) !important;
}
.ui-bottom-sheet-list .ui-bottom-sheet-link:hover,
.ui-listview > li >a:hover {
	background-color: var(--btnEq-default-color) !important;
}

.cmd a.ui-btn-raised > i {
	font-size: 1.2em !important;
}

legend {
	color: var(--link-color) !important;
  background-color: transparent !important;
  text-align: center;
  margin-top: 1em !important;
	margin-bottom: 0.5em !important;
	border-bottom: none !important;
	font-size: 22px !important;
}
.eqLogic-widget i.fa-refresh {
  margin-right: calc((var(--border-radius)/4) + 3px)  !important;
}

.ui-slider-track,
.ui-bar-a {
	background:  var(--el-defaultColor) !important;
	height: 5px;
}
a.ui-slider-handle {
	border-radius: 1em !important;
	background-color: var(--link-color) !important;
	background: linear-gradient(var(--link-color), var(--link-color)) fixed !important;
}

div > center,
div > center > div,
.cmdName {
	font-size: 16px !important;
}

/* _____________________________DASHBOARD CATEGORIES title coloring */
.eqLogic.eqLogic-widget {
	color: var(--txt-color) !important;
}

.widget-name,
.widget-name span,
.widget-name a {
	pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: var(--sc-lightTxt-color) !important;
	font-size: 18px !important;
}

.ui-btn {
	color: var(--link-color) !important;
}
.ui-btn i:hover {
	color: var(--linkHoverLight-color) !important;
}

.eqLogic.eqLogic-widget,
.scenario.scenario-widget  {
	margin-top: 5px !important;
	border: none !important;
}

.eqLogic-widget,
.scenario.scenario-widget {
  background-color: var(--eq-bg-color) !important;
  font-size: 18px !important;
}

[data-category=security] .widget-name {
	display:block;
	min-height: 1.5em !important;
  background-color: var(--cat-security-color) !important;
}
[data-category=heating] .widget-name {
	display:block;
	min-height: 1.5em !important;
  background-color: var(--cat-heating-color) !important;
}
[data-category=automatism] .widget-name {
	display:block;
	min-height: 1.5em !important;
  background-color: var(--cat-automatism-color) !important;
}
[data-category=light] .widget-name {
	display:block;
	min-height: 1.5em !important;
  background-color: var(--cat-light-color) !important;
}
[data-category=multimedia] .widget-name {
	display:block;
	min-height: 1.5em !important;
  background-color: var(--cat-multimedia-color) !important;
}
[data-category=energy] .widget-name {
	display:block;
	min-height: 1.5em !important;
  background-color: var(--cat-energy-color) !important;
}
[data-category=''] .widget-name {
	display:block;
	min-height: 1.5em !important;
  background-color: var(--cat-other-color) !important;
}
.eqLogic-widget:not([data-category]) .widget-name{
	display:block;
	min-height: 1.5em !important;
  background-color: var(--cat-other-color) !important;
}
.scenario-widget .widget-name {
	display:block;
	min-height: 1.5em !important;
  background-color: var(--cat-scenario-color) !important;
}


/* dashboard equipments text color */
#in_searchWidget {
	top: 62px;
	padding-left: 5px;
}

.iconCmd > i {
  color: var(--link-color) !important;
	font-size: 1em !important;
}
.timeCmd {
	background-color: var(--bg-color) !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	font-size: 14px;
}
.statusCmd {
	padding-top: 3px;
}


/* select */
.ui-select .ui-btn {
	background-color: transparent !important;
	color: var(--linkHover-color) !important;
	font-family: "noto";
	font-weight: bold;
}
.ui-select .ui-btn:hover {
	background-color: var(--bg-modal-color) !important;
	color: var(--linkHover-color);
}
.ui-select option {
	background-color: var(--bg-modal-color) !important;
	color: var(--link-color);
}


/* buttons */
a.action.ui-btn {
	background-color: var(--btn-default-color) !important;
	color: var(--link-color) !important;
	min-width: 15px;
}
.eqLogic.eqLogic-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle),
.scenario.scenario-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle) {
	background: linear-gradient(var(--btnEq-default-color), var(--btnEq-default-color)) fixed !important;
}
.eqLogic.eqLogic-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle):hover,
.scenario.scenario-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle):hover {
	color: var(--linkHoverLight-color) !important;
}

.cmd[data-cmd_uid="cmd25__10604754__"] .ui-slider-bg {
	background: linear-gradient(var(--el-defaultColor), var(--el-defaultColor)) fixed !important;
	height: 5px;
}
.state {
	color: var(--linkHover-color);
}

.ui-mini i {
	font-size: 16px !important;
}
.clr-btn-red,
.clr-btn-red:hover {
	color: var(--sc-lightTxt-color) !important;
	background-color: var(--al-danger-color) !important;
}
.ui-btn.clr-btn-deep-orange,
.ui-btn.clr-btn-deep-orange:hover {
	color: var(--link-color) !important;
	background-color: var(--al-warning-color) !important;
}


.cmd:hover {
	color: var(--linkHover-color) !important;
}

.fa-refresh,
.statusCmd > i {
	color: var(--eqTitle-color) !important;
}

.tableCmd,
.highcharts-axis-title > tspan,
.cmd-widget > center {
  fill: var(--txt-color) !important;
  color: var(--txt-color);
}
p.state {
	font-size: 14px !important;
	color: var(--txt-color) !important;
}

/* ________________HIGHCHARTS */
/* arc gauges and sliders */
.highcharts-pane { stroke-width: 0; fill: var(--el-defaultColor); }
.highcharts-data-label > span > span { font-size: 12px !important; color: var(--txt-color) !important;}
.highcharts-color-0 { fill: var(--link-color); }
.ui-slider-handle {
  font-size: 1em;
  border-radius: 1em !important;
  background-color: var(--link-color) !important;
  cursor: pointer !important;
}
.ui-slider-handle:hover {
  background-color: var(--linkHover-color) !important;
}
.ui-slider-horizontal{ height: 5px !important;}
.ui-slider{ border:none !important;}

/* less space under arc gauges */
.gauge.cursor{ height: 85px !important; }
.container-fluid.cmd-widget { min-height: 85px !important; }

.action_colorpicker_change {
  padding: 0 !important;
  border: none !important;
}
h4.modal-title {
  font-size: 14px;
}
.highcharts-legend-item:not(.highcharts-legend-item-hidden) text{
  fill: var(--link-color) !important;
  font-weight: normal !important;
}
.highcharts-legend-item.highcharts-legend-item-hidden text {
  fill: var(--txt-color) !important;
  font-weight: normal !important;
  font-style: italic;
}
.highcharts-background {
  fill: var(--eq-bg-color) !important;
}
.gauge .highcharts-background {
  fill: transparent !important;
}
.highcharts-range-selector-buttons > text {
  fill: var(--link-color) !important;
}
.highcharts-container {
  color: var(--txt-color) !important;
}
.highcharts-plot-band {
  fill: var(--bg-color) !important;
}
.highcharts-grid-line {
  stroke: var(--eq-bg-color);
}
.highcharts-button-box {
  fill: var(--el-defaultColor) !important;
}
.highcharts-button > text,
.highcharts-button-disabled > text{
  fill: var(--link-color) !important;
}
.highcharts-axis-labels > text {
  fill: var(--link-color) !important;
}

path.highcharts-graph {
  stroke-width: 1;
}





/* rounded! */
::-moz-color-swatch {
  border-radius: calc(var(--border-radius) * 2) !important;
}
.eqLogic-widget,
.scenario-widget {
  border-radius: var(--border-radius) !important;
}
.eqLogic-widget .widget-name,
.scenario-widget .widget-name,
.panel,
.panel-heading {
  border-top-left-radius: var(--border-radius)  !important;
  border-top-right-radius: var(--border-radius)  !important;
}
.panel,
.panel-body,
.panel-heading {
  border-bottom-left-radius: var(--border-radius)  !important;
  border-bottom-right-radius: var(--border-radius)  !important;
}
.ui-btn,
.ui-input-text,
input,
select,
textarea,
.label,
.input-group-addon,
.market,
button {
  border-radius: calc(var(--border-radius) * 2) !important;
}
.ui-dialog {
  border-radius: calc(var(--border-radius) * 2) !important;
}

.nav.nav-tabs li:first-child,
.nav.nav-tabs li:first-child a {
  border-top-left-radius: calc(var(--border-radius) * 2)  !important;
}
.nav.nav-tabs li:last-child,
.nav.nav-tabs li:last-child a {
  border-top-right-radius: calc(var(--border-radius) * 2)  !important;
}
.tab-content {
  border-bottom-left-radius: calc(var(--border-radius) * 2)  !important;
  border-bottom-right-radius: calc(var(--border-radius) * 2)  !important;
}
