/*
Theme Core 2019 @Jeedom
colors Legacy Mobile
*/
:root {
  --lineheight : 1.42em;
  /* keet it as rem even when zero!!*/
  --border-radius: 0rem;
  --opacity: 1;

  --dashBkg-url: url("");
  --logo-primary-color: rgb(150, 201, 39);
  --logo-secondary-color: rgb(69, 68, 73);
  --bg-color: 238, 239, 241;
  --bg-modal-color: rgb(237, 238, 238);
  --contrast-color: 30, 30, 30;

  --txt-color: rgb(115, 115, 115);
  --link-color: rgb(90, 90, 90);
  --linkHover-color: rgb(140, 140, 148);
  --linkHoverLight-color: rgb(254, 254, 254);
  --placeholder-color: rgb(160, 160, 160);

  --sc-form-color: rgba(245, 245, 245, 0.85);
  --sc-formTxt-color: rgb(75, 75, 75);
  --sc-lightTxt-color: rgb(240, 240, 240);

  --el-defaultColor: rgb(200, 200, 200);
  --defaultBkg-color: 255, 255, 255;
  --form-bg-color: rgb(220, 220, 220);
  --btnEq-default-color: rgb(220, 220, 220);
  --btn-default-color: rgb(100, 100, 100);
  --panel-bg-color: 248, 249, 250;

  --eqTitle-color: rgb(240, 240, 240);
  --objectBkgd-color: rgb(105, 105, 105);
  --objectTxt-color: rgb(235, 235, 235);

  --eq-bg-color: 255, 255, 255;
  --cat-security-color: 116, 92, 176;
  --cat-heating-color: 41, 128, 185;
  --cat-automatism-color: 128, 128, 128;
  --cat-light-color: 243, 156, 18;
  --cat-multimedia-color: 52, 73, 94;
  --cat-energy-color: 46, 176, 75;
  --cat-other-color: 25, 188, 156;
  --cat-scenario-color: 127, 140, 141;

  --cat-security-BtnColor: rgb(156, 132, 216);
  --cat-heating-BtnColor: rgb(81, 168, 225);
  --cat-automatism-BtnColor: rgb(168, 168, 168);
  --cat-light-BtnColor: rgb(248, 189, 65);
  --cat-multimedia-BtnColor: rgb(98, 120, 145);
  --cat-energy-BtnColor: rgb(86, 216, 115);
  --cat-other-BtnColor: rgb(65, 228, 196);
  --cat-scenario-BtnColor: rgb(230, 230, 235);

  --url-iconsDark: url(../img/ui-icons-white.png);
  --url-iconsLight: url(../img/ui-icons-black.png);

  --lb-info-color: rgb(110, 180, 240);
  --lb-yellow-color: rgb(250, 225, 0);
  --al-info-color: rgb(100, 175, 250);
  --al-primary-color:  rgb(60, 120, 180);
  --al-success-color: rgb(80, 170, 80);
  --al-warning-color: rgb(240, 160, 40);
  --al-danger-color: rgb(210, 0, 0);
  --bt-success-color: rgb(150, 215, 39);

  --shd-color: rgba(0, 0, 0, 0.55);
}
