/*

Theme Core 2019
By KiboOst for Jeedom

*/

@import url("mobile.main.css");
@import url("colors.css");


/* ___________________________________________________________EQs */
.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper,
.cmdName {
	color: var(--linkHoverLight-color) !important;
}

.iconCmd > i {
  color: var(--linkHoverLight-color) !important;
}
p.state {
  color: var(--linkHoverLight-color) !important;
}
.state,
.state i {
  color: var(--linkHoverLight-color) !important;
}


/* buttons */
a.action.ui-btn {
  background-color: var(--btn-default-color) !important;
  color: var(--link-color) !important;
}
.eqLogic.eqLogic-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle),
.scenario.scenario-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle) {
  color: var(--linkHoverLight-color) !important;
}
.eqLogic.eqLogic-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle):hover,
.scenario.scenario-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle):hover {
  opacity: 0.7;
}

.eqLogic.eqLogic-widget .ui-input-text input {
	color: var(--linkHoverLight-color);
}

.objectSummaryParent {
  color: var(--link-color);
}

.ui-slider-bg {
  background: linear-gradient(var(--el-defaultColor), var(--el-defaultColor)) fixed !important;
}

.clr-btn-red,
.clr-btn-red:hover {
  color: var(--sc-lightTxt-color) !important;
  background-color: var(--al-danger-color) !important;
}
.ui-btn.clr-btn-deep-orange,
.ui-btn.clr-btn-deep-orange:hover {
  color: var(--link-color) !important;
  background-color: var(--al-warning-color) !important;
}

.iconCmd:hover {
  opacity: 0.75;
}

.fa-refresh,
.statusCmd > i {
  color: var(--linkHoverLight-color) !important;
}

.tableCmd,
.highcharts-axis-title > tspan,
.cmd-widget > center {
  fill: var(--linkHoverLight-color) !important;
  color: var(--linkHoverLight-color);
}

/* select */
.ui-select .ui-btn {
	background-color: var(--linkHoverLight-color) !important;
	color: var(--linkHover-color) !important;
}
.ui-select .ui-btn:hover {
	background-color: var(--sc-form-color) !important;
  opacity: 0.5;
	color: var(--linkHover-color);
}
.ui-select option {
	background-color: var(--bg-modal-color) !important;
	color: var(--link-color);
}

.eqLogic.eqLogic-widget .ui-select .ui-btn {
	background-color: transparent !important;
	color: var(--linkHoverLight-color) !important;
}

.ui-checkbox {
  color: var(--link-color);
}

.eqLogic-widget .action.ui-btn.ui-btn-raised {
  background: var(--btn-default-color) !important;
}

/* ___________________________________________________________GAUGES */
.shuttergauge-value {
  background: var(--linkHoverLight-color);
}
.shuttergauge > div:first-child {
  color: var(--linkHoverLight-color) !important;
}
.shuttergauge-bckg {
  border-top: 6px solid var(--el-defaultColor) !important;
  border-left: 4px solid var(--el-defaultColor) !important;
  border-right: 4px solid var(--el-defaultColor) !important;
}

.highcharts-legend-item:not(.highcharts-legend-item-hidden) text{
  fill: var(--link-color) !important;
}
.highcharts-legend-item.highcharts-legend-item-hidden text {
  fill: var(--txt-color) !important;
}
.highcharts-background {
  fill: var(--eq-bg-color) !important;
}
.gauge .highcharts-background {
  fill: transparent !important;
}
.highcharts-range-selector-buttons > text {
  fill: var(--link-color) !important;
}
.highcharts-container {
  color: var(--txt-color) !important;
}
.highcharts-plot-band {
  fill: var(--bg-color) !important;
}
.highcharts-grid-line {
  stroke: var(--eq-bg-color);
}
.highcharts-button-box {
  fill: var(--el-defaultColor) !important;
}
.highcharts-button > text,
.highcharts-button-disabled > text{
  fill: var(--link-color) !important;
}
.highcharts-axis-labels > text {
  fill: var(--link-color) !important;
}

.highcharts-pane {
  fill: var(--el-defaultColor);
}
.highcharts-data-label > span > span {
  color: var(--txt-color) !important;
}
.highcharts-color-0 {
  fill: var(--link-color);
}
.ui-slider-track .ui-slider-handle {
  background-color: var(--linkHoverLight-color) !important;
}
.ui-slider-handle:hover {
  background-color: var(--linkHoverLight-color) !important;
}
