@font-face {
	font-family: 'personne';
	src:url('fonts/personne.eot?4zj6oh');
	src:url('fonts/personne.eot?#iefix4zj6oh') format('embedded-opentype'),
		url('fonts/personne.woff?4zj6oh') format('woff'),
		url('fonts/personne.ttf?4zj6oh') format('truetype'),
		url('fonts/personne.svg?4zj6oh#personne') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="personne-"], [class*=" personne-"] {
	font-family: 'personne';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.personne-sleeping4:before {
	content: "\e60a";
}
.personne-female109:before {
	content: "\e60b";
}
.personne-crawling:before {
	content: "\e60c";
}
.personne-baby63:before {
	content: "\e60d";
}
.personne-baby23:before {
	content: "\e60e";
}
.personne-baby11:before {
	content: "\e60f";
}
.personne-toilet1:before {
	content: "\e600";
}
.personne-girl16:before {
	content: "\e601";
}
.personne-boy22:before {
	content: "\e602";
}
.personne-boy21:before {
	content: "\e603";
}
.personne-bear2:before {
	content: "\e604";
}
.personne-baby137:before {
	content: "\e605";
}
.personne-baby93:before {
	content: "\e606";
}
.personne-baby79:before {
	content: "\e607";
}
.personne-baby73:before {
	content: "\e608";
}
.personne-baby1:before {
	content: "\e609";
}
