@font-face {
	font-family: 'jeedom';
	src:url('fonts/jeedom.eot?-75tq8a78');
	src:url('fonts/jeedom.eot?#iefix-75tq8a85') format('embedded-opentype'),
		url('fonts/jeedom.woff?-75tq8a58') format('woff'),
		url('fonts/jeedom.ttf?-75tq8a58') format('truetype'),
		url('fonts/jeedom.svg?-75tq8a58#jeedom') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="jeedom-"], [class*=" jeedom-"] {
	font-family: 'jeedom';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.jeedom-cafetiere_off:before {
	content: "\e628";
}
.jeedom-cafetiere_on:before {
	content: "\e629";
}
.jeedom-clap_cinema:before {
	content: "\e62a";
}
.jeedom-portail_coulissant_demi_d:before {
	content: "\e62b";
}
.jeedom-portail_coulissant_demi_g:before {
	content: "\e62c";
}
.jeedom-portail_coulissant_ferme:before {
	content: "\e62d";
}
.jeedom-portail_coulissant_ouvert_d:before {
	content: "\e62e";
}
.jeedom-portail_coulissant_ouvert_g:before {
	content: "\e62f";
}
.jeedom-ventilo:before {
	content: "\e630";
}
.jeedom-alerte:before {
	content: "\e600";
}
.jeedom-alerte2:before {
	content: "\e601";
}
.jeedom-batterie0:before {
	content: "\e602";
}
.jeedom-batterie1:before {
	content: "\e603";
}
.jeedom-batterie2:before {
	content: "\e604";
}
.jeedom-batterie3:before {
	content: "\e605";
}
.jeedom-bell:before {
	content: "\e606";
}
.jeedom-choc:before {
	content: "\e607";
}
.jeedom-eau:before {
	content: "\e608";
}
.jeedom-fenetre-ferme:before {
	content: "\e609";
}
.jeedom-fenetre-ouverte:before {
	content: "\e60a";
}
.jeedom-feu:before {
	content: "\e60b";
}
.jeedom-garage-ferme:before {
	content: "\e60c";
}
.jeedom-garage-ouvert:before {
	content: "\e60d";
}
.jeedom-lock-ferme:before {
	content: "\e60e";
}
.jeedom-lock-ouvert:before {
	content: "\e60f";
}
.jeedom-lumiere-off:before {
	content: "\e610";
}
.jeedom-lumiere-on:before {
	content: "\e611";
}
.jeedom-mouvement:before {
	content: "\e612";
}
.jeedom-no-bell:before {
	content: "\e613";
}
.jeedom-off:before {
	content: "\e614";
}
.jeedom-on:before {
	content: "\e615";
}
.jeedom-pilote-conf:before {
	content: "\e616";
}
.jeedom-pilote-eco:before {
	content: "\e617";
}
.jeedom-pilote-hg:before {
	content: "\e618";
}
.jeedom-pilote-off:before {
	content: "\e619";
}
.jeedom-portail_ferme:before {
	content: "\e61a";
}
.jeedom-portail_ouvert:before {
	content: "\e61b";
}
.jeedom-porte-ferme:before {
	content: "\e61c";
}
.jeedom-porte-ouverte:before {
	content: "\e61d";
}
.jeedom-prise:before {
	content: "\e61e";
}
.jeedom-sirene:before {
	content: "\e61f";
}
.jeedom-surveillance1:before {
	content: "\e620";
}
.jeedom-thermo-chaud:before {
	content: "\e621";
}
.jeedom-thermo-froid:before {
	content: "\e622";
}
.jeedom-thermo-moyen:before {
	content: "\e623";
}
.jeedom-thermometre-celcius:before {
	content: "\e624";
}
.jeedom-thermometre:before {
	content: "\e625";
}
.jeedom-volet-ferme:before {
	content: "\e626";
}
.jeedom-volet-ouvert:before {
	content: "\e627";
}
