@font-face {
	font-family: "Digital-7";
	src: url("font/digital-7.eot?") format("eot"),
		url("font/digital-7.woff") format("woff"),
		url("font/digital-7.ttf") format("truetype"),
		url("font/digital-7.svg#Digital-7") format("svg");
	font-weight: normal;
	font-style: normal;
}

div.widget-hygrothermographe {
	width: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 5px;
}

div.widget-hygrothermographe>div {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-family: "Digital-7";
	color: #181818;
	font-size: 20px;
	padding-left: 0.25em;
}

.widget-hygrothermographe div.temperature {
	height: 110px;
	align-content: flex-end;
}

.widget-hygrothermographe div.humidity {
	height: 90px;
	align-content: flex-start;
}

.widget-hygrothermographe span.intNumTemp {
	font-size: 3em;
	line-height: 0.9em;
	letter-spacing: 0.05em;
}

.widget-hygrothermographe span.decNumTemp {
	font-size: 1.5em;
}

.widget-hygrothermographe span.uniteTemp,
.widget-hygrothermographe span.uniteHumidity {
	font-size: 0.75em;
	font-weight: bold;
}

.widget-hygrothermographe span.intNumHumidity {
	font-size: 2.5em;
	line-height: 1em;
	letter-spacing: 0.05em;
}

.widget-hygrothermographe span.decNumHumidity {
	font-size: 1.25em;
}

.widget-hygrothermographe .cmdStats {
	flex-basis: 100%;
	font-size: 0.6em !important;
	line-height: 0.6em !important;
	color: #181818 !important;
	margin-top: -0.5em;
}
