<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" style="background-color: rgb(255,0,0);color: #color#;#style#">
	<center>
		<span class="widget-name">
			<span class="cmdName">#name_display# <span style="font-size: 0.85em;">#object_name#</span></span><br/>
		</span>
	</center>
	<center>
		<span title="#alert_name#" style="cursor : default;font-size : 50px"><i class="#alert_icon#"></i></span><br/>
		<span style="color:white;font-size : 12px;font-weight: bold;Cursor:default">Equipement en alerte #alert_name#</span>
	</center>
</div>
