<div class="cmd cmd-widget" data-type="action" data-subtype="color" data-template="default" data-version="#version#" data-eqLogic_id="#eqLogic_id#"  data-cmd_id="#id#" data-cmd_uid="#uid#">
	<div data-role="controlgroup" data-type="horizontal" class="ui-controlgroup ui-controlgroup-horizontal ui-corner-all">
		<div class="ui-controlgroup-controls">
			<input type="color" class="action_colorpicker_change controlgroup-textinput cursor roundedLeft" data-mini="true" data-wrapper-class="controlgroup-textinput ui-btn">
			<a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised action_colorpicker_off roundedRight">Off</a>
		</div>
	</div>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			$('.cmd[data-cmd_uid=#uid#]:last .action_colorpicker_change').off('change')
			$('.cmd[data-cmd_uid=#uid#] .action_colorpicker_change').value((_options.display_value != '') ? _options.display_value.substr(0,7) : _options.display_value);
			$('.cmd[data-cmd_uid=#uid#]:last .action_colorpicker_change').on('change', function() {
				jeedom.cmd.execute({id: '#id#', value: {color: $(this).value()}});
			});
		}
		$('.cmd[data-cmd_uid=#uid#] .action_colorpicker_off').on('click', function() {
			jeedom.cmd.execute({id: '#id#', value: {color: '#000000'}});
		});
		jeedom.cmd.update['#id#']({display_value:'#state#'});
	</script>
</div>
