<div class="cmd" data-type="info" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<center>
		<div style="font-size : 12px;#hideCmdName#">#name_display#</div>
		<span style="font-size: 3em;" class="iconCmd"></span>
	</center>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			if (parseFloat(_options.display_value) >= 1) {
				$('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="icon jeedom-volet-ouvert"></i>');
			} else {
				$('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="icon jeedom-volet-ferme"></i>');
			}
		}
		jeedom.cmd.update['#id#']({display_value:'#state#'});
	</script>
</div>
