<div class="cmd cmd-widget #history#" data-type="action" data-subtype="other" data-template="tmpliconline" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#" title="#collectDate#">
  <center>
    <span class="cmdName #hide_name#">#valueName#</span>
    <span class="iconCmdLine cursor"></span>
  </center>
</div>
<script>
  jeedom.cmd.update['#id#'] = function(_options){
    var cmd = $('.cmd[data-cmd_id=#id#]');
    if (_options.display_value == '1' || _options.display_value >= 1 || _options.display_value == '99' || _options.display_value == 99 || _options.display_value == 'on') {
      if (jeedom.cmd.normalizeName('#name#') == 'on') {
        cmd.hide();
      }else{
        cmd.show();
        cmd.find('.iconCmdLine').empty().append("#_icon_on_#");
      }
    } else {
      if (jeedom.cmd.normalizeName('#name#') == 'off') {
        cmd.hide();
      }else{
        cmd.show();
        cmd.find('.iconCmdLine').empty().append("#_icon_off_#");
      }
    }
  }
  jeedom.cmd.update['#id#']({display_value:'#state#'});
  $('.cmd[data-cmd_uid=#uid#] .iconCmdLine').off().on('click', function() {
    jeedom.cmd.execute({id: '#id#'});
  });
</script>
