<div class="cmd cmd-widget" data-type="action" data-subtype="message" data-template="default" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<textarea rows="2" class="text" placeholder="Texte" data-cmd_id="#id#"></textarea>
	<center><a class="action ui-btn ui-mini ui-btn-inline execute" >#name_display#</a></center>
	<script>
		$('.cmd[data-cmd_uid=#uid#] .execute').on('click', function () {
			jeedom.cmd.execute({id: '#id#', value: {text: $('.cmd[data-cmd_uid=#uid#] .text').value()}});
		});
	</script>
</div>