<div class="cmd cmd-widget timeShuttergauge" data-type="action" data-subtype="slider" data-template="timeShutter" data-version="#version#" data-eqLogic_id="#eqLogic_id#" class="cmd #history# cmd-widget" data-cmd_id="#id#" data-cmd_uid="#uid#">
  <center>
    <div style="#hideCmdName#">#name_display#</div>
    <div class="shuttergauge-chart">
      <div class="shuttergauge-bckg cursor">
        <div class="shuttergauge-value"></div>
      </div>
    </div>
    <div class="shuttergauge-state state"><strong>#state# #unite#</strong></div>
    <div id="widget_slider#id#" class="slider full-width-slider"></div>
    <div class="timeCmd value #value_history#" data-type="info" data-cmd_id="#value_id#"></div>
  </center>
  <script>
    var step#id# = 1
    if ($.issetWidgetOptParam('#step#', 'step')) {
      step#id# = parseFloat('#step#')
    }
    var mySlider#id# = $.createWidgetSlider({
      sliderDiv: document.getElementById('widget_slider#id#'),
      state: ('#state#' == '') ? #minValue# : '#state#',
      min: #minValue#,
      max: #maxValue#,
      step: step#id#,
      tooltips: true,
      format: true,
      unite: '#unite#'
    })

    if ($.issetWidgetOptParam('#color#', 'color')) {
      $(mySlider#id#.target).find('.noUi-handle').style('background', '#color#', 'important')
      $(mySlider#id#.target).find('.noUi-connect').style('background', '#color#', 'important')
      $('.cmd[data-cmd_id=#id#]').find('div.shuttergauge-value').style('background', '#color#', 'important')
    }

    mySlider#id#.on('change', function(values, handle) {
      jeedom.cmd.execute({id: '#id#', value: {slider: values[handle].replace('#unite#', '').trim()}})
    })

    jeedom.cmd.addUpdateFunction('#id#',function(_options) {
      let cmd = $('.cmd[data-cmd_uid=#uid#]')
      jeedom.cmd.displayDuration(_options.valueDate, cmd.find('.timeCmd'), '#time#')
      let height = ((_options.value - #minValue#) * 100) / (#maxValue# - #minValue#)
      height = 100 - (Math.round(parseFloat(height) * 10) / 10)
      if ('#invert#' == '1') {
        let maxValue = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
        height = maxValue - height
      }
      cmd.find('.shuttergauge-value').height(height+'%')
      cmd.find('.state strong').first().text(_options.display_value+' '+_options.unit)
      mySlider#id#.set(_options.value)
    });

    $('.cmd[data-cmd_uid=#uid#] .shuttergauge-bckg').off().on('click', function() {
      shutterPos = $('.cmd[data-cmd_uid=#uid#] .state strong').first().html().replace('#unite#', '').trim()
      var maxValue = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
      var minValue = ('#minValue#' == '') ? 0 : parseInt('#minValue#')
      if (shutterPos > (maxValue - minValue) / 2) {
        jeedom.cmd.execute({id: '#id#', value: {slider: minValue}})
      } else {
        jeedom.cmd.execute({id: '#id#', value: {slider: maxValue}})
      }
    })

    jeedom.cmd.refreshValue([{cmd_id:'#id#', value: '#state#', display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#', unit: '#unite#'}])
  </script>
</div>
