<div class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#id#" >
    <center>
        <span style="font-weight: bold;font-size : 12px;">#name#</span><br/>
        <span style="font-size: 2.5em;margin-top: 5px;" id="iconCmd#id#"></span>
    </center>
    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('#iconCmd#id#').addClass('fa fa-check');
        }
        if ('#state#' == '0' || '#state#' == 0) {
            $('#iconCmd#id#').addClass('fa fa-times');
        }
    </script>
</div>