<div class="cmd" data-type="action" data-subtype="slider" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<div class="slider full-width-slider" style="width: 96%;text-align: right;min-width : 100px;" style="background-color:#cmdColor# !important;">
		<input type="range" min="#minValue#" max="#maxValue#" data-theme="a" value="#state#" style="background-color:#cmdColor# !important;"/>
	</div>

	<script>
		$("body").undelegate(".cmd[data-cmd_uid=#uid#] .slider");
		$("body").delegate(".cmd[data-cmd_uid=#uid#] .slider",'slidestop', function (event, ui) {
			jeedom.cmd.execute({id: '#id#', value: {slider: $(".cmd[data-cmd_uid=#uid#] .slider input").value()}});
		});
	</script>
	<style>
        .cmd[data-cmd_uid="#uid#"] .ui-slider-handle{
            background-color:#cmdColor# !important;
        }
        .cmd[data-cmd_uid="#uid#"] .ui-slider-bg{
            background-color:#cmdColor# !important;
        }
    </style>
</div>
