<div class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<center>
		<span style="font-size : 12px;#hideCmdName#" class='cmdName'>#name_display#<br/></span>
		<span style="font-size: 3em;margin-top: 5px;" class="iconCmd#uid#"></span>
	</center>
	<script>
		if ('#state#' == '1' || '#state#' == 1) {
			$('.iconCmd#uid#').append('<i class="icon jeedom-lock-ferme"></i>');
		} else {
			$('.iconCmd#uid#').append('<i class="icon jeedom-lock-ouvert"></i>');
		}
	</script>
</div>