<div class="cmd cmd-widget #history#" data-type="action" data-subtype="slider" data-template="tmplicon" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
  <center>
    <div class="cmdName #hide_name#">#name_display#</div>
    <span class="cursor iconCmd"></span>
    <div id="widget_slider#id#" class="slider full-width-slider"></div>
    <span class="timeCmd value #value_history#" data-type="info" data-cmd_id="#value_id#"></span>
  </center>
  <script>
    var step#id# = 1
    if ($.issetWidgetOptParam('#step#', 'step')) {
      step#id# = parseFloat('#step#')
    }
    var mySlider#id# = $.createWidgetSlider({
      sliderDiv: document.getElementById('widget_slider#id#'),
      state: ('#state#' == '') ? #minValue# : '#state#',
      min: #minValue#,
      max: #maxValue#,
      step: step#id#,
      tooltips: true,
      format: true,
      unite: '#unite#'
    })

    if ($.issetWidgetOptParam('#color#', 'color')) {
      $(mySlider#id#.target).find('.noUi-handle').style('background', '#color#', 'important')
      $(mySlider#id#.target).find('.noUi-connect').style('background', '#color#', 'important')
    }

    $('.cmd[data-cmd_id=#id#] .iconCmd').on('click', function() {
      if ($(this).attr('data-state') == 'on') {
        var value = ('#minValue#' == '') ? 0 : parseInt('#minValue#')
        jeedom.cmd.execute({id: '#id#', value: {slider: value}})
      } else {
        var value = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
        jeedom.cmd.execute({id: '#id#', value: {slider: value}})
      }
    })

    mySlider#id#.on('end', function(values, handle) {
      jeedom.cmd.execute({id: '#id#', value: {slider: values[handle].replace('#unite#', '')}})
    })

    jeedom.cmd.update['#id#'] = function(_options) {
      var cmd = $('.cmd[data-cmd_id=#id#]')
      if ('#_time_widget_#' == '1') {
        jeedom.cmd.displayDuration(_options.valueDate, cmd.find('.timeCmd'), '#time#')
      } else {
        cmd.find('.timeCmd').remove()
      }
      var minValue = ('#minValue#' == '') ? 0 : parseInt('#minValue#')
      var maxValue = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
      var stateValue = ('#state#' == '') ? 0 : parseInt(_options.display_value)
      mySlider#id#.set(stateValue)
      if (stateValue > minValue) {
        cmd.find('.iconCmd').empty().append("#_icon_on_#").attr('data-state', 'on')
      } else {
        cmd.find('.iconCmd').empty().append("#_icon_off_#").attr('data-state', 'off')
      }
    }

    jeedom.cmd.update['#id#']({display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#'})
  </script>
</div>
