<div class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="width:90px;height:100%;vertical-align: top;">
	<center>
		<div class="cmdName #hide_name#">#name_display#</div>
		<span class="iconCmd"></span>
	</center>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			if (_options.display_value == '1') {
				$('.cmd[data-cmd_id=#id#] .iconCmd').empty().append("#_icon_on_#");
			}else {
				$('.cmd[data-cmd_id=#id#] .iconCmd').empty().append("#_icon_off_#");
			}
		}
		jeedom.cmd.update['#id#']({display_value:'#state#'});
	</script>
</div>
