<div class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
	<center>
		<div class="cmdName #hide_name#">#name_display#</div>
		<span class="iconCmd"></span><br/>
		<span class="timeCmd#uid# timeCmd"></span>
	</center>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			var cmd = $('.cmd[data-cmd_id=#id#]');
			jeedom.cmd.displayDuration(_options.valueDate,  cmd.find('.timeCmd'));
			if (_options.display_value == '1') {
				cmd.find('.iconCmd').empty().append("#_icon_on_#");
			}else {
				cmd.find('.iconCmd').empty().append("#_icon_off_#");
			}
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
	</script>
</div>
