<div class="cmd cmd-widget #history#" data-type="action" data-subtype="other" data-template="tmplicon" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#" title="#collectDate#">
  <center>
    <div class="cmdName #hide_name#">#valueName#</div>
    <div class="iconCmd cursor"></div>
    <span class="timeCmd value #value_history#" data-type="info" data-cmd_id="#value_id#"></span>
  </center>
  <script>
    jeedom.cmd.update['#id#'] = function(_options) {
      var cmd = $('.cmd[data-cmd_id=#id#]')
      if ('#_time_widget_#' != '1') cmd.find('.timeCmd').remove()

      if (['1', 1, '99', 99, 'on'].includes(_options.display_value)) {
        if (jeedom.cmd.normalizeName('#name#') == 'on') {
          cmd.hide();
        } else {
          cmd.show()
          cmd.find('.iconCmd').empty().append("#_icon_on_#")
          if ('#_time_widget_#' == '1') jeedom.cmd.displayDuration(_options.valueDate, cmd.find('.timeCmd'), '#time#')
        }
      } else if (['0', 0, 'off'].includes(_options.display_value)) {
        if (jeedom.cmd.normalizeName('#name#') == 'off') {
          cmd.hide()
        } else {
          cmd.show()
          cmd.find('.iconCmd').empty().append("#_icon_off_#")
          if ('#_time_widget_#' == '1') jeedom.cmd.displayDuration(_options.valueDate, cmd.find('.timeCmd'), '#time#')
        }
      }
    }

    jeedom.cmd.update['#id#']({display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#'})

    $('.cmd[data-cmd_uid=#uid#] .iconCmd').off().on('click', function () {
      jeedom.cmd.execute({id: '#id#'})
    })
  </script>
</div>
