<div class="cmd cmd-widget #history#" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#" style="display: block;">
	<center><span style="font-size : 12px;#hideCmdName#" class="cmdName">#name_display#</span> <span class="iconCmd"></span></center>
	<script>
        jeedom.cmd.update['#id#'] = function(_options){
            if (_options.display_value == '1') {
               $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="fa fa-check"></i>');
           }else {
            $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="fa fa-times"></i>');
        }
    }
    jeedom.cmd.update['#id#']({display_value:'#state#'});
</script>
</div>