<div class="cmd cmd-widget shuttergauge" data-type="action" data-subtype="slider" data-template="shutter" data-version="#version#" data-eqLogic_id="#eqLogic_id#" class="cmd #history# cmd-widget" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<center>
		<div style="#hideCmdName#">#name_display#</div>
		<div class="shuttergauge-chart">
			<div class="shuttergauge-bckg cursor">
				<div class="shuttergauge-value"></div>
			</div>
		</div>
		<div class="shuttergauge-state state"><strong>#state#</strong> <strong>#unite#</strong></div>
		<div class="slider full-width-slider ui-slider">
			<input type="number" data-type="range" min="#minValue#" max="#maxValue#" value="#state#" data-highlight="true" />
		</div>
	</center>
	<script>
		$('body').undelegate('.cmd[data-cmd_uid=#uid#] .slider')
		$('body').delegate('.cmd[data-cmd_uid=#uid#] .slider','slidestop', function (event, ui) {
			jeedom.cmd.execute({id: '#id#', value: {slider: $(".cmd[data-cmd_uid=#uid#] .slider input").value()}})
		})
		jeedom.cmd.update['#id#'] = function(_options) {
			var cmd = $('.cmd[data-cmd_uid=#uid#]')
			var height = ((_options.display_value - #minValue#) * 100) / (#maxValue# - #minValue#)
			height = 100 - (Math.round(parseFloat(height) * 10) / 10)
			if ('#invert#' == '1') {
				var maxValue = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
				height = maxValue - height
			}
			cmd.find('.shuttergauge-value').height(height+'%')
			cmd.find('.state strong').first().text(_options.display_value)
			cmd.find('.slider input').value(_options.display_value)
		}
		$('.cmd[data-cmd_uid=#uid#] .shuttergauge-bckg').off().on('click', function() {
			shutterPos = $('.cmd[data-cmd_uid=#uid#] .state strong').first().html()
			if (shutterPos > 50) {
				jeedom.cmd.execute({id: '#id#', value: {slider: #minValue#}})
			} else {
				jeedom.cmd.execute({id: '#id#', value: {slider: #maxValue#}})
			}
		})
		jeedom.cmd.update['#id#']({display_value:'#state#'})
	</script>
</div>
