<div class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<center>
		<div style="font-size : 12px;#hideCmdName#">#name_display#</div>
		<span style="font-size: 3em;margin-top: 5px;" class="iconCmd#uid#"></span><br/>
		<span class="timeCmd#uid#" style="background-color:#cmdColor# !important;padding : 3px;border-radius: 4px;"></span>
	</center>
	<script>
		jeedom.cmd.displayDuration('#valueDate#', $('.timeCmd#uid#'));
		if ('#state#' == '1' || '#state#' == 1) {
			$('.iconCmd#uid#').append('<i class="icon jeedom-porte-ferme"></i>');
		}else  {
			$('.iconCmd#uid#').append('<i class="icon jeedom-porte-ouverte"></i>');
		}
	</script>
</div>