<div class="cmd cmd-widget #history#" data-type="action" data-subtype="other" data-template="tmplicon" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#" title="#collectDate#">
  <center>
    <div class="cmdName #hide_name#">#valueName#</div>
    <div class="iconCmd cursor"></div>
    <span class="timeCmd#uid# timeCmd"></span>
  </center>
</div>
<script>
  jeedom.cmd.update['#id#'] = function(_options){
    var cmd = $('.cmd[data-cmd_id=#id#]');
    if('#_time_widget_#' == '1'){
      jeedom.cmd.displayDuration(_options.valueDate,  cmd.find('.timeCmd'));
    }else{
      cmd.find('.timeCmd').remove();
    }
    if (_options.display_value == '1' || _options.display_value >= 1 || _options.display_value == '99' || _options.display_value == 99 || _options.display_value == 'on') {
      if (jeedom.cmd.normalizeName('#name#') == 'on') {
        cmd.hide();
      }else{
        cmd.show().find('.iconCmd').empty().append("#_icon_on_#");
      }
    } else {
      if (jeedom.cmd.normalizeName('#name#') == 'off') {
        cmd.hide();
      }else{
        cmd.show().find('.iconCmd').empty().append("#_icon_off_#");
      }
    }
  }
  jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
  $('.cmd[data-cmd_uid=#uid#] .iconCmd').off().on('click', function() {
    jeedom.cmd.execute({id: '#id#'});
  });
</script>
