<div class="cmd" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#" style="width:90px;height:100%;vertical-align: top;">
	<center>
		<div class="cmdName #hide_name#">#name_display#</div>
		<div class="imgCmd"></div>
		<span class="timeCmd#uid# timeCmd"></span>
	</center>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			var cmd = $('.cmd[data-cmd_id=#id#]');
			if('#_time_widget_#' == '1'){
				jeedom.cmd.displayDuration(_options.valueDate,  cmd.find('.timeCmd'));
			}else{
				cmd.find('.timeCmd').remove();
			}
			if (_options.display_value == '1') {
				cmd.find('.imgCmd').empty().append(jeedom.widgets.getThemeImg("#_img_light_on_#","#_img_dark_on_#")).attr('data-state','on');
			}else {
				cmd.find('.imgCmd').empty().append(jeedom.widgets.getThemeImg("#_img_light_off_#","#_img_dark_off_#")).attr('data-state','off');
			}
			var style = '';
			if(!isNaN('#_mobile_width_#')){
				style = 'max-width:#_mobile_width_#px !important;'
			}
			cmd.find('.imgCmd img').attr('style',style);
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
		$('body').on('changeThemeEvent', function (event, theme) {
			var cmd = $('.cmd[data-cmd_id=#id#]');
			if(cmd.attr('data-state') == 'on'){
				cmd.find('.imgCmd img').attr('src',jeedom.widgets.getThemeImg("#_img_light_on_#","#_img_dark_on_#"))
			}else{
				cmd.find('.imgCmd img').attr('src',jeedom.widgets.getThemeImg("#_img_light_off_#","#_img_dark_off_#"))
			}
			var style = '';
			if(!isNaN('#_mobile_width_#')){
				style = 'max-width:#_mobile_width_#px !important;'
			}
			cmd.find('.imgCmd img').attr('style',style);
		});
	</script>
</div>
