<div class="cmd cmd-widget" data-type="info" data-subtype="numeric" data-template="light" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
  <center>
    <div class="cmdName #hide_name#">#name_display#</div>
    <span id="iconCmd"></span>
  </center>
</div>
<script>
  jeedom.cmd.update['#id#'] = function(_options){
    if (_options.display_value == '1') {
      $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="icon jeedom-lumiere-on"></i>');
    } else {
      $('.cmd[data-cmd_id=#id#] .iconCmd').empty().append('<i class="icon jeedom-lumiere-off"></i>');
    }
  }
  jeedom.cmd.update['#id#']({display_value:'#state#'});
</script>
