<div style="width:90px;min-height:70px;" data-version="#version#" data-eqLogic_id="#eqLogic_id#" class="cmd #history# tooltips cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#">
    <center>
        <!--<span class='cmdName' style="font-weight: bold;font-size : 12px;">#name_display#</span>-->
        <span class="cursor iconCmd#uid#" style="font-size: 2em;"></span>
      <span style="font-weight: bold;font-size : 12px;"  class='cmdState' >#state#</span>
    </center>
    <script>
      jeedom.cmd.update['#id#'] = function(_options){
      $('.iconCmd#uid#').empty();
      console.log(_options.display_value);
      if(_options.display_value == '0'){
        // Closed
        if (jeedom.cmd.normalizeName('#name#') == 'fermer') {
                    $('.cmd[data-cmd_id=#id#]').hide();
                }else{
                    $('.cmd[data-cmd_id=#id#]').show();
                    $('.iconCmd#uid#').append('<i class="icon jeedom-garage-ferme fa-2x" ></i>');
                    $(".cmd[data-cmd_id=#id#] .cmdState").empty().append('Fermé'); 
                }
      }else if(_options.display_value == '252'){
        // Closing
        if (jeedom.cmd.normalizeName('#name#') == 'fermer') {
                    $('.cmd[data-cmd_id=#id#]').hide();
                }else{
                    $('.cmd[data-cmd_id=#id#]').show();
                    $('.iconCmd#uid#').append('<span class="fa-stack"><i class="icon jeedom-garage-ouvert fa-stack-2x"></i><i class="fa fa-caret-down fa-stack-1x" style="color:green"></i></span>');
                    $(".cmd[data-cmd_id=#id#] .cmdState").empty().append('Fermeture');
                }
        
      }else if(_options.display_value == '253'){
        // Stopped
        if (jeedom.cmd.normalizeName('#name#') == 'fermer') {
                    $('.cmd[data-cmd_id=#id#]').hide();
                }else{
                  $('.cmd[data-cmd_id=#id#]').show();
                  $('.iconCmd#uid#').append('<span class="fa-stack"><i class="icon jeedom-garage-ouvert fa-stack-2x"></i><i class="fa fa-stop fa-stack-1x "></i></span>');
                  $(".cmd[data-cmd_id=#id#] .cmdState").empty().append('Arrêté');
                }
         
      }else if(_options.display_value == '254'){
        // Opening
        if (jeedom.cmd.normalizeName('#name#') == 'ouvrir') {
                    $('.cmd[data-cmd_id=#id#]').hide();
                }else{
                   $('.cmd[data-cmd_id=#id#]').show();
                   $('.iconCmd#uid#').append('<span class="fa-stack"><i class="icon jeedom-garage-ferme fa-stack-2x"></i><i class="fa fa-caret-up fa-stack-1x" style="color:green"></i></span>');
                   $(".cmd[data-cmd_id=#id#] .cmdState").empty().append('Ouverture');
                }
        
      }else if(_options.display_value == '255'){
        // Opened
        if (jeedom.cmd.normalizeName('#name#') == 'ouvrir') {
                    $('.cmd[data-cmd_id=#id#]').hide();
                }else{
                  $('.cmd[data-cmd_id=#id#]').show();
                  $('.iconCmd#uid#').append('<i class="icon jeedom-garage-ouvert fa-2x"></i>');
                  $(".cmd[data-cmd_id=#id#] .cmdState").empty().append('Ouvert');
                }
        
      }else{
        // Unknown
        if (jeedom.cmd.normalizeName('#name#') == 'fermer') {
                    $('.cmd[data-cmd_id=#id#]').hide();
                }else{
                  $('.cmd[data-cmd_id=#id#]').show();
                  $('.iconCmd#uid#').append('<i class="fa fa-question-circle fa-2x"></i>');
                  $(".cmd[data-cmd_id=#id#] .cmdState").empty().append('Inconnu');
                }
        
      }
      }
      jeedom.cmd.update['#id#']({display_value:'#state#'});
      $('.iconCmd#uid#').on('click', function() {
        jeedom.cmd.execute({id: '#id#'});
     });
    </script>
</div>