<div class="cmd cmd-widget" data-type="info" data-subtype="binary" data-template="tmplicon" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<center>
		<div class="cmdName #hide_name#">#name_display#</div>
		<div class="iconCmd"></div>
		<span class="timeCmd#uid# timeCmd"></span>
	</center>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			var cmd = $('.cmd[data-cmd_id=#id#]');
			if('#_time_widget_#' == '1'){
				jeedom.cmd.displayDuration(_options.valueDate,  cmd.find('.timeCmd'));
			}else{
				cmd.find('.timeCmd').remove();
			}
			if (_options.display_value == '1') {
				cmd.find('.iconCmd').empty().append("#_icon_on_#");
			}else {
				cmd.find('.iconCmd').empty().append("#_icon_off_#");
			}
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
	</script>
</div>
