<div class="cmd cmd-widget #history# label label-warning" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-type="info" data-subtype="binary" data-cmd_id="#id#" data-cmd_uid="#uid#" style="display: block;">
	<center><span class="cmdName #hide_name#">#name_display#</span> <span class="iconCmdLine"></span></center>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			if (_options.display_value == '1') {
				$('.cmd[data-cmd_id=#id#] .iconCmdLine').empty().append('<i class="fas fa-check"></i>');
			}else {
				$('.cmd[data-cmd_id=#id#] .iconCmdLine').empty().append('<i class="fas fa-times"></i>');
			}
			if(_options.alertLevel){
				$('.cmd[data-cmd_id=#id#]').css('background-color', '');
				if(_options.alertLevel == 'warning'){
					$('.cmd[data-cmd_id=#id#]').css({"background-color":"#b2b200"});
				}else if(_options.alertLevel == 'danger'){
					$('.cmd[data-cmd_id=#id#]').css({"background-color":"#da2e37"});
				}
			}
		}
		jeedom.cmd.update['#id#']({display_value:'#state#',alertLevel:'#alertLevel#'});
	</script>
</div>
