<div class="cmd" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <center>
    <div class="cmdName #hide_name#">#name_display#</div>
    <span class="iconCmd"></span>
  </center>
</div>
<script>
  jeedom.cmd.update['#id#'] = function(_options){
    var state = '';
    var cmd = $('.cmd[data-cmd_id=#id#]');
    cmd.attr('title','Valeur du '+_options.valueDate+', collectée le '+_options.collectDate);
    #test#
    cmd.find('.iconCmd').empty().append(state);
  }
  jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
</script>
