<div class="cmd cmd-widget #history#" data-type="action" data-subtype="slider" data-template="tmplimg" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
  <center>
    <div class="cmdName #hide_name#">#name_display#</div>
    <span class="cursor iconCmd"></span>
    <div class="slider full-width-slider ui-slider">
      <input type="number" data-type="range" min="#minValue#" max="#maxValue#" value="#state#" data-highlight="true" data-role="none"/>
    </div>
    <span class="timeCmd value #value_history#" data-type="info" data-cmd_id="#value_id#"></span>
  </center>
  <script>
    $('.cmd[data-cmd_id=#id#] input').slider({
      create: function(event, ui) {
        if ($.issetWidgetOptParam('#color#', 'color')) {
          $(event.target.parentNode).find('div.ui-slider-bg').style('background-color', '#color#', 'important')
          $(event.target.parentNode).find('a.ui-slider-handle').style('background-color', '#color#', 'important')
        }
      }
    })

    $('.cmd[data-cmd_id=#id#] .iconCmd').on('click', function() {
      if ($(this).attr('data-state') == 'on') {
        var value = ('#minValue#' == '') ? 0 : parseInt('#minValue#');
        jeedom.cmd.execute({id: '#id#', value: {slider:value }})
      } else {
        var value = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
        jeedom.cmd.execute({id: '#id#', value: {slider: value}})
      }
    })

    $('.cmd[data-cmd_uid=#uid#]').on({
      'slidestop': function(event, ui) {
        jeedom.cmd.execute({id: '#id#', value: {slider: event.target.value}})
      }
    }, '.slider')

    jeedom.cmd.update['#id#'] = function(_options) {
      var cmd = $('.cmd[data-cmd_id=#id#]')
      if ('#_time_widget_#' == '1') {
        jeedom.cmd.displayDuration(_options.valueDate,  cmd.find('.timeCmd'))
      } else {
        cmd.find('.timeCmd').remove()
      }

      var minValue = ('#minValue#' == '') ? 0 : parseInt('#minValue#')
      var maxValue = ('#maxValue#' == '') ? 100 : parseInt('#maxValue#')
      var stateValue = ('#state#' == '') ? 0 : parseInt(_options.display_value)
      cmd.find('.slider input').value(stateValue)
      if (stateValue > minValue) {
        cmd.attr('data-state','on')
        cmd.find('.iconCmd').empty().append(jeedom.widgets.getThemeImg("#_img_light_on_#", "#_img_dark_on_#"))
      } else {
        cmd.attr('data-state','off')
        cmd.find('.iconCmd').empty().append(jeedom.widgets.getThemeImg("#_img_light_off_#", "#_img_dark_off_#"))
      }

      var style = ''
      if (!isNaN('#_mobile_width_#')) {
        style = 'max-width:#_mobile_width_#px !important;'
      }
      cmd.find('.imgCmd img').attr('style',style)
      cmd.off('changeThemeEvent').on('changeThemeEventCmd',function (event, theme) {
        var cmd = $('.cmd[data-cmd_id=#id#]')
        if (cmd.attr('data-state') == 'on') {
          cmd.find('.imgCmd').empty().append(jeedom.widgets.getThemeImg("#_img_light_on_#", "#_img_dark_on_#"))
        } else {
          cmd.find('.imgCmd').empty().append(jeedom.widgets.getThemeImg("#_img_light_off_#", "#_img_dark_off_#"))
        }
        var style = ''
        if (!isNaN('#_mobile_width_#')) {
          style = 'max-width:#_mobile_width_#px !important;'
        }
        cmd.find('.imgCmd img').attr('style',style)
      });
    }

    jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'})

    $('body').on('changeThemeEvent', function (event,theme) {
      $('.cmd[data-cmd_id=#id#]').trigger('changeThemeEventCmd',theme)
    });
  </script>
</div>
