<div class="cmd" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#">
    <center>
        <span class='cmdName' style="font-size : 12px;">#valueName#</span><br/>
        <span style="font-size: 2.5em;" class="iconCmd#uid# cursor action"></span>
    </center>
</div>
<script>
    if ('#state#' == '1' || '#state#' == 1) {
        $('.iconCmd#uid#').append('<i class="icon jeedom-lock-ferme"></i>');
        if (jeedom.cmd.normalizeName('#name#') == 'on') {
            $('.cmd[data-cmd_uid=#uid#]').hide();
        }
    } else {
        $('.iconCmd#uid#').append('<i class="icon jeedom-lock-ouvert"></i>');
        if (jeedom.cmd.normalizeName('#name#') == 'off') {
            $('.cmd[data-cmd_uid=#uid#]').hide();
        }
    }
    $('.cmd[data-cmd_uid=#uid#] .action').off().on('click', function () {
        jeedom.cmd.execute({id: '#id#'});
    });
</script>