<div class="cmd" data-type="action" data-subtype="color" data-cmd_id="#id#" data-cmd_uid="#uid#" style="width : 149px;">
    <input class="action_colorpicker_change cursor" type="color" data-clear-btn="false">
    <a data-mini="true" class="action_colorpicker_off ui-btn ui-mini ui-btn-raised" style="background-color:#cmdColor# !important;margin: 8px 8px;">Off</a>

    <script>
        $('.cmd[data-cmd_uid=#uid#] .action_colorpicker_change').value(('#state#' != '') ? '#state#'.substr(0,7) : '#000000');
        $('.cmd[data-cmd_uid=#uid#] .action_colorpicker_off').on('click', function() {
            $('.cmd[data-cmd_uid=#uid#] .action_colorpicker_change').value('#000000');
        });
        $('.cmd[data-cmd_uid=#uid#] .action_colorpicker_change').on('change', function() {
            jeedom.cmd.execute({id: '#id#', value: {color: $(this).value()}});
        });
    </script>

</div>
