<div class="cmd cmd-widget" data-type="info" data-subtype="string" data-template="tmplmultistateline" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
  <center>
    <span class="cmdName #hide_name#">#name_display#</span> <span class="iconCmdLine"></span>
    <span class="timeCmd value #history#" data-type="info"></span>
  </center>
  <script>
    jeedom.cmd.update['#id#'] = function(_options) {
      var cmd = $('.cmd[data-cmd_id=#id#]')
      if ('#_time_widget_#' == '1') {
        jeedom.cmd.displayDuration(_options.valueDate, cmd.find('.timeCmd'), '#time#')
      } else {
        cmd.find('.timeCmd').remove()
      }
      cmd.attr('title','Valeur du '+_options.valueDate+', collectée le '+_options.collectDate)

      try {
        var state = ''
        #test#
        cmd.find('.iconCmdLine').empty().append(state)
      } catch (error) {
        console.log(error)
      }
    }

    jeedom.cmd.update['#id#']({display_value: '#state#', valueDate: '#valueDate#', collectDate: '#collectDate#', alertLevel: '#alertLevel#'})

    $('body').on('changeThemeEvent', function (event,theme) {
      $('.cmd[data-cmd_id=#id#]').trigger('changeThemeEventCmd',theme)
    })
  </script>
</div>