<div class="cmd" data-type="info" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<center>
		<span style="font-size : 12px;#hideCmdName#">#name_display#</span>
		<span style="font-size: 2em;font-weight: bold;margin-top: 5px;" class="state">#state#</span><br/>
		<span style="color: #666666;font-weight: bold;">#unite#</span>
	</center>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
			$('.cmd[data-cmd_id=#id#] .state').empty().append(_options.display_value);
		}
	</script>
</div>