<span class="cmd  cmd-widget" data-type="action" data-subtype="select" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
  <div class="cmdName #hide_name#">#name_display#</div>
  <center>
    <select class="selectCmd" style="width:100%;">
      #listValue#
    </select>
  </center>
  <script>
    $(".cmd[data-cmd_uid=#uid#] .selectCmd").on('change', function () {
      jeedom.cmd.execute({id: '#id#', value: {select: $(this).value()}});
    });
  </script>
</span>
