<span class="cmd cmd-widget" data-type="info" data-subtype="other" data-template="buttonImage" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
  <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">#name_display#</a>
  <script>
    document.querySelector('.cmd[data-cmd_uid="#uid#"] .action').addEventListener('click', function() {
      jeedomUtils.loadPage('widget.modal&data=' + encodeURI('#state#') + '&type=image', '#name#', null, null, true)
    })
  </script>
</span>
