<div class="cmd" data-type="info" data-subtype="numeric" data-cmd_id="#id#" data-cmd_uid="#uid#">
    <center>
        <div style="font-size : 12px;#hideCmdName#">#name_display#</div>
        <span style="font-size: 2.5em;" class="iconCmd#uid#"></span><br/>
        <span class="timeCmd#id# label label-default" style="background-color:#cmdColor# !important;"></span>
    </center>
    <script>
        if ('#state#' == '1' || '#state#' == 1) {
            $('.iconCmd#uid#').append('<i class="fa fa-check"></i>');
        } else {
            $('.iconCmd#uid#').append('<i class="icon jeedom-mouvement"></i>');
        }
        jeedom.cmd.displayDuration('#valueDate#', $('.timeCmd#id#:last'));
        if ('#state#' == '1') {
          $('.iconCmd#id#:last').append('<i class="fa fa-check"></i>');
      }else {
          $('.iconCmd#id#:last').append('<i class="icon jeedom-mouvement"></i>');
      }
  </script>
</div>