<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="mobile" style="background-color: #background_color#;#style#" data-category="#category#">
    <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;"></span>
    <center>
        <span class="widget-name">
            <span style="font-size: 0.85em;">#object_name#</span>#name#<br/>
        </span>
        <div style="padding-bottom: 5px;padding-top: 5px;">
            #cmd#
        </div>
    </center>
</div>

