<div class="eqLogic eqLogic-widget" data-eqLogic_id="#id#" data-version="mobile" style="margin:0px;background-color: #background_color#;color: #text-color# !important;#style#" data-category="#category#">
    <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;"></span>
    <center>
        <span class="widget-name">
            <span style="font-size: 0.85em;">#object_name#</span><span style="#hideEqLogicName#">#name_display#</span><br/>
        </span>
        <div style="padding: 5px;">
            #cmd#
        </div>
    </center>
</div>

