@font-face {
	font-family: 'loisir';
	src:url('fonts/loisir.eot');
	src:url('fonts/loisir.eot') format('embedded-opentype'),
		url('fonts/loisir.woff') format('woff'),
		url('fonts/loisir.ttf') format('truetype'),
		url('fonts/loisir.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="loisir-"], [class*=" loisir-"] {
	font-family: 'loisir';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.loisir-livres:before {
	content: "\e610";
}
.loisir-yoda:before {
	content: "\e600";
}
.loisir-weightlift:before {
	content: "\e601";
}
.loisir-two28:before {
	content: "\e602";
}
.loisir-runner5:before {
	content: "\e603";
}
.loisir-pacman1:before {
	content: "\e604";
}
.loisir-musical81:before {
	content: "\e605";
}
.loisir-musical7:before {
	content: "\e606";
}
.loisir-musical:before {
	content: "\e607";
}
.loisir-microscope12:before {
	content: "\e608";
}
.loisir-microphone52:before {
	content: "\e609";
}
.loisir-marry:before {
	content: "\e60a";
}
.loisir-exercise1:before {
	content: "\e60b";
}
.loisir-diving1:before {
	content: "\e60c";
}
.loisir-darth:before {
	content: "\e60d";
}
.loisir-cup29:before {
	content: "\e60e";
}
.loisir-beach4:before {
	content: "\e60f";
}
