<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE article PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd">
<?asciidoc-toc?>
<?asciidoc-numbered?>

<article lang="en">
<articleinfo>
    <title>Plugins</title>
</articleinfo>
<simpara>Le sous-menu Plugins, permet de gérer ses plugins, à savoir : les télécharger, les mettre à jour et les activer.</simpara>
<section id="_gestión_de_plugins">
<title>Gestión de plugins</title>
<simpara>Vous pouvez accèder à la page plugins à partir de Plugins &#8594; Gestion des plugins :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin1.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin1.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Une fois que l&#8217;on clique dessus on retrouve la page qui nous présente la liste des plugins :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin2.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin2.png</phrase></textobject>
</mediaobject>
</informalfigure>
<tip><simpara>Al igual que en muchos lugares en Jeedom, situar el ratón en la zona la izquierda mostrará un menú de acceso rápido (se puede mostrar como "siempre visible" desde la configuración de su perfil).</simpara></tip>
<simpara>Sur cette page vous retrouvez tous les plugins présents sur votre Jeedom; en rouge ceux qui sont désactivés. En cliquant sur un plugin vous accèdez à sa configuration :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin3.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin3.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>En haut vous retrouvez l&#8217;ID et le nom du plugin, ainsi que la version installée (ici beta). En dessous vous avez le bouton d&#8217;activation/désactivation d&#8217;un plugin</simpara>
<simpara>Lors du téléchargement d&#8217;un plugin celui-ci n&#8217;est pas activé, il faut donc que vous l&#8217;activiez</simpara>
<simpara>En dessous vous retrouvez 4 boutons :</simpara>
<itemizedlist>
<listitem>
<simpara>
<emphasis role="strong">Voir sur le Market</emphasis> : permet de voir la fiche du plugin
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Envoyer sur le Market</emphasis> : permet d&#8217;envoyer le plugin sur le Market (uniquement disponible si vous en êtes l&#8217;auteur)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Supprimer</emphasis> : Supprime le plugin de votre Jeedom. Attention cela supprime définitivement tous les équipements de ce plugin aussi
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Documentation</emphasis> : Permet d&#8217;accéder directement à la page de documentation du plugin
</simpara>
</listitem>
</itemizedlist>
<tip><simpara>Certains plugins ont une partie configuration, il faut dans ce cas se référer à la doc du plugin en question pour savoir comment le configurer</simpara></tip>
</section>
<section id="_installation_d_8217_un_plugin">
<title>Installation d&#8217;un plugin</title>
<simpara>Pour en installer un nouveau il suffit de cliquer sur le bouton "Accéder au Market" :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin4.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin4.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Après un petit temps de chargement vous obtenez :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin5.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin5.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Tout en haut comme sur le Market vous avez des filtres :</simpara>
<itemizedlist>
<listitem>
<simpara>
<emphasis role="strong">Gratuit/Payant</emphasis> : permet de ne filtrer que sur les gratuits ou les payants, la petite croix permet de réinitialiser le filtre
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Nouveau/Populaire</emphasis> : permet d&#8217;afficher les derniers plugins ou ceux les plus téléchargés, la petite croix permet de réinitialiser le filtre
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Installé/Non installé</emphasis> : permet de n&#8217;afficher que les plugins installés ou non, la petite croix permet de réinitialiser le filtre
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Catégorie</emphasis> : permet de n&#8217;afficher que certaines catégories de plugins
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Rechercher</emphasis> : permet de rechercher un plugin (dans le nom ou la description de celui-ci)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Nom d&#8217;utilisateur</emphasis> : affiche le nom d&#8217;utilisateur utilisé pour la connexion au Market ainsi que le statut de la connexion (ici ok)
</simpara>
</listitem>
</itemizedlist>
<simpara>Un fois le plugin voulu trouvé il suffit de cliquer sur celui-ci pour faire apparaître la fiche du plugin :</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin6.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin6.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Cette fiche vous donne beaucoup d&#8217;informations sur le plugin, entre autre :</simpara>
<itemizedlist>
<listitem>
<simpara>
S&#8217;il est officiel/recommandé ou s&#8217;il est obsolète (il faut vraiment éviter d&#8217;installer des plugins obsolètes)
</simpara>
</listitem>
<listitem>
<simpara>
3 actions :
</simpara>
<itemizedlist>
<listitem>
<simpara>
<emphasis role="strong">Installer stable</emphasis> : permet d&#8217;installer le plugin dans sa version stable
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Installer beta</emphasis> : permet d&#8217;installer le plugin dans sa version beta (seulement pour les betatesteurs)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Supprimer</emphasis> : si le plugin est actuellement installé, ce bouton permet de le supprimer
</simpara>
</listitem>
</itemizedlist>
</listitem>
</itemizedlist>
<simpara>En dessous vous retrouvez sur la gauche la description du plugin, la compatibilité (si Jeedom détecte une incompatibilité il vous le signalera), les avis sur le plugin (vous pouvez ici le noter), les commentaires sur celui-ci et des informations complémentaires (l&#8217;auteur, la personne ayant fait la dernière mise à jour, un lien vers la doc, le nombre de téléchargements).
Sur la droite vous retrouvez la liste des dernières mises à jour (un bouton tout voir vous permet d&#8217;avoir tout l&#8217;historique), une documentation rapide d&#8217;utilisation (il est recommandé quand même de lire la documentation complète) et enfin le type (plugin, widget&#8230;), la langue et les diverses informations sur la date de la dernière stable, la beta et si vous pouvez sans crainte revenir sur la beta.</simpara>
<simpara>Il n&#8217;est vraiment pas recommandé de mettre un plugin beta sur un Jeedom beta, beaucoup de soucis de fonctionnement peuvent en résulter.</simpara>
<simpara>Certains plugins sont payants, dans ce cas la fiche du plugin vous proposera de l&#8217;acheter, une fois cela fait il faut attendre une dizaine de minutes (temps de validation du paiement), puis retourner sur la fiche du plugin pour l&#8217;installer normalement.</simpara>
<tip><simpara>Vous pouvez aussi ajouter un plugin à Jeedom à partir d&#8217;un fichier ou depuis un repository Github. Pour cela, il faut, dans la configuration de Jeedom, activer la fonction adéquate dans la partie "Mises à jour et fichiers". Il sera ensuite possible, en mettant la souris tout à gauche, et en faisant apparaitre le menu de la page plugin, de cliquer sur "Ajout depuis une autre source". Vous pourrez ensuite choisir la source "Fichier". Attention, dans le cas de l&#8217;ajout par un fichier zip, le nom du zip doit être le même que l&#8217;id du plugin et dès l&#8217;ouverture du ZIP un dossier plugin_info doit être présent.</simpara></tip>
</section>
<section id="_la_partie_démon_des_plugins">
<title>La partie démon des plugins</title>
<simpara>Certains plugins ont des démons, vous trouverez ici le statut des démons par jeedom (maître ou esclave)</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin7.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin7.png</phrase></textobject>
</mediaobject>
</informalfigure>
<simpara>Vous avez ici :</simpara>
<itemizedlist>
<listitem>
<simpara>
<emphasis role="strong">Nom</emphasis> : jeedom en question (local veut dire celui sur lequel vous êtes)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Statut</emphasis> : indique le statut du démon
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Configuration</emphasis> : indique si tout est bon niveau configuration pour que le démon tourne
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">(Re)Démarrer</emphasis> : permet de redémarrer le démon
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Arrêter</emphasis> : permet d&#8217;arreter le démon (disponible seulement si la gestion automatique est désactivée)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Debug</emphasis> : permet de lancer le démon en debug (une icône sur le statut vous indiquera que vous êtes en debug)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Log</emphasis> : permet d&#8217;afficher la log du démon
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Gestion automatique</emphasis> : autorise Jeedom à démarrer et à relancer le démon en cas de soucis. Elle est à désactiver quand vous êtes en déporté et que par exemple sur le maître vous n&#8217;avez pas besoin que le démon tourne
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Dernier lancement</emphasis> : date de démarrage du démon
</simpara>
</listitem>
</itemizedlist>
</section>
<section id="_la_partie_dépendances">
<title>La partie Dépendances</title>
<simpara>Certains plugins ont des dépendances, vous trouverez ici le statut des dépendances par jeedom (maître ou esclave)</simpara>
<informalfigure>
<mediaobject>
  <imageobject>
  <imagedata fileref="../images/plugin8.png"/>
  </imageobject>
  <textobject><phrase>../images/plugin8.png</phrase></textobject>
</mediaobject>
</informalfigure>
<itemizedlist>
<listitem>
<simpara>
<emphasis role="strong">Nom</emphasis> : jeedom en question (local veut dire celui sur lequel vous êtes)
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Statut</emphasis> : indique si les dépendances sont bien installées
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Installation</emphasis> : lance l&#8217;installation des dépendances
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Log</emphasis> : permet de voir la log d&#8217;installation des dépendances
</simpara>
</listitem>
<listitem>
<simpara>
<emphasis role="strong">Dernière installation</emphasis> : donne la date à laquelle les dépendances ont été lancées pour la derniere fois
</simpara>
</listitem>
</itemizedlist>
</section>
</article>
