html {
background: rgb(125, 125, 125) url(../images/shading.png);
}

#header {
background: url(../images/header.png) repeat-x bottom;
border-bottom: 1px solid rgb(150, 150, 150);
}

h3, h4 {
color: steelblue;
}

#innercontent {
background: white;
border-color: rgb(75, 75, 75);
border-width: 0 2px;
border-style: solid;
}

.corners {
background: rgb(75, 75, 75);
height: 2px;
}
.corners div {
width: 4px;
height: 4px;
background-repeat: no-repeat;
}
.tl {
background: url(../images/corner-tl.png);
float: left;
}
.tr {
background: url(../images/corner-tr.png);
float: right;
}
.bl {
background: url(../images/corner-bl.png);
float: left;
margin-top: -2px;
}
.br {
background: url(../images/corner-br.png);
float: right;
margin-top: -2px;
}

#headerinfo a {
color: rgb(215, 215, 215) !important;
text-shadow: rgb(50, 50, 50) 0 1px 0;
}
#headerinfo a:hover {
color: #fff !important;
}

#loginform {
padding: 7px;
background: url(../../../images/transparent.png);
}
#loginform .loginspacer {
background: white;
}

.dblistheader {
color: rgb(220, 220, 220);
text-shadow: rgb(75, 75, 75) 0px 1px 0px;
}

.dblist ul li a .menutext {
color: #fff;
}
.dblist ul li a .menuicon {
color: rgb(220, 220, 220);
}
.dblist ul li.selected>a {
background: rgb(90, 90, 90) !important;
border-color: rgb(70, 70, 70);
}
.sublist li a {
color: #fff;
}
.subcount {
color: rgb(200, 200, 200);
}

#toptabs ul li a {
color: rgb(215, 215, 215);
text-shadow: rgb(50, 50, 50) 0 1px 0;
font-weight: bold;
}
#toptabs ul li a .rowcount {
color: rgb(235, 235, 235);
}
#toptabs ul li a:hover {
color: #fff;
}
#toptabs ul li.selected a {
color: #fff;
font-weight: bold;
text-shadow: rgb(50, 50, 50) 0 1px 0;
}
#toptabs ul li.selected a .rowcount {
color: rgb(235, 235, 235);
}
#toptabs ul li.deactivated a {
color: rgb(175, 175, 175) !important;
}
#toptabs ul li.deactivated a .rowcount {
color: rgb(175, 175, 175) !important;
}