<?php

/* This file is part of Jeedom.
 *
 * Jeedom is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Jeedom is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Jeedom. If not, see <http://www.gnu.org/licenses/>.
 */

/* * ***************************Includes********************************* */
require_once dirname(__FILE__) . '/../../core/php/core.inc.php';

class system_local extend system {
	public static function fuserk($_port, $_protocol = 'tcp') {
		parent::fuserk($_port, $_protocol);
	}

	public static function ps($_find, $_without = null) {
		return parent::ps($_find, $_without);
	}

	public static function kill($_find = '') {
		parent::kill($_find);
	}

	public static function php($arguments = '') {
		return parent::php($arguments);
	}
}
