[Unit]
Description=Service jeedom nodejs

[Service]
ExecStart=/usr/bin/nodejs /usr/share/nginx/www/jeedom/core/nodeJS/server.js
Restart=always
StandardOutput=syslog
SyslogIdentifier=jeedom_nodejs
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target