<!--template/scenario/changetheme.default-->
<div class="input-group input-group-sm" style="width: 100%">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{theme}}</span>
  <select class="expressionAttr form-control input-sm roundedRight" data-l1key="options" data-l2key="theme" value="#theme#" data-uid="#uid#">
    <option value="dark">Dark</option>
    <option value="light">Light</option>
    <option value="toggle">Toggle</option>
  </select>
</div>
<script>
  document.querySelector('select[data-uid="#uid#"]').value = "#theme#"
</script>