<div class="input-group input-group-sm" style="width: 100%">
  	<span class="input-group-addon" id="basic-addon1" style="width: 100px">#slider_placeholder#</span>
	<input value="#slider#" class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="slider" data-cmd_id="#id#" data-uid="#uid#" />
	<span class="input-group-btn">
		<button class="btn btn-default listEquipementInfo" type="button" title="{{Sélectionner la commande}}" data-cmd_id="#id#"  data-uid="#uid#"><i class="fa fa-list-alt"></i></button>
	</span>
</div>

<script>
	$('.listEquipementInfo[data-uid=#uid#]').on('click', function() {
		jeedom.cmd.getSelectModal({cmd: {type: 'info'}}, function(result) {
			$('.expressionAttr[data-l1key=options][data-l2key=slider][data-uid=#uid#][data-cmd_id=#id#]').atCaret('insert', result.human);
		});
	});
</script>