<input type="color" class="form-control input-sm cursor colorChooser" data-uid="#uid#" value="#color#" style="width: 35%; display: inline-block;"/>
<input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="color" value="#color#" data-uid="#uid#" style="width: 35%; display: inline-block;"/>
<a class="btn btn-default input-sm listEquipementInfo cursor" data-cmd_id="#id#" data-uid="#uid#" style="display: inline-block;"><span style="position: relative; top: -3px;"><i class="fa fa-list-alt"></i></span></a>
<script>
    $('.listEquipementInfo[data-uid=#uid#]').on('click', function () {
        var el = $(this);
        jeedom.cmd.getSelectModal({cmd: {type: 'info'}}, function (result) {
            el.parent().find('.expressionAttr[data-l1key=options][data-l2key=color]').value(result.human);
        });
    });

    $('.colorChooser[data-uid=#uid#]').on('change', function () {
        $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=color]').value($(this).value())
    });
</script>