<div class="input-group input-group-sm" style="width: 100%">
	<span class="input-group-addon roundedLeft" style="width: 100px">#title_placeholder#</span>
	<input type="color" class="color form-control input-sm cursor colorChooser" data-uid="#uid#" value="#color#" style="width: 20%; display: inline-block;"/>
	<input class="title expressionAttr form-control input-sm roundedRight" data-l1key="options" data-l2key="title" value="#title#" data-cmd_id="#id#" data-uid="#uid#"/>
</div>

<div class="input-group input-group-sm" style="width: 100%; padding-top: 1px">
	<span class="input-group-addon roundedLeft" style="width: 100px">#message_placeholder#</span>
	<textarea class="message expressionAttr form-control ta_autosize" data-l1key="options" data-l2key="message" rows="1" style="resize:vertical;" data-cmd_id="#id#" data-uid="#uid#">#message#</textarea>
	<span class="input-group-addon hasBtn roundedRight">
		<button class="btn btn-default roundedRight listCmdMessage" type="button" tooltip="{{Sélectionner la commande}}" data-cmd_id="#id#"  data-uid="#uid#"><i class="fas fa-list-alt"></i></button>
	</span>
</div>

<script>
	if ('#title_disable#' == '1') {
		document.querySelector('.expressionAttr[data-l1key="options"][data-l2key="title"][data-uid="#uid#"]').parentNode.unseen()
	}
	if ('#message_disable#' == '1') {
		document.querySelector('.expressionAttr[data-l1key="options"][data-l2key="message"][data-uid="#uid#"]').parentNode.unseen()
	}
	document.querySelector('.listCmdMessage[data-uid=#uid#]').addEventListener('click', function() {
		if ('#message_cmd_subtype#' != '') {
			jeedom.cmd.getSelectModal({cmd: {type: '#message_cmd_type#',subType : '#message_cmd_subtype#'}}, function(result) {
				document.querySelector('.expressionAttr[data-l1key="options"][data-l2key=message][data-uid="#uid#"]').insertAtCursor(result.human)
			})
		} else {
			jeedom.cmd.getSelectModal({cmd: {type: '#message_cmd_type#'}}, function(result) {
				document.querySelector('.expressionAttr[data-l1key="options"][data-l2key="message"][data-uid="#uid#"]').insertAtCursor(result.human)
			})
		}
	});
	if ('#title_possibility_list#' != '') {
		document.querySelector('.expressionAttr[data-l1key="options"][data-l2key="title"][data-uid="#uid#"]').jeeComplete({
			source: json_decode('#title_possibility_list#'),
			close: function (event, ui) {
				this.triggerEvent('focusout')
			}
		})
	}
	if ('#title_color#' == 1) {
		document.querySelector('.colorChooser[data-uid="#uid#"]').style.display = 'inline-block'
		document.querySelector('.title[data-uid="#uid#"]').style.width = '80%'
		document.querySelector('.colorChooser[data-uid="#uid#"]').value = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="title"]').jeeValue()
	} else {
		document.querySelector('.colorChooser[data-uid="#uid#"]').unseen()
	}
	document.querySelector('.colorChooser[data-uid=#uid#]').addEventListener('change', function () {
		document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="title"]').value = this.value
	})
</script>
