<div class="input-group input-group-sm" style="width: 100%">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{Type}}</span>
  <input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="type" placeholder="{{Type}}" value="#type#" data-uid="#uid#"/>
  <span class="input-group-btn">
    <button class="btn btn-default listGenericTypeInfo info" type="button" tooltip="{{Type Info (event)}}" data-uid="#uid#"><i class="fas fa-puzzle-piece"></i></button>
    <button class="btn btn-default listGenericTypeAction warning roundedRight" type="button" tooltip="{{Type Action (exec)}}" data-uid="#uid#"><i class="fas fa-puzzle-piece"></i></button>
  </span>

  <span class="input-group-addon" style="width: 100px">{{Objet}}</span>
  <select class="expressionAttr form-control input-sm roundedRight" data-l1key="options" data-l2key="object" data-cmd_id="#id#" data-uid="#uid#">
    
  </select>
</div>
<div class="input-group input-group-sm" style="width: 100%">
  <span class="input-group-addon" style="width: 100px">{{Valeur}}</span>
  <input class="expressionAttr form-control input-sm autoCompleteCondition" data-l1key="options" data-l2key="value" placeholder="{{Valeur}}" value="#value#" data-uid="#uid#"/>
  <span class="input-group-btn">
    <button class="btn btn-default listCmdInfo roundedRight" type="button" tooltip="{{Sélectionner la commande}}" data-uid="#uid#"><i class="fas fa-list-alt"></i></button>
  </span>
</div>

<script>
  jeedom.object.getUISelectList({
      none: 0,
      error: function(error) {
        $.fn.showAlert({message: error.message, level: 'danger'})
      },
      success: function(_objectsList) {
        _objectsList = '<option value="-1">{{Tous}}</option>' + _objectsList
        $('select.expressionAttr[data-uid=#uid#]').append(_objectsList)
        
        if ('#object#' != '' && $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=object] option[value=#object#]').html() != undefined) {
        $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=object]').value('#object#');
      }
      }
    })

  $('.listGenericTypeInfo[data-uid=#uid#]').off('click').on('click', function () {
    jeedom.config.getGenericTypeModal({type: 'info', object: false}, function (result) {
      $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=type]').val('').atCaret('insert', result.id)
    })
  })
  $('.listGenericTypeAction[data-uid=#uid#]').off('click').on('click', function () {
    jeedom.config.getGenericTypeModal({type: 'action', object: false}, function (result) {
      $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=type]').val('').atCaret('insert', result.id)
    })
  })

  $('.listCmdInfo[data-uid=#uid#]').off('click').on('click', function () {
    jeedom.cmd.getSelectModal({cmd: {type: 'info'}}, function (result) {
      $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=value]').atCaret('insert', result.human);
    });
  });
</script>