<select class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="plan_id" data-option_id="#id#" data-uid="#uid#" style="width: 35%; display: inline-block;"></select>


<script>
    jeedom.plan.allHeader({
        error: function (error) {
            $('#div_alert').showAlert({message: error.message, level: 'danger'});
        },
        success: function (plans) {
            var options = '';
            for (var i in plans) {
                options += '<option value="' + plans[i].id + '">' + plans[i].name + '</option>';
            }
            $('.expressionAttr[data-option_id=#id#][data-uid=#uid#][data-l1key=options][data-l2key=plan_id]').append(options);
            if ($('.expressionAttr[data-option_id=#id#][data-uid=#uid#][data-l1key=options][data-l2key=plan_id] option[value=#plan_id#]').html() != undefined) {
                $('.expressionAttr[data-option_id=#id#][data-uid=#uid#][data-l1key=options][data-l2key=plan_id]').value('#plan_id#');
            }
        }
    });
</script>
