<!--template/scenario/remove_inat.default-->
<div class="input-group input-group-sm" style="width: 100%">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{Scénario}}</span>
  <select class="expressionAttr form-control input-sm roundedRight" data-l1key="options" data-l2key="scenario_id" data-cmd_id="#id#" data-uid="#uid#"></select>
</div>
<script>
  jeedom.scenario.allOrderedByGroupObjectName({
    asGroup: 0,
    error: function (error) {
      jeedomUtils.showAlert({message: error.message, level: 'danger'});
    },
    success: function (scenarios) {
      let select = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="scenario_id"]')
      let currentScenario = document.querySelector('.scenarioAttr[data-l1key=id]')?.jeeValue() // Get current scenario number (if available)
      let hasSelected = false
      let newOption
      for (let i in scenarios) {
        newOption = document.createElement('option')
        newOption.text = scenarios[i].humanName
        if (currentScenario == scenarios[i].id) { // Identifiy current scenario (if in a scenario)
          newOption.text += ' ({{Scénario courant}})'
          newOption.value = 0 // Always use 0 for current scenario
          newOption.selected = !hasSelected // Select as default if nothing already selected
        } else {
          newOption.value = scenarios[i].id
        }
        if ('#scenario_id#' == scenarios[i].id) { // Set as selected scenario
          hasSelected = true
          newOption.selected = hasSelected
        }
        select.appendChild(newOption)
      }
    }
  })
</script>
