<!--template/scenario/report.default-->
<div class="input-group input-group-sm" style="width: calc(100% - 3px)">
  <span class="input-group-addon roundedLeft" style="width:100px;">{{Exporter}}</span>
  <select class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="type" data-cmd_id="#id#" data-uid="#uid#">
    <option value="view">{{Vue}}</option>
    <option value="plan">{{Design}}</option>
    <option value="plugin">{{Plugin}}</option>
    <option value="eqAnalyse">{{Batteries}}</option>
    <option value="eqAnalyseAlert">{{Alerte Equipements}}</option>
    <option value="health">{{Santé}}</option>
    <option value="timeline">{{Timeline}}</option>
    <option value="url">{{URL}}</option>
  </select>
  <input class="expressionAttr form-control rounded-left" data-l1key="options" data-l2key="filter_type" placeholder="{{Filtre des types}}" data-cmd_id="#id#" data-uid="#uid#">
  <span class="input-group-addon type view" data-cmd_id="#id#" data-uid="#uid#" style="width:100px;">{{Vue}}</span>
  <select class="expressionAttr form-control input-sm type view roundedRight" data-l1key="options" data-l2key="view_id" data-cmd_id="#id#" data-uid="#uid#"></select>
  <input class="expressionAttr form-control filter view rounded-left" data-l1key="options" data-l2key="filter_view" placeholder="{{Filtre des vues}}" data-cmd_id="#id#" data-uid="#uid#">
  <span class="input-group-addon type plan" data-cmd_id="#id#" data-uid="#uid#" style="width:100px;display:none;">{{Design}}</span>
  <select class="expressionAttr form-control input-sm type plan roundedRight" data-l1key="options" data-l2key="plan_id" data-cmd_id="#id#" data-uid="#uid#" style="display:none;"></select>
  <input class="expressionAttr form-control filter plan rounded-left" data-l1key="options" data-l2key="filter_plan" placeholder="{{Filtre des designs}}" data-cmd_id="#id#" data-uid="#uid#" style="display:none;">

  <span class="input-group-addon type plugin" data-cmd_id="#id#" data-uid="#uid#" style="width:100px;display:none;">{{Panel}}</span>
  <select class="expressionAttr form-control input-sm type plugin roundedRight" data-l1key="options" data-l2key="plugin_id" data-cmd_id="#id#" data-uid="#uid#" style="display:none;"></select>
  <input class="expressionAttr form-control filter plugin rounded-left" data-l1key="options" data-l2key="filter_plugin" placeholder="{{Filtre des plugins}}" data-cmd_id="#id#" data-uid="#uid#" style="display:none;">

  <span class="input-group-addon type timeline" data-cmd_id="#id#" data-uid="#uid#" style="width:100px;display:none;">{{Timeline}}</span>
  <select class="expressionAttr form-control input-sm type timeline roundedRight" data-l1key="options" data-l2key="timeline" data-cmd_id="#id#" data-uid="#uid#" style="display:none;"></select>

  <span class="input-group-addon type url" data-cmd_id="#id#" data-uid="#uid#" style="width:100px;display:none;">{{URL}}</span>
  <input class="expressionAttr form-control input-sm type url roundedRight" data-l1key="options" data-l2key="url" data-cmd_id="#id#" data-uid="#uid#" style="display:none;" />
</div>
<div class="input-group input-group-sm">
  <span class="input-group-addon roundedLeft" style="width:100px;">{{Exporter en}}</span>
  <select class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="export_type" data-cmd_id="#id#" data-uid="#uid#">
    <option value="png">{{PNG}}</option>
    <option value="pdf">{{PDF}}</option>
  </select>
  <span class="input-group-addon" style="width:100px;">{{Commandes}}</span>
  <input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="cmd" placeholder="{{Commandes}}" value="#cmd#" data-cmd_id="#id#" data-uid="#uid#"/>
  <span class="input-group-btn">
    <button class="btn btn-default listCmdMessage roundedRight" type="button" tooltip="{{Sélectionner la commande}}" data-uid="#uid#" data-cmd_id="#id#"><i class="fas fa-list-alt"></i></button>
  </span>
</div>
<div class="input-group input-group-sm" style="width: calc(100% - 3px)">
  <span class="input-group-addon roundedLeft" style="width:100px;">{{Largeur (px)}}</span>
  <input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="width" placeholder="1280" value="#width#" data-cmd_id="#id#" data-uid="#uid#"/>
  <span class="input-group-addon" style="width:100px;">{{Hauteur (px)}}</span>
  <input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="height" placeholder="720" value="#height#" data-cmd_id="#id#" data-uid="#uid#"/>
  <span class="input-group-addon" style="width:100px;">{{Délai (ms)}}</span>
  <input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="delay" placeholder="1000" value="#delay#" data-cmd_id="#id#" data-uid="#uid#"/>
<span class="input-group-addon roundedLeft" style="width:100px;">{{Thèmes}}</span>
  <select class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="theme" data-cmd_id="#id#" data-uid="#uid#">
    <option value="">{{Défaut}}</option>
    <option value="Light">{{Clair}}</option>
    <option value="Dark">{{Sombre}}</option>
  </select>
</div>
<script>
  jeedom.view.all({
    error: function (error) {
      jeedomUtils.showAlert({message: error.message, level: 'danger'})
    },
    success: function (views) {
      const select = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="view_id"]')
      let newOption = document.createElement('option')
      newOption.text = '{{Aucune}}'
      newOption.value = ''
      select.appendChild(newOption)
      for (let i in views) {
        newOption = document.createElement('option')
        newOption.text = views[i].name
        newOption.value = views[i].id
        select.appendChild(newOption)
      }

      const input = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="filter_view"]')
      const allOptions = Array.from(select.options)

      input.addEventListener('input', function() {
      	filterOptions(select, input, allOptions)
      })
      
      if ('#view_id#' != '' && select.querySelector('option[value="#view_id#"]')?.innerHTML != undefined) {
        select.value = '#view_id#'
      }
    }
  })

  jeedom.plan.allHeader({
    error: function (error) {
      jeedomUtils.showAlert({message: error.message, level: 'danger'})
    },
    success: function (plans) {
      const select = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="plan_id"]')
      let newOption = document.createElement('option')
      newOption.text = '{{Aucun}}'
      newOption.value = ''
      select.appendChild(newOption)
      for (let i in plans) {
        newOption = document.createElement('option')
        newOption.text = plans[i].name
        newOption.value = plans[i].id
        select.appendChild(newOption)
      }

      const input = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="filter_plan"]')
      const allOptions = Array.from(select.options)

      input.addEventListener('input', function() {
      	filterOptions(select, input, allOptions)
      })
      
      if ('#plan_id#' != '' && select.querySelector('option[value="#plan_id#"]')?.innerHTML != '') {
        select.value = '#plan_id#'
      }
    }
  })

  jeedom.plugin.all({
    error: function (error) {
      jeedomUtils.showAlert({message: error.message, level: 'danger'})
    },
    success: function (plugins) {
      const select = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="plugin_id"]')
      let newOption = document.createElement('option')
      newOption.text = '{{Aucun}}'
      newOption.value = ''
      select.appendChild(newOption)
      for (let i in plugins) {
        newOption = document.createElement('option')
        newOption.text = plugins[i].name
        newOption.value = plugins[i].id
        select.appendChild(newOption)
      }

      const input = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="filter_plugin"]')
      const allOptions = Array.from(select.options)

      input.addEventListener('input', function() {
      	filterOptions(select, input, allOptions)
      })
      
      if ('#plugin_id#' != '' && select.querySelector('option[value="#plugin_id#"]')?.innerHTML != '') {
        select.value = '#plugin_id#'
      }
    }
  })

  jeedom.timeline.listFolder({
    error: function (error) {
      jeedomUtils.showAlert({message: error.message, level: 'danger'})
    },
    success: function (timelines) {
      const select = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="timeline"]')
      let newOption = document.createElement('option')
      newOption.text = '{{Principale}}'
      newOption.value = ''
      select.appendChild(newOption)
      for (let i in timelines) {
        if (timelines[i] == 'main') {
          continue
        }
        newOption = document.createElement('option')
        newOption.text = timelines[i]
        newOption.value = timelines[i]
        select.appendChild(newOption)
      }

      if ('#timeline#' != '' && select.querySelector('option[value="#timeline#"]')?.innerHTML != '') {
        select.value = '#timeline#'
      }
    }
  })

  const select#uid# = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="type"]')

  select#uid#.addEventListener('change', function() {
    this.closest('select').removeClass('roundedRight')
    document.querySelectorAll('.type[data-uid="#uid#"]').unseen()
    document.querySelectorAll('.filter[data-uid="#uid#"]').unseen()
    try { document.querySelector('span.' + this.value + '[data-uid="#uid#"]').style.display = 'table-cell'} catch (e) { }
    document.querySelectorAll('select.' + this.value + '[data-uid="#uid#"]')?.seen()
    document.querySelectorAll('input.' + this.value + '[data-uid="#uid#"]')?.seen()
    if (this.value == 'eqAnalyse') {
      this.closest('select').addClass('roundedRight')
    }
  })
  
  function filterOptions(select, input, allOptions) {
    const text = input.value.trim().toLowerCase().stripAccents()
    const currentSelection = select.value

    select.innerHTML = ''

    allOptions
      .filter(option => {
        const optionText = option.textContent.toLowerCase().stripAccents()
        return text === '' || optionText.includes(text)
      })
      .forEach(option => {
        select.add(option.cloneNode(true))
      })
  
      const selectedOption = allOptions.find(option => option.value === currentSelection)
      if (selectedOption && !select.querySelector(`option[value="${currentSelection}"]`)) {
        select.add(selectedOption.cloneNode(true))
      }
      select.value = currentSelection
  }      

  const input#uid# = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="filter_type"]')
  const allOptions#uid# = Array.from(select#uid#.options)

  input#uid#.addEventListener('input', function() {
  	filterOptions(select#uid#, input#uid#, allOptions#uid#)
  })

  document.querySelector('.listCmdMessage[data-uid="#uid#"]').addEventListener('click', function() {
    jeedom.cmd.getSelectModal({cmd: {type: 'action',subType : 'message'}}, function(result) {
      document.querySelector('.expressionAttr[data-l1key="options"][data-l2key="cmd"][data-uid="#uid#"]').insertAtCursor(result.human)
    })
  })

  if ('#export_type#' != '' && document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="export_type"] option[value="#export_type#"]')?.innerHTML != '') {
    let select = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="export_type"]')
    select.value = '#export_type#'
    select.triggerEvent('change')
  }
  if ('#type#' != '' && document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="type"] option[value="#type#"]')?.innerHTML != '') {
    let select = document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="type"]')
    select.value = '#type#'
    select.triggerEvent('change')
  }
  if ('#url#' != '') {
    document.querySelector('.expressionAttr[data-uid="#uid#"][data-l1key="options"][data-l2key="url"]').value = '#url#'
  }
</script>