<select class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="scenario_id" data-option_id="#id#" data-uid="#uid#" style="width: 35%; display: inline-block;"></select>
<select class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="action" data-option_id="#id#" data-uid="#uid#" style="width: 35%; display: inline-block;">
    <option value="start">{{Start}}</option>
    <option value="stop">{{Stop}}</option>
    <option value="activate">{{Activer}}</option>
    <option value="deactivate">{{Désactiver}}</option>
</select>

<script>
    if ($('.expressionAttr[data-option_id=#id#][data-uid=#uid#][data-l1key=options][data-l2key=action] option[value=#action#]').html() != undefined) {
        $('.expressionAttr[data-option_id=#id#][data-uid=#uid#][data-l1key=options][data-l2key=action]').value('#action#');
    }
    jeedom.scenario.all({
        error: function (error) {
            $('#div_alert').showAlert({message: error.message, level: 'danger'});
        },
        success: function (scenarios) {
            var options = '';
             options += '<option value="-1">Aucun</option>';
            for (var i in scenarios) {
                options += '<option value="' + scenarios[i].id + '">' + scenarios[i].humanName + '</option>';
            }
            $('.expressionAttr[data-option_id=#id#][data-uid=#uid#][data-l1key=options][data-l2key=scenario_id]').append(options);
            if ($('.expressionAttr[data-option_id=#id#][data-uid=#uid#][data-l1key=options][data-l2key=scenario_id] option[value=#scenario_id#]').html() != undefined) {
                $('.expressionAttr[data-option_id=#id#][data-uid=#uid#][data-l1key=options][data-l2key=scenario_id]').value('#scenario_id#');
            }
        }
    });
</script>
