<div class="input-group input-group-sm" style="width: 100%">
  <span class="input-group-addon roundedLeft">{{Scénario}}</span>
  <select class="expressionAttr form-control input-sm"  data-l1key="options" data-l2key="scenario_id" data-cmd_id="#id#" data-uid="#uid#"></select>
  <span class="input-group-addon">{{Action}}</span>
  <select class="expressionAttr form-control input-sm roundedRight" data-l1key="options" data-l2key="action" data-cmd_id="#id#" data-uid="#uid#">
    <option value="start">{{Démarrer}}</option>
    <option value="startsync">{{Démarrer (sync)}}</option>
    <option value="stop">{{Arrêter}}</option>
    <option value="activate">{{Activer}}</option>
    <option value="deactivate">{{Désactiver}}</option>
    <option value="resetRepeatIfStatus">{{Remise à zéro des SI}}</option>
  </select>
</div>
<div class="input-group input-group-sm" style="width: 100%">
  <span class="input-group-addon roundedLeft" style="width: 100px">{{Tags}}</span>
  <textarea class="tags expressionAttr form-control ta_autosize roundedRight" data-l1key="options" data-l2key="tags" rows="1" data-cmd_id="#id#" data-uid="#uid#" style="resize:vertical;" placeholder="{{Tags}}">#tags#</textarea>
</div>
<script>
  if ('#action#' != '' && $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=action] option[value=#action#]').html() != undefined) {
    $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=action]').value('#action#');
  }
  jeedom.scenario.all({
    error: function (error) {
      $('#div_alert').showAlert({message: error.message, level: 'danger'});
    },
    success: function (scenarios) {
      //set back to Group/Object/Name order

      var allScenarios = []
      var scenarioGroups = []

      if (scenarios.length > 0) {
        var noneString = '{{Aucun}}'

        //get right name [Group][Object][Name] and store group names
        var group, splitter, objectName
        for (var i in scenarios) {
          group = scenarios[i].group
          if (group == "") group = noneString
          if (scenarios[i].object_id == null) {
            objectName = noneString
          } else {
            splitter = scenarios[i].humanName.split('][')
            objectName = splitter[0].replace("[", '')
          }
          scenarioGroups.push(group[0].toUpperCase() + group.slice(1))
          scenarios[i].listName = "["+group+"]["+objectName+"]["+scenarios[i].name+"]"
        }

        //sort group names, with none first:
        scenarioGroups = Array.from(new Set(scenarioGroups))
        scenarioGroups.sort()
        var first = scenarioGroups[scenarioGroups.indexOf(noneString)]
        if (first) {
          scenarioGroups.splice(scenarioGroups.indexOf(noneString), 1)
          scenarioGroups.unshift(first)
        }

        //put them back in their group:
        var scenarioList = []
        var sc, scGroup
        for (var i=0; i<scenarioGroups.length; i++) {
          group = scenarioGroups[i]
          scenarioList[group] = []
          for (var j=0; j<scenarios.length; j++) {
            sc = scenarios[j]
            scGroup = sc.group
            if (scGroup == null) continue
            if (scGroup == "") scGroup = noneString
            if (scGroup.toLowerCase() != group.toLowerCase()) continue
            scenarioList[group].push([sc.listName, sc.id])
          }
        }

        //order all that!
        var groupScenarios, sclistName, scId
        for (var group in scenarioList) {
          groupScenarios = scenarioList[group]
          for (var index in groupScenarios) {
            sc = groupScenarios[index]
            sclistName = sc[0]
            scId = sc[1]
            allScenarios.push({id:scId, 'listName':sclistName})
          }
        }
      }

      var options = '';
      options += '<option value="-1">{{Aucun}}</option>';
      for (var i in allScenarios) {
        options += '<option value="' + allScenarios[i].id + '">' + allScenarios[i].listName + '</option>';
      }
      $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=scenario_id]').append(options);
      if ('#scenario_id#' != '' && $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=scenario_id] option[value=#scenario_id#]').html() != undefined) {
        $('.expressionAttr[data-uid=#uid#][data-l1key=options][data-l2key=scenario_id]').value('#scenario_id#');
      }
    }
  });
</script>
