<input class="expressionAttr form-control input-xs" data-l1key="options" data-l2key="name" placeholder="Nom" value="#name#" data-cmd_id="#id#" style="width: 48%; display: inline-block;"/>
<input class="expressionAttr form-control input-xs autoCompleteCondition" data-l1key="options" data-l2key="value" placeholder="Valeur" value="#value#" data-cmd_id="#id#" style="width: 48%; display: inline-block;"/>
<a class="btn btn-default form-control listEquipementInfo cursor input-xs" data-cmd_id="#id#" style="margin-top : 3px;"><i class="fa fa-list-alt"></i> {{Rechercher équipement}}</a>
<script>
    $('.listEquipementInfo').off();
    $('.listEquipementInfo').on('click', function () {
        var el = $(this);
        jeedom.cmd.getSelectModal({cmd: {type: 'info'}}, function (result) {
            el.parent().find('.expressionAttr[data-l1key=options][data-l2key=value]').atCaret('insert', result.human);
        });
    });
</script>
