<input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="name" placeholder="Nom" value="#name#" data-cmd_id="#id#" style="width: 35%; display: inline-block;"/>
<input class="expressionAttr form-control input-sm autoCompleteCondition" data-l1key="options" data-l2key="value" placeholder="Valeur" value="#value#" data-cmd_id="#id#" style="width: 35%; display: inline-block;"/>
<a class="btn btn-default listEquipementInfo cursor input-sm" data-cmd_id="#id#" style="display: inline-block;"><span style="position: relative; top: -3px;"><i class="fa fa-list-alt"></i></span></a>
<script>
    $('.listEquipementInfo').off();
    $('.listEquipementInfo').on('click', function () {
        var el = $(this);
        jeedom.cmd.getSelectModal({cmd: {type: 'info'}}, function (result) {
            el.parent().find('.expressionAttr[data-l1key=options][data-l2key=value]').atCaret('insert', result.human);
        });
    });
</script>
