<input class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="eqLogic" data-option_id="#id#" data-uid="#uid#" style="width: 35%; display: inline-block;" value="#eqLogic#"/>
<a class="btn btn-default btn-sm listEquipementInfo cursor" data-cmd_id="#id#" data-uid="#uid#" style="display: inline-block;"><i class="fa fa-list-alt"></i></a>
<select class="expressionAttr form-control input-sm" data-l1key="options" data-l2key="action" data-option_id="#id#" data-uid="#uid#" style="width: 35%; display: inline-block;">
    <option value="show">{{Visible}}</option>
    <option value="hide">{{Masquer}}</option>
    <option value="activate">{{Activer}}</option>
    <option value="deactivate">{{Désactiver}}</option>
</select>

<script>
    if ($('.expressionAttr[data-option_id=#id#][data-uid=#uid#][data-l1key=options][data-l2key=action] option[value=#action#]').html() != undefined) {
        $('.expressionAttr[data-option_id=#id#][data-uid=#uid#][data-l1key=options][data-l2key=action]').value('#action#');
    }
    $('.listEquipementInfo[data-uid=#uid#]').on('click', function() {
        var el = $(this);
        jeedom.eqLogic.getSelectModal({cmd: {type: 'info'}}, function(result) {
            el.parent().find('.expressionAttr[data-l1key=options][data-l2key=eqLogic]').value(result.human);
        });
    });
</script>
