@font-face {
	font-family: 'transport';
	src:url('fonts/transport.eot');
	src:url('fonts/transport.eot') format('embedded-opentype'),
		url('fonts/transport.woff') format('woff'),
		url('fonts/transport.ttf') format('truetype'),
		url('fonts/transport.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="transport-"], [class*=" transport-"] {
	font-family: 'transport';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.transport-velo:before {
	content: "\e608";
}
.transport-trolley2:before {
	content: "\e600";
}
.transport-train8:before {
	content: "\e601";
}
.transport-tractor:before {
	content: "\e602";
}
.transport-school31:before {
	content: "\e603";
}
.transport-hoist:before {
	content: "\e604";
}
.transport-classic5:before {
	content: "\e605";
}
.transport-car95:before {
	content: "\e606";
}
.transport-bicycle12:before {
	content: "\e607";
}
