body{
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.eqLogic-widget .ui-btn{
    margin-bottom : 5px;
}

.eqLogic-widget{
    display: inline-block;
    background-color: #19bc9c;
    color : white;
    vertical-align: top;
    text-shadow: initial !important;
    padding-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.eqLogic-widget :after {
   content: none;
}

.scenario-widget{
    display: inline-block;
    background-color: #7f8c8d;
    color : white;
    vertical-align: top;
    text-shadow: initial;
}

.scenario-widget :after {
   content: none;
}

.cursor{
    cursor : pointer;
}

.full-width-slider input {
    display: none;
}
.full-width-slider .ui-slider-track {
    margin-left: 15px;
}

legend{ 
    color: #3eb249;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    font-size: 1.2em;
    padding-bottom: .2em;
    margin: 0 0 .7375em;
    width : 100%;
}

.break{
    position:absolute;
    background:#222;
    width:20px;
    height:3px;  
}

.dot1{
    -webkit-animation: loading 6s infinite;
    -moz-animation: loading 6s infinite;
    -ms-animation: loading 6s infinite;
    -o-animation: loading 6s infinite;
    animation: loading 6s infinite;
}
.dot2{
    -webkit-animation: loading 6s 0.5s infinite;
    -moz-animation: loading 6s 0.5s infinite;
    -ms-animation: loading 6s 0.5s infinite;
    -o-animation: loading 6s 0.5s infinite;
    animation: loading 6s 0.5s infinite;
}
.dot3{
    -webkit-animation: loading 6s 1s infinite;
    -moz-animation: loading 6s 1s infinite;
    -ms-animation: loading 6s 1s infinite;
    -o-animation: loading 6s 1s infinite;
    animation: loading 6s 1s infinite;
}

@keyframes "loading" {
    from { left: 0; }
     to { left: 100%; }
}
@-moz-keyframes loading {
    from { left: 0; }
    to { left: 100%; }
}
@-webkit-keyframes "loading" {
    from { left: 0; }
    to { left: 100%; }
}
@-ms-keyframes "loading" {
    from { left: 0; }
    to { left: 100%; }
}
@-o-keyframes "loading" {
    from { left: 0; }
    to { left: 100%; }
