/*
Core Widgets CSS @Jeedom
Mobile WebApp
*/

/* ____________________Global */
  .eqLogic-widget div.cmd {
    vertical-align: top;
  }

  div.cmd-widget div.cmdStats {
    display: inline-block;
    width: 100%;
    min-height: 24px;
  }

  /* arc gauges and sliders */
  div.arcgauge {
    position: relative;
    width: 84px;
    height: 84px;
    clip-path: polygon(0 -5px, 105% -5px, 105% 65px, 0 65px);
  }
  div.arcgauge .gauge,
  div.arcgauge .gaugeValue {
    position: absolute;
    top: 22px;
    left: 0;
    width: 84px;
    height: 45px;
    border-top-left-radius: 84px;
    border-top-right-radius: 84px;
    border: 5px solid var(--el-defaultColor);
    border-bottom: 0 !important;
    box-sizing: border-box;
  }
  div.arcgauge .gaugeValue {
    border: 8px solid var(--link-color);
    transform-origin: 42px 42px;
    transform: scale(0.94) rotate(-180deg);
  }
  div.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="default"] {
    height: unset;
  }
  div.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="default"] .state {
    position: relative;
    top: -20px;
  }
  div.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="default"] .cmdStats {
    position: relative;
    top: -20px;
  }


  div.eqlogicbackgraph {
    width: 100%;
    height: calc(100% - 30px);
    position: absolute;
    bottom: 1px;
    left: 0;
    z-index: -100;
    opacity: 0.65;
  }
  div.eqlogicbackgraph  path.highcharts-graph {
    stroke-width: 2;
  }
  div.eqlogicbackgraph .eqLogicGraphPeriod {
    font-size: 11px;
    position: absolute;
    bottom: 1px;
    right: 2px;
    z-index: 1;
  }
  div.eqlogicbackgraph.fixedbackgraph {
    position: relative;
    margin-bottom: -50px;
    bottom: 50px;
  }
  /* v4.2 nouislider */
  div.cmd-widget .slider {
    margin-top: 8px !important;
    margin-bottom: 10px !important;
    background: transparent;
  }
  div.cmd-widget .slider .noUi-base {
    width: calc(100% - 88px);
    z-index: 20;
  }
  div.cmd-widget .slider.full-width-slider .noUi-base {
    width: calc(100% - 28px);
  }
  div.cmd-widget .slider .noUi-connects {
    top: 5px;
    height: 6px;
    right: 5px !important;
    background: var(--el-defaultColor) !important;
  }
  div.cmd-widget .slider .noUi-connects {
    width: calc(100% + 12px);
  }
  div.cmd-widget .slider .noUi-connects > .noUi-connect {
    top: -5px;
    height: 20px !important;
    background: var(--link-color);
  }
  div.cmd-widget .slider.noUi-horizontal,
  div.cmd-widget .slider .noUi-handle {
    border: none;
    box-shadow: none;
  }
  div.cmd-widget .slider .noUi-handle {
    top: -3px;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: var(--link-color);
  }
  div.cmd-widget .slider .noUi-handle:before,
  div.cmd-widget .slider .noUi-handle::after {
    display: none;
  }
  div.cmd-widget .slider .noUi-tooltip {
    display: none;
    border: none;
    background: var(--btnEq-default-color);
    color: var(--link-color);
  }
  div.cmd-widget .slider .noUi-active .noUi-tooltip {
    display: block;
  }
  div.cmd-widget .slider .noUi-handle {
    cursor: pointer;
    outline: none;
  }
  div.cmd-widget .slider .noUi-handle:focus {
    outline: none;
  }

  /* less space under arc gauges */
  .gauge.cursor{ height: 85px !important; }
  .container-fluid.cmd-widget { min-height: 85px !important; }

  h4.modal-title {
    font-size: 14px;
  }
  .highcharts-legend-item:not(.highcharts-legend-item-hidden) text{
    font-weight: normal !important;
  }
  .highcharts-legend-item.highcharts-legend-item-hidden text {
    font-weight: normal !important;
    font-style: italic;
  }

  path.highcharts-graph {
    stroke-width: 1;
  }

  .ui-slider-track .ui-btn.ui-slider-handle {
    margin-top: -9px;
    -ms-touch-action: none;
    touch-action: none;
  }
    .ui-page-theme-a .cmd.cmd-widget .ui-slider-track .ui-btn-active {
    position: absolute;
    left: 0;
    height: 6px !important;
    background-color: var(--link-color) !important;
  }

/* ____________________Specific */
  div.cmd.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="tile"] .state {
    font-size: 1.4em !important;
  }
  div.cmd.cmd-widget[data-type="action"][data-subtype="other"][data-template="tmpliconline"] .iconCmdLine {
    font-size: 1.2em !important;
  }
  div.cmd.cmd-widget[data-type="action"][data-subtype="slider"][data-template="button"] .ui-input-text {
    opacity: 1;
  }
  div.cmd.cmd-widget[data-type="action"][data-subtype="slider"][data-template="button"] .in_value {
    width: 55px;
    opacity: 1 !important;
    color: var(--txt-color) !important;
  }
  div.cmd.cmd-widget[data-type="action"][data-subtype="message"][data-template="default"] .text {
    margin-top: 5px;
    height: 50px;
  }
  div.cmd.cmd-widget[data-type="info"][data-subtype="string"][data-template="multiline"] {
    height: 100px;
  }
  div.cmd.cmd-widget .selectCmd {
    max-height: 50px;
    overflow: auto;
  }

/* ____________________binarySwitch */
  div.cmd-widget[data-type="action"][data-subtype="other"][data-template="binarySwitch"] {
    height: 20px;
    margin: 5px;
  }
  div.cmd-widget[data-type="action"][data-subtype="other"][data-template="binarySwitch"] .widthx2 {
    min-width: 140px;
    text-align: left;
  }
  label.binarySwitch {
    position: relative;
    display: inline-block;
    float: right;
    width: 40px;
    height: 22px;
    bottom: 2px;
  }
  div.cmd-widget[data-type="action"][data-subtype="other"][data-template="binarySwitch"] > center > div:not(.widthx2) > label.binarySwitch {
    float: unset !important;
  }
  label.binarySwitch input {
    display: none;
  }
  label.binarySwitch > input:checked + span.binarySwitch > span.binarySwitchHandle {
    transform: translateX(17px);
  }
  span.binarySwitch {
    border-radius: 1em;
  }
  span.binarySwitchHandle {
    position: absolute;
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 3px;
    background-color: var(--link-color);
    transition: .4s;
    border-radius: 50%;
  }
  label.binarySwitch > input + span.binarySwitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    background-color: var(--btnEq-default-color);
  }
  label.binarySwitch > input:checked + span.binarySwitch {
    background-color: var(--el-defaultColor);
  }
  [data-coloredicons="1"] label.binarySwitch > input:checked + span.binarySwitch {
    background-color: var(--bt-success-color);
  }
  [data-theme="core2019_Dark"][data-coloredicons="1"] label.binarySwitch > input:checked + span.binarySwitch > span.binarySwitchHandle {
    background-color: var(--btnEq-default-color) !important;
  }

/* ____________________others */
  .hgauge-value,
  .shuttergauge-value {
    background: var(--link-color);
  }

  .hgauge {
    position: relative;
    width: calc(100% - 16px);
    margin-top: 6px;
    margin-bottom: 4px;
  }
  .hgauge-bckg {
    position:relative;
    height: 5px;
    top: -3px;
    background: var(--el-defaultColor);
  }
  .hgauge .cmdName {
    min-height: 26px;
  }
  .hgauge-value {
    height: 8px;
    position: absolute;
    left: 0;
    margin-top: -4px;
  }
  .hgauge .state {
    margin-top: 10px;
  }

  .shuttergauge, .timeShuttergauge {
    position: relative;
    width: 100% !important;
    height: 120px;
  }
  div.cmd-widget.timeShuttergauge {
    display: table;
    height: 140px;
  }
  .shuttergauge-bckg {
    width: 42px;
    height: 45px;
    margin-left: -26px;
    position: absolute;
    top: 20px;
  }
  .shuttergauge-chart {
    display: inline-block;
    text-align: center !important;
    min-height: 65px;
  }
  .shuttergauge-state {
    font-size: 16px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .shuttergauge-state .timeCmd {
    margin-top: 25px;
  }
  .shuttergauge .slider {
    margin-top: -20px;
  }

/* ____________________Compass */
  .widget-compass-container {
    position: relative;
    top: 6px;
    width: 80px;
    height: 80px;
    margin-bottom: 18px;
  }
  .widget-compass-container * {
    position: absolute;
  }
  .widget-compass .value {
    position: absolute;
    top: 48px;
  }
  .widget-compass .state {
    font-size: 16px !important;
    font-weight: bold;
    position: relative;
    top: 24px;
  }
  .widget-compass .winDir {
    font-size: 11px !important;
    position: relative;
    top: 21px;
  }
  .widget-compass-outline {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 6px solid var(--txt-color);
    border-top: 6px solid var(--al-info-color);
    border-bottom: 6px solid var(--al-info-color);
    border-radius: 50%;
  }
  .widget-compass-needle-placer {
    position: absolute;
    margin-top: -3px;
    margin-left: -3px;
    width: 86px;
    height: 86px;
  }
  .widget-compass-needle {
    position: relative;
    width: 0px;
    height: 0px;
    border: 8px solid transparent;
    border-top: 22px solid var(--al-warning-color);
  }

/* ____________________Rain */
  div.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="rain"] > .widget-rain-container {
    width: 90px;
    margin: 5px;
    padding: 0;
  }

  @keyframes jeedomWidgetRainWaterAnimation{from{background-position:0 0}to{background-position:100000% 0}}

  .widget-rain-water {
    position: absolute;
    bottom: 0px;
    width: 100%;
    transition: water 3s ease-out;
    z-index: 0;
    animation: jeedomWidgetRainWaterAnimation 3000s linear infinite;
  }

  .widget-rain-container {
    background: url(../../core/template/mobile/cmd.info.numeric.rain/marker.svg) no-repeat;
    background-size: cover;
    position: relative;
    height: 60px;
    z-index: 20;
  }

  .widget-rain-container .plage {
    position: absolute;
    bottom: 5px;
    right: 5%;
    left: 5%;
    z-index: 2;
  }

  .widget-rain-main {
    overflow: hidden;
    width: 80px;
    z-index: 0;
    position : relative;
  }
