/*
Core Widgets CSS @Jeedom
Mobile WebApp
*/

/* __________________________________________________________________________________________________________Global */
/* arc gauges and sliders */
.highcharts-pane {
  stroke-width: 0;
}
.highcharts-data-label > span > span {
  font-size: 12px !important;
}
.highcharts-color-0 {
  fill: var(--link-color);
}
.ui-slider-handle {
  font-size: 1em;
  border-radius: 1em !important;
  cursor: pointer !important;
}
.ui-slider-horizontal{
  height: 5px !important;
}
.ui-slider{
  border:none !important;
}

/* less space under arc gauges */
.gauge.cursor{ height: 85px !important; }
.container-fluid.cmd-widget { min-height: 85px !important; }

h4.modal-title {
  font-size: 14px;
}
.highcharts-legend-item:not(.highcharts-legend-item-hidden) text{
  font-weight: normal !important;
}
.highcharts-legend-item.highcharts-legend-item-hidden text {
  font-weight: normal !important;
  font-style: italic;
}

path.highcharts-graph {
  stroke-width: 1;
}


/* __________________________________________________________________________________________________________Specific */
.hgauge-value,
.shuttergauge-value {
  background: var(--link-color);
}

.hgauge {
  position: relative;
  width: calc(100% - 16px);
  margin-top: 6px;
  margin-bottom: 4px;
}
.hgauge-bckg {
  position:relative;
  height: 5px;
  top: -3px;
  background: var(--el-defaultColor);
}
.hgauge .cmdName {
  min-height: 26px;
}
.hgauge-value {
  height: 10px;
  position: absolute;
  left: 0;
  margin-top: -4px;
}
.hgauge .state {
  margin-top: 10px;
}

.shuttergauge, .timeShuttergauge {
  position: relative;
  width: 100% !important;
  height: 120px;
}
.timeShuttergauge {
  height: 140px;
}
.shuttergauge-bckg {
  width: 42px;
  height: 45px;
  margin-left: -26px;
  position: absolute;
  top: 20px;
}
.shuttergauge-chart {
  display: inline-block;
  text-align: center !important;
}
.shuttergauge-state {
  font-size: 16px;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.shuttergauge-state .timeCmd {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.shuttergauge .slider {
  margin-top: 55px;
}


.widget-compass-container {
  position: relative;
  width: 80px;
  height: 80px;
}
.widget-compass-container * {
  position: absolute;
}
.widget-compass .value {
  position: absolute;
  top: 48px;
}
.widget-compass .state {
  font-size: 16px !important;
  font-weight: bold;
  position: relative;
  top: 28px;
}
.widget-compass-outline {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 7px solid var(--txt-color);
  border-top: 7px solid var(--al-info-color);
  border-bottom: 7px solid var(--al-info-color);
  border-radius: 50%;
}
.widget-compass-needle {
  left: 38px;
  width: 4px;
  height: 80px;
  top: 0px;
}
.widget-compass-needle:after {
  position: absolute;
  content: '' !important;
  top: -3px;
  left: -6px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 22px solid var(--al-warning-color);
}
