/*
Core Widgets CSS @Jeedom
Mobile WebApp
*/

/* __________________________________________________________________________________________________________Global */

.eqLogic-widget div.cmd {
  vertical-align: top;
}


/* arc gauges and sliders */
.highcharts-pane {
  stroke-width: 0;
}
.highcharts-data-label > span > span {
  font-size: 12px !important;
}
.highcharts-color-0 {
  fill: var(--link-color);
}
.ui-slider-handle {
  font-size: 1em;
  border-radius: 1em !important;
  cursor: pointer !important;
}
.ui-slider-horizontal{
  height: 5px !important;
}
.ui-slider{
  border:none !important;
}

/* less space under arc gauges */
.gauge.cursor{ height: 85px !important; }
.container-fluid.cmd-widget { min-height: 85px !important; }

h4.modal-title {
  font-size: 14px;
}
.highcharts-legend-item:not(.highcharts-legend-item-hidden) text{
  font-weight: normal !important;
}
.highcharts-legend-item.highcharts-legend-item-hidden text {
  font-weight: normal !important;
  font-style: italic;
}

path.highcharts-graph {
  stroke-width: 1;
}


/* __________________________________________________________________________________________________________Specific */
.cmd.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="tile"] .state {
  font-size: 1.4em !important;
}
.cmd.cmd-widget[data-type="action"][data-subtype="other"][data-template="tmpliconline"] .iconCmdLine {
  font-size: 1.2em !important;
}
.cmd.cmd-widget[data-type="action"][data-subtype="slider"][data-template="button"] .value {
  width: 55px;
}
.cmd.cmd-widget[data-type="action"][data-subtype="message"][data-template="default"] .text {
  margin-top: 5px;
  height: 50px;
}
.cmd.cmd-widget[data-type="info"][data-subtype="binary"][data-template="shutter"] {
  height: 100px;
}
.cmd.cmd-widget[data-type="info"][data-subtype="string"][data-template="multiline"] {
  height: 100px;
}
.cmd.cmd-widget .selectCmd {
  max-height: 50px;
  overflow: auto;
}


.hgauge-value,
.shuttergauge-value {
  background: var(--link-color);
}

.hgauge {
  position: relative;
  width: calc(100% - 16px);
  margin-top: 6px;
  margin-bottom: 4px;
}
.hgauge-bckg {
  position:relative;
  height: 5px;
  top: -3px;
  background: var(--el-defaultColor);
}
.hgauge .cmdName {
  min-height: 26px;
}
.hgauge-value {
  height: 10px;
  position: absolute;
  left: 0;
  margin-top: -4px;
}
.hgauge .state {
  margin-top: 10px;
}

.shuttergauge, .timeShuttergauge {
  position: relative;
  width: 100% !important;
  height: 120px;
}
.timeShuttergauge {
  height: 140px;
}
.shuttergauge-bckg {
  width: 42px;
  height: 45px;
  margin-left: -26px;
  position: absolute;
  top: 20px;
}
.shuttergauge-chart {
  display: inline-block;
  text-align: center !important;
  min-height: 85px;
}
.shuttergauge-state {
  font-size: 16px;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.shuttergauge-state .timeCmd {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.shuttergauge .slider {
  margin-top: -20px;
}
.timeShuttergauge .slider {
  margin-top: 0px !important;
}

/* __________________________________________________________________________________________________________Compass */
.widget-compass-container {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 18px;
}
.widget-compass-container * {
  position: absolute;
}
.widget-compass .value {
  position: absolute;
  top: 48px;
}
.widget-compass .state {
  font-size: 16px !important;
  font-weight: bold;
  position: relative;
  top: 24px;
}
.widget-compass .winDir {
  font-size: 11px !important;
  position: relative;
  top: 21px;
}
.widget-compass-outline {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 7px solid var(--txt-color);
  border-top: 7px solid var(--al-info-color);
  border-bottom: 7px solid var(--al-info-color);
  border-radius: 50%;
}
.widget-compass-needle {
  left: 38px;
  width: 4px;
  height: 80px;
  top: 0px;
}
.widget-compass-needle:after {
  position: absolute;
  content: '' !important;
  top: -3px;
  left: -6px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 22px solid var(--al-warning-color);
}

/* __________________________________________________________________________________________________________Rain */
@keyframes homeweatherstationraingauge{from{background-position:0 0}to{background-position:100000% 0}}

.widget-rain-water{
  height: 0pt;
  background: url(../../core/template/mobile/cmd.info.numeric.rain/water.svg);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 0 1px 1px;
  bottom: 0;
  width : 100%;
  max-height: 45px;
  transition: water 3s ease-out;
  z-index: 0;
  animation: homeweatherstationraingauge 3000s linear infinite;
  bottom : 0px;
  position: absolute;
}

.widget-rain-title{
  padding-top: 10%;
}

.widget-rain-container{
  background: url(../../core/template/mobile/cmd.info.numeric.rain/marker.svg) no-repeat;
  background-size: cover;
  height: 100%;
  z-index: 20;
}

.widget-rain-main{
  height: 80px;
  overflow: hidden;
  width: 80px;
  z-index: 0;
  position : relative;
}
