/*
Theme Core 2019 @Jeedom
*/

/* _____________________________GLOBAL */
::-moz-color-swatch {
  border: none;
  border-color: transparent;
}
::-webkit-color-swatch {
  border: none !important;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}

.backgroundforJeedom {
  background-image: var(--dashBkg-url) !important;
  background-color: transparent !important;
}

.ui-link[data-title=Accueil] .fa-home::before {
	content: '' !important;
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {
	background-color: var(--bg-color) !important;
	color: var(--txt-color) !important;
	box-shadow: none !important;
}

.ui-header,
.ui-page-theme-a .ui-bar-inherit:not(.ui-slider-track) {
	background-color: var(--bg-modal-color) !important;
	color: var(--txt-color) !important;
	box-shadow: none !important;
}

.ui-header > .ui-btn {
	color: var(--txt-color) !important;
}

.form-control {
	background-color: var(--form-bg-color) !important;
 	color: var(--txt-color) !important;
}

.eqLogic.eqLogic-widget .ui-input-text :not(textarea) {
	padding: 0 !important;
	background-color: transparent;
	box-shadow: none !important;
	
}
.ui-input-text::after {
	background-color: transparent !important;
}
.eqLogic.eqLogic-widget .ui-input-text input,
.eqLogic.eqLogic-widget textarea {
	text-align: left !important;
	background: var(--form-bg-color) !important;
	color: var(--txt-color);
	padding: 5px !important;
	border: none;
	text-shadow: none !important;
	min-height: 20px;
}
.eqLogic.eqLogic-widget .ui-input-text input[type=color],
.action_colorpicker_change {
  padding: 0 !important;
  border: none !important;
	min-height: 32px
}

.ui-controlgroup-controls,
.ui-controlgroup-controls .ui-input-text input {
	background-color: transparent !important;
}

.ui-checkbox .ui-btn {
  color: var(--link-color);
	background: var(--form-bg-color) !important;
}
.ui-controlgroup-controls .ui-btn {
	box-shadow: none !important;
}

[data-category] .widget-name {
	display:block;
	min-height: 1.5em !important;
}

.widget-name,
.widget-name span,
.widget-name a {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: var(--sc-lightTxt-color) !important;
	font-size: 18px !important;
}

.eqLogic.eqLogic-widget,
.scenario.scenario-widget  {
	margin-top: 5px !important;
	border: none !important;
	font-size: 18px !important;
}


.ui-shadow,
.nd2-card {
	box-shadow: none;
}

.iconCmd {
  font-size: 3em;
  font-weight: bold;
}
.iconCmd > i {
	color: var(--link-color) !important;
	font-size: 1em !important;
}
.timeCmd {
	color: var(--txt-color);
	background-color: var(--bg-color) !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	font-size: 12.5px;
}
.statusCmd {
	position: absolute;
	left: 5px;
	width: 30px;
	padding-top: 3px;
	z-index: 1030;
}
.cmdName {
  font-size: 14px !important;
  font-weight: bold !important;
}
.cmdName:first-letter {
    text-transform: uppercase;
}
.state {
  font-size: 18px !important;
}
.state i {
  font-size: 50px !important;
	padding: 5px;
}
.scenario-widget .state {
	padding-top: 12px;
	line-height: 50px !important;
}
p.state {
	font-size: 14px !important;
}
.btn.action {
  margin-top: 2px;
}
.cmd.refresh {
  margin-top: 2px;
  margin-right: 2px;
}
.label {
  font-size: 12px !important;
  font-weight: normal;
}
.full-width-slider {
	width: 100% !important;
}

.objectSummaryParent {
	font-size: 18px;
}
.objectSummaryglobal .objectSummaryParent {
	font-size: 12px;
}
#bottompanel_objectList .objectSummaryParent {
	font-size: 12px !important;
}


/* home grid buttons */
.ui-page-theme-a .ui-btn.ui-btn-raised i,
.ui-link i {
	background: transparent !important;
}


.ui-page-theme-a .ui-btn.ui-btn-raised {
	color: var(--link-color) !important;
	background-color: var(--defaultBkg-color) !important;
	box-shadow: none;
}
.ui-page-theme-a .ui-btn.ui-btn-raised:hover {
	color: var(--txt-color) !important;
	background-color: var(--btnEq-default-color) !important;
}
.ui-link i:hover {
	color: var(--linkHover-color) !important;
}
:not(.cmd) a.ui-btn-raised:not(.ui-mini) > i:not(.fas) {
	font-size: 2.5em !important;
}


/* bottom home menu */
.ui-bottom-sheet-list .ui-bottom-sheet-link,
.ui-bottom-sheet {
	color: var(--link-color) !important;
	background-color: var(--defaultBkg-color) !important;
}
.ui-bottom-sheet-list .ui-bottom-sheet-link:hover,
.ui-listview > li >a:hover {
	background-color: var(--btnEq-default-color) !important;
}

.cmd a.ui-btn-raised > i {
	font-size: 1.2em !important;
}

legend {
	color: var(--link-color) !important;
  background-color: transparent !important;
  text-align: center;
  margin-top: 0.7em !important;
	margin-bottom: 0.2em !important;
	border-bottom: none !important;
	font-size: 22px !important;
}
.nd2-card {
	margin: 0 !important;
}
.eqLogic-widget i.fa-refresh {
  margin-right: calc((var(--border-radius)/4) + 3px)  !important;
}

.ui-slider-track,
.ui-bar-a {
	background:  var(--el-defaultColor) !important;
	height: 5px;
}
a.ui-slider-handle {
	border-radius: 1em !important;
}

/* select */
.ui-select .ui-btn {
	font-family: "noto";
	font-weight: bold;
	background-color: var(--form-bg-color) !important;
}

.eqLogic-widget .ui-select .ui-btn {
	background-color: transparent !important;
}

.ui-select .ui-btn:hover {
  background-color: var(--btnEq-default-color) !important;
}
select option {
	color: var(--txt-color);
	background-color: var(--bg-color);
}


/* buttons */
a.action.ui-btn {
	min-width: 15px;
}
.ui-slider-bg {
	height: 5px;
}
.ui-mini i {
	font-size: 16px !important;
}


/* ________________DIVERS */
div.ui-header.ui-bar-inherit > a[data-rel=back]{
	background-color: var(--btn-default-color) !important;
}

#searchContainer {
	width: 100%;
	z-index: 9000;
}
#in_searchWidget {
	position:fixed;
	top: 65px;
	left: 0;
	padding-left: 5px;
	height: 35px;
	width: calc(100% - 38px);
	z-index: 9000;
}
#bt_eraseSearchInput {
	position: fixed;
	top: 65px;
	right: -5px;
	margin:0;
	z-index: 9000;
	background: var(--form-bg-color) !important;
	box-shadow: none;
}


.nd2Tabs li {
	color: var(--txt-color);
}
.nd2Tabs li.nd2Tabs-active,
.nd2Tabs li:hover,
.nd2Tabs li:focus {
	color: var(--txt-color);
}


/* ________________OTHERS */
.ui-table-columntoggle-btn,
.ui-table,
#pre_globallog {
  color: var(--txt-color) !important;
	background: var(--bg-color);
}

/* ________________HIGHCHARTS */
/* arc gauges and sliders */
.highcharts-pane {
	stroke-width: 0;
}
.highcharts-data-label > span > span {
	font-size: 12px !important;
}
.highcharts-color-0 {
	fill: var(--link-color);
}
.ui-slider-handle {
  font-size: 1em;
  border-radius: 1em !important;
  cursor: pointer !important;
}
.ui-slider-horizontal{
	height: 5px !important;
}
.ui-slider{
	border:none !important;
}

/* less space under arc gauges */
.gauge.cursor{ height: 85px !important; }
.container-fluid.cmd-widget { min-height: 85px !important; }

h4.modal-title {
  font-size: 14px;
}
.highcharts-legend-item:not(.highcharts-legend-item-hidden) text{
  font-weight: normal !important;
}
.highcharts-legend-item.highcharts-legend-item-hidden text {
  font-weight: normal !important;
  font-style: italic;
}

path.highcharts-graph {
  stroke-width: 1;
}


/* ___________________________________________________________GAUGES */
.shuttergauge {
  position: relative;
  padding: 0;
  display: table-cell;
  font-family: "noto", sans-serif;;
  font-weight: 400;
}

.shuttergauge > div:first-child {
  text-align: center !important;
  font-size: 16px;
}

.shuttergauge {
  top: 7px;
}
.shuttergauge-chart {
  display: inline-block;
  text-align: center !important;
}

.shuttergauge-state {
  font-size: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.shuttergauge-bckg {
  width: 46px;
  height: calc(100% - 52px);
  margin-left: -28px;
  position: absolute;
  bottom: 18px;
}


/* ___________________________________________________________ROUNDING */
::-moz-color-swatch {
  border-radius: var(--border-radius) !important;
}
.eqLogic-widget,
.scenario-widget {
  border-radius: var(--border-radius) !important;
}
.eqLogic-widget .widget-name,
.scenario-widget .widget-name,
.panel,
.panel-heading {
  border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
}
.panel,
.panel-body,
.panel-heading {
  border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}

.ui-btn,
.ui-input-text,
input,
select,
textarea,
.label,
.input-group-addon,
.market,
button,
pre {
  border-radius: var(--border-radius) !important;
}
.ui-controlgroup .ui-btn,
.ui-controlgroupinput,
.ui-controlgroup select,
.ui-controlgroup textarea,
.ui-controlgroup .input-group-addon {
  border-radius: 0 !important;
}
.ui-controlgroup ::-moz-color-swatch {
  border-radius: 0 !important;
}
.ui-controlgroup ::-webkit-color-swatch {
  border-radius: 0 !important;
}
.ui-controlgroup .roundedLeft,
.roundedLeft {
  border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
}
.ui-controlgroup .roundedRight,
.roundedRight {
  border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
  margin-right: 3px !important;
}

.ui-dialog {
  border-radius: var(--border-radius) !important;
}

.nav.nav-tabs li:first-child,
.nav.nav-tabs li:first-child a {
  border-top-left-radius: var(--border-radius)  !important;
}
.nav.nav-tabs li:last-child,
.nav.nav-tabs li:last-child a {
  border-top-right-radius: var(--border-radius)  !important;
}
.tab-content {
	border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
}
