/*@import url(//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700,900);*/

html {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1.42em;
  padding-top: 60px;
  padding-bottom: 5px;
}

header{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn,.bootstrap-switch{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn,.bootstrap-switch{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.form-control{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.div_smallSideBar{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn:hover { 
   opacity: 0.7;
}

.sidebar-nav {
  padding: 9px 0;
}

.cursor{
  cursor : pointer;
}

/* Themes for different contexts */
.alert {
  border-left: 5px solid #F3E5A7;
}

.alert-danger {
  border-left: 5px solid #DFAAA9;
}

.alert-info {
  border-left: 5px solid #B3D7EF;
}
.alert-success {
  border-left: 5px solid #94C680;
}

.btn-black {
  color:white;
  background-color:#373737;
  border-color:#1f1f1f;
}

.btn-black:hover {
  color:white;
  background-color:#303030;
  border-color:#1f1f1f;
}

.pull-right{
  float: right;
  margin-left: 5px;
}

.pull-left{
  float: left;
  margin-right: 5px;
}

.form-actions{
  margin-top: 5px;
}

.eqLogic-widget{
  background-color: #19bc9c;
  display: inline-block;
  vertical-align: top;
  color : white;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.eqLogic-widget .btn:not(.btn-circle){
  border : none !important;
  color : white !important;
  margin-top: 5px !important;
  font-weight: bold;
}

.view-link-widget,.plan-link-widget{
  padding: 3px;
  margin: 3px;
  display: inline-block;
  vertical-align: top;
}

.eqLogic-widget a{
  color:inherit;
}

.scenario-widget{
  background-color: #7f8c8d;
  display: inline-block;
  position : relative;
  vertical-align: top;
  color : white;
}

.scenario-widget a{
  color : white;
}

.cmd-widget{
  display: inline-block;
  position : relative;
  height : 100%;
  vertical-align: top;
}

.cmd-widget .statistiques{
  position : absolute; 
  bottom: 0;
  font-size: 0.80em;
  left : 0;
  margin : 0;
  padding: 0;
  line-height:0px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading{
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

::-webkit-scrollbar{
  width:8px
}

::-webkit-scrollbar-track-piece{
  background-color:transparent
}

::-webkit-scrollbar-thumb{
  background:#ddd
} 

/* Docs sidebar
-------------------------------------------------- */

/* First level of nav */
.bs-sidenav {
  margin-bottom: 10px;
  padding:    10px;
  background-color: #f5f5f5;
}
.bs-sidebar.affix {
  position: static;
}

/* All levels of nav */
.bs-sidebar .nav > li > a:not(.btn) {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}
.bs-sidebar .bs-sidenav {
  margin-top: 0;
  margin-bottom: 10px;
}

.input-xs {
  height: 22px;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}


.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.btn-circle {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
  color : white !important;
  background-color: transparent !important;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}


input[type=checkbox] {
  position: relative;
  /*top: -0.375rem;*/
  margin: 0 1rem 0 0;
  cursor: pointer;
  display: inline-block;
  top : 5px;
  min-height : 0px !important;
}

.form-horizontal .checkbox-inline{
  padding-top: 0px !important;
}

input[type=checkbox]:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1.1rem;
  height: 1.1rem;
  border: 2px solid #CDCDCD;
}

input[type=checkbox]:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
 height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}

input[type=checkbox]:after {
  content: "";
  position: absolute;
  top: -0rem;
  left: 0;
  width: 1.1rem;
  height: 1rem;
  background: #fff;
  cursor: pointer;
}

.-sew-list-container{
  z-index: 3;
}