html,body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

body {
    padding-top: 60px;
    padding-bottom: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

.sidebar-nav {
    padding: 9px 0;
}

.cursor{
    cursor : pointer;
}

/* Themes for different contexts */
.alert {
    border-left: 5px solid #F3E5A7;
}

.alert-danger {
    border-left: 5px solid #DFAAA9;
}

.alert-info {
    border-left: 5px solid #B3D7EF;
}
.alert-success {
    border-left: 5px solid #94C680;
}

.btn-black {
    color:white;
    background-color:#373737;
    border-color:#1f1f1f;
}

.btn-black:hover {
    color:white;
    background-color:#303030;
    border-color:#1f1f1f;
}

.pull-right{
    float: right;
    margin-left: 5px;
}

.pull-left{
    float: left;
    margin-right: 5px;
}

.form-actions{
    margin-top: 5px;
}

.eqLogic-widget{
    background-color: #19bc9c;
    display: inline-block;
    vertical-align: top;
    color : white;
}

.view-link-widget,.plan-link-widget{
    padding: 3px;
    margin: 3px;
    display: inline-block;
    vertical-align: top;
}

.eqLogic-widget a{
    color:inherit;
}

.scenario-widget{
    background-color: #7f8c8d;
    display: inline-block;
    position : relative;
    vertical-align: top;
    color : white;
}

.scenario-widget a{
    color : white;
}

.cmd-widget{
    display: inline-block;
    position : relative;
    height : 100%;
    vertical-align: top;
}

.cmd-widget .statistiques{
    position : absolute; 
    bottom: 0;
    font-size: 0.80em;
    left : 0;
    margin : 0;
    padding: 0;
    line-height:0px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading{
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin input[type="text"]:focus,
.form-signin input[type="password"]:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

::-webkit-scrollbar{
    width:8px
}

::-webkit-scrollbar-track-piece{
    background-color:transparent
}

::-webkit-scrollbar-thumb{
    background:#ddd
} 

/* Docs sidebar
-------------------------------------------------- */

/* First level of nav */
.bs-sidenav {
    margin-bottom: 10px;
    padding:    10px;
    background-color: #f5f5f5;
}
.bs-sidebar.affix {
    position: static;
}

/* All levels of nav */
.bs-sidebar .nav > li > a:not(.btn) {
    display: block;
    color: #716b7a;
    padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    background-color: #e5e3e9;
    border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #563d7c;
    background-color: transparent;
    border-right: 1px solid #563d7c;
}
.bs-sidebar .nav .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: 30px;
    font-size: 90%;
}
.bs-sidebar .bs-sidenav {
    margin-top: 0;
    margin-bottom: 10px;
}

.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.btn-circle {
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
  padding: 6px 0 !important;
  font-size: 12px !important;
  line-height: 1.428571429 !important;
  border-radius: 15px !important;
  color : white !important;
  background-color: transparent !important;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.eqLogic-widget .btn-default:not(.btn-circle){
    background-color: transparent !important;
    border: 2px solid white !important;
    color : white !important;
    font-weight: bold !important;
    -webkit-border-radius:3px !important;
    -moz-border-radius:3px !important;
    border-radius:3px !important;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}