html {
	overflow: hidden;
}

body {
	transition: all .5s;
	background-image: linear-gradient(to bottom right, rgba(147,204,1,0.6), rgba(147,204,1,1));
	padding-top: 0;
	height: 100% !important;		
	overflow: hidden;
}

.backgroundforJeedom {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  opacity: 0.2;
  background-size: cover !important;
  background-position: right bottom !important;
  background-repeat: no-repeat;
  background-image: var(--dashBkg-url) !important;
  background-color: transparent !important;
}

.veen {
	width: 70%;
	margin: 100px auto;
	background-color: rgb(255,255,255);
	display: table;
	position: relative;
	transition: all .5s;
}
.veen > div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}

.veen button{
	display: inline-block;
	padding: 10px 30px;
	border: 3px solid #fff;
	background-clip: padding-box;
	position: relative;
	color: #FFF;
	transition: all .25s;
}
.veen button.dark{
	border-color: #93cc01;
	background: #93cc01;
}
.veen .move button.dark{
	border-color: #e0b722;
	background: #e0b722;
}
.veen .splits p{
	font-size: 15px;

}
.veen button:active{
	box-shadow: none;
}
.veen button:focus{
	outline: none;
}
.veen > .wrapper {
	position: absolute;
	width: 45%;
	height: 120%;
	min-height: 400px !important;
	top: -10%;
	left: 2%;
	background: #fff;
	transition: all .5s;
	color: #303030;
	overflow: hidden;
	box-shadow: 0 8px 22px 2px rgba(0,0,0,0.2);
}
.veen .wrapper > .form-group{
	padding: 15px 30px 30px;
	width: 100%;
	transition: all .5s;
	background: #fff;
}
.veen .wrapper > .form-group:focus{
  outline: none;
}
.veen .wrapper #login{
	padding-top: 20%;
	visibility: visible;
}
.veen .wrapper #market{
	padding-top: 10%;
}
.veen .wrapper #register{
	transform: translateY(-80%) translateX(100%);
	visibility: hidden;

}
.veen .wrapper.move #register{
	transform: translateY(-100%) translateX(0%);
	visibility: visible;
}
.veen .wrapper.move #login{
	transform: translateX(-100%);
	visibility: hidden;
}
.veen .wrapper .checkbox{
	width: 100%;
	height: 10px;
}
.veen .wrapper > .form-group > div {
	position: relative;
	margin-bottom: 15px;
}
.veen .wrapper label{
	position: absolute;
	top: -7px;
	font-size: 12px;
	white-space: nowrap;
	background: #fff;
	text-align: left;
	left: 15px;
	padding: 0 5px;
	color: #999;
	pointer-events: none;
}
.veen .wrapper h3{
	margin-bottom: 25px;
}
.veen .wrapper input:not([type='checkbox']){
	height: 40px;
	padding: 5px 15px;
	width: 100%;
	border: solid 1px #999;
}
.veen .wrapper input{
	margin-top: -6px;
}
.veen .wrapper input:focus{
	outline: none;
	border-color: #e0b722;
}
.veen > .wrapper.move{
	left: 45%;
}
.veen > .wrapper.move input:focus{
	border-color: #e0b722;
}

#cb_storeConnection {
	right: 10px !important;
	top: 0 !important;
}

#in_login_password,
#in_login_username,
#cb_storeConnection {
	background: rgb(240,240,240) !important;
}

.btn_help{
	right: 3%;
	bottom: 8%;
	width: 50px;
	height:50px;
	color: rgba(147,204,1,1);
	font-size:20px;
	position: fixed;
	background: #FFFFFF;
	border: 1px solid #FFFFFF;
	border-radius:25px !important;
	text-align:center;
	line-height:45px;
	box-shadow: 6px 6px 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
.btn_help:hover{
	background: #FFFFFF;
	border: 1px solid rgba(147,204,1,1);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: inset 0 0 0 50px #fff
}



@media (max-width: 1520px){
  .veen{
		width: 80%;
	}
}

@media (max-width: 767px) {
	.veen{
		padding: 5px;
		margin: 0;
		width: 100%;
		display: block;
	}
	.veen > .wrapper{
		position: relative;
		height: auto;
		top: 0;
		left: 0;
		width: 100%;
	}
	.veen > div{
		display: inline-block;
	}
	.splits{
		width: 50%;
		background: #fff !important;
		float: left;
	}
	.splits button{
		width: 100%;
		border-radius: 0;
		background: #505050;
		border: 0;
		opacity: .7;
	}
	.splits button.active{
		opacity: 1;
	}
	.splits button.active{
		opacity: 1;
		background: #ff4931;
	}
	.splits.rgstr-btn button.active{
		background: #e0b722;
	}
	.splits p{
		display: none;
	}
	.veen > .wrapper.move{
		left: 0%;
	}
}
