body{
			background: linear-gradient(180deg, rgba(147,204,1,0.6), rgba(147,204,1,1));
			transition: all .5s;
		}
		.veen{
			width: 70%;
			margin: 100px auto;
			background: rgba(245,245,245,1);
			min-height: 400px;
			display:table;
			position: relative;
			box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
		}
		.veen > div {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #fff;
		}
		.veen button{
			//background: transparent;
			background-image: linear-gradient(90deg, rgba(147,204,1,0.6), rgba(147,204,1,1));
			display: inline-block;
			padding: 10px 30px;
			border: 3px solid #fff;
			//border-radius: 0px;
			background-clip: padding-box;
			position: relative;
			color: #FFF;
			//box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
			transition: all .25s;
		}
		.veen button.dark{
			border-color: #93cc01;
			background: #93cc01;
		}
		.veen .move button.dark{
			border-color: #e0b722;
			background: #e0b722;
		}
		.veen .splits p{
			font-size: 15px;
		}
		.veen button:active{
			box-shadow: none;
		}
		.veen button:focus{
			outline: none;
		}
		.veen > .wrapper {
			position: absolute;
			width: 40%;
			height: 120%;
			top: -10%;
			left: 5%;
			background: #fff;
			box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
			transition: all .5s;
			color: #303030;
			overflow: hidden;
		}
		.veen .wrapper > .form-group{
			padding: 15px 30px 30px;
			width: 100%;
			transition: all .5s;
			background: #fff;
		}
.veen .wrapper > .form-group:focus{
  outline: none;
}
		.veen .wrapper #login{
			padding-top: 20%;
			visibility: visible;
		}
		.veen .wrapper #market{
			padding-top: 10%;
		}
		.veen .wrapper #register{
			transform: translateY(-80%) translateX(100%);
			visibility: hidden;
			
		}
		.veen .wrapper.move #register{
			transform: translateY(-80%) translateX(0%);
			visibility: visible;
		}
		.veen .wrapper.move #login{
			transform: translateX(-100%);
      visibility: hidden;
		}
		.veen .wrapper .checkbox{
			width: 100%;
			height: 10px;
		}
		.veen .wrapper > .form-group > div {
			position: relative;
			margin-bottom: 15px;
		}
		.veen .wrapper label{
			position: absolute;
			top: -7px;
			font-size: 12px;
			white-space: nowrap;
			background: #fff;
			text-align: left;
			left: 15px;
			padding: 0 5px;
			color: #999;
			pointer-events: none;
		}
		.veen .wrapper h3{
			margin-bottom: 25px;
		}
		.veen .wrapper input:not([type='checkbox']){
			height: 40px;
			padding: 5px 15px;
			width: 100%;
			border: solid 1px #999;
		}
.veen .wrapper input{
			height: 40px
			padding: 5px 15px;
			width: 100%;
			border: solid 1px #999;
		}
		.veen .wrapper input:focus{
			outline: none;
			border-color: #ff4931;
		}
		.veen > .wrapper.move{
			left: 45%;
		}
		.veen > .wrapper.move input:focus{
			border-color: #e0b722;
		}
		@media (max-width: 767px){
			.veen{
				padding: 5px;
				margin: 0;
				width: 100%;
				display: block;
			}
			.veen > .wrapper{
				position: relative;
				height: auto;
				top: 0;
				left: 0;
				width: 100%;
			}
			.veen > div{
				display: inline-block;
			}
			.splits{
				width: 50%;
				background: #fff;
				float: left;
			}
			.splits button{
				width: 100%;
				border-radius: 0;
				background: #505050;
				border: 0;
				opacity: .7;
			}
			.splits button.active{
				opacity: 1;
			}
			.splits button.active{
				opacity: 1;
				background: #ff4931;
			}
			.splits.rgstr-btn button.active{
				background: #e0b722;
			}
			.splits p{
				display: none;
			}
			.veen > .wrapper.move{
				left: 0%;
			}
		}
		
.btn_help{
	right: 3%; 
	bottom: 5%; 
	width: 50px; 
	height:50px; 
	color: rgba(147,204,1,1); 
	font-size:20px; 
	position: fixed; 
	background: #FFFFFF; 
	border: 1px solid #FFFFFF; 
	border-radius:25px !important; 
	text-align:center; 
	line-height:45px; 
	box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);	
}
.btn_help:hover{
	background: #FFFFFF;
	border: 1px solid rgba(147,204,1,1);
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  box-shadow: inset 0 0 0 50px #fff
}
