/*
Core Widgets CSS @Jeedom
*/

/* __________________________________________________________________________________________________________Global */
[data-page=plan3d] .verticalAlign {
  z-index : auto !important;
}

.eqLogic-widget div.cmd-widget {
  position: relative;
  padding: 0;
  min-width: 70px;
}

.eqLogic-widget.hideEqLogicName .widget-name {
  display: none !important;
}

div.cmd-widget .title {
  color: var(--txt-color);
  width: 100%;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  line-height: 14px;
  position: relative;
  display: table;
  text-align: center;
}

div.cmd-widget div[class^="content"] {
  display: table-cell;
  vertical-align: middle !important;
}

div.cmd-widget .content-xs {
  color: var(--txt-color);
  width: 100%;
  height: 12px;
  min-height: 12px;
  line-height: 14px;
  margin: 0;
  position: relative;
  text-align: center;
}
div.cmd-widget .content-xs .slider {
  margin-top: 8px;
  margin-bottom: 12px;
}
div.cmd-widget .content-sm {
  height: 40px !important;
  min-height: 40px;
  max-height: 40px;
}
div.cmd-widget .content {
  height: 56px !important;
  min-height: 56px;
  max-height: 56px;
}
div.cmd-widget .content-lg {
  height: 72px !important;
  min-height: 72px;
  max-height: 72px;
}
div.cmd-widget .value {
  font-weight: bold;
  width: 100%;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  margin-bottom: 2px;
}
div.cmd-widget .value > .center-block {
  color: var(--txt-color);
  font-size: 11px;
  font-weight: normal;
  padding: 0 !important;
  margin: 0;
}
div.cmd-widget div[class^="content"] > select {
  font-size: 16px !important;
  height: 22px;
}
div.cmd-widget div[class^="content"] > select > option {
  font-size: 12px !important;
}
div.cmd-widget[data-subtype="select"]::after {
  font-size: 14px;
  top: 5px!important;
  right: 5px;
}
div.cmd-widget .input-group {
  margin-bottom: 0;
}
div.eqLogic_layout_table table.tableCmd {
  min-width: 0%;
}
div.eqLogic_layout_table table.tableCmd td {
  vertical-align: top;
}
.eqLogic.eqLogic-widget > .widget-name {
  margin-bottom: 5px;
}

.cmdStats,
div.cmd > div.center-block {
  color: var(--txt-color) !important;
  font-size: 10px !important;
  font-weight: normal;
  padding: 0 !important;
  width: 100% !important;
}

.cmd-widget {
  display: inline-block;
  position : relative;
  vertical-align: top;
}

.cmd-widget .statistiques {
  position : absolute;
  bottom: 0;
  font-size: 0.80em;
  left : 0;
  margin : 0;
  padding: 0;
  line-height:0px;
}

.cmd-widget[data-subtype="select"] .title,
.cmd-widget[data-subtype="select"] .content-xs {
  clear: both !important;
  display: inline;
  text-align: left;
}
.cmd-widget[data-subtype="select"] .cmdName {
  font-size: 11px !important;
  margin-left: 5px;
}
.cmd-widget[data-subtype="select"] .content-xs {
  top: -4px !important;
}

.verticalAlign {
  position: relative;
  transform: translateY(-50%);
  top: calc(50% - 18px);
  z-index: -1;
}
[data-page="widgets"] .verticalAlign {
  z-index: 1;
}

/* __________________________________________________________________________________________________________Sliders */
.slider.ui-slider-horizontal {
  position: relative;
  margin: 5px;
  width: 65px;
  left: 0;
}
.slider.ui-slider-vertical {
  position: absolute;
  margin: 5px;
  height: 48px;
  top: 16px !important;
  right: 3px;
}

.sliderValue {
  font-size: 12px;
  color: var(--txt-color);
  font-weight: normal;
  position: absolute;
  z-index: 1;
}
.ui-slider-horizontal > .sliderValue {
  top: -7px;
  right: -22px;
}
.ui-slider-vertical > .sliderValue {
  bottom: -1px;
  right: 10px;
}

/* __________________________________________________________________________________________________________Specifics */
div.cmd-widget[data-subtype="text"] {
  width: 146px;
}
div.cmd-widget[data-subtype="text"] .text {
  margin-top: 5px;
  resize: vertical;
  height: 50px;
}


div.cmd-widget[data-type="action"][data-subtype="other"][data-template="default"] {
  display: inline;
  margin-right: 2px;
}
div.cmd-widget[data-type="action"][data-subtype="other"][data-template="tmpliconline"] .iconCmdLine {
  font-size: 1.2em;
}
div.cmd-widget[data-type="action"][data-subtype="slider"][data-template="button"] .buttons {
  width: 120px;
}
div.cmd-widget[data-type="action"][data-subtype="slider"][data-template="button"] .content-sm {
  vertical-align: top !important;
  padding-top: 2px;
}
div.cmd-widget[data-type="action"][data-subtype="message"][data-template="default"] {
  overflow: hidden;
}
div.cmd-widget[data-type="action"][data-subtype="message"][data-template="default"] .message {
  margin: 5px 0 !important;
  resize: none !important;
}

div.cmd-widget[data-type="info"][data-subtype="string"][data-template="error"],
div.cmd-widget[data-type="info"][data-subtype="binary"][data-template="tmpliconline"],
div.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="line"],
div.cmd-widget[data-type="info"][data-subtype="string"][data-template="default"] {
  display: block;
}
div.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="tile"],
div.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="tmplmultistate"] {
  min-width: 90px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 0;
}
div.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="tile"] .content-sm {
  font-weight: bold;
}
div.cmd-widget[data-type="info"][data-subtype="numeric"][data-template="tile"] .state {
  font-size: 2em;
}
div.cmd-widget[data-type="info"][data-subtype="string"][data-template="multiline"] {
  display: block;
  max-height: 50px;
  overflow: auto;
}

.cmd-widget.widget-hygrothermographe {
  width: 220px;
  height: 220px;
}

.gauge {
  position: relative;
  width: 100px;
  height: 54px;
  margin: 0 auto;
}
.gauge .highcharts-pane {
  fill: var(--el-defaultColor);
}
.arcgauge .cmdStats {
  position: relative;
  top: 3px;
}
.arcgauge .highcharts-background {
  fill-opacity: 0 !important;
}
.gauge .highcharts-yaxis-grid {
  display: none;
}
.hgauge-value,
.vgauge-value,
.shuttergauge-value {
  background: var(--link-color);
}
.hgauge-bckg,
.vgauge-bckg {
  background: var(--el-defaultColor);
}
.hgauge-bckg {
  position:relative;
  width: 70px;
  height: 5px;
  left: 0;
}
.vgauge-bckg {
  position: relative;
  top: -4px;
  left: -6px;
  width: 5px;
  height: 38px;
  margin-bottom: -7px;
}
.hgauge,
.vgauge,
.shuttergauge {
  width: 90px;
  max-width: 90px;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 10px;
}

.shuttergauge .center-block {
  top: -3px;
}
.shuttergauge .content-sm {
  width: 90px;
  min-width: 90px;
  max-width: 90px;
}
.shuttergauge-bckg {
  width: 39px;
  height: 40px;
  border-top: 5px solid var(--el-defaultColor);
  border-left: 3px solid var(--el-defaultColor);
  border-right: 3px solid var(--el-defaultColor);
  position: absolute;
  top: 16px;
  left: 25px;
}
.shuttergauge-chart {
  position: relative;
  top: -18px;
  height: 37px;
}
.shuttergauge[data-type=action] .shuttergauge-bckg {
  left: 18px;
}
.shuttergauge[data-type=action] .state {
  position: relative;
  left: -7px;
}
.shuttergauge .slider {
  width: 60px;
  top: 16px !important;
}
.shuttergauge .timeCmd {
  position: relative;
  margin-left: -15px !important;
}
.hgauge .content-sm {
  width: 70px !important;
  text-align: left;
}
.hgauge-value {
  position: relative;
  padding: 0;
  margin-top: -1px;
  height: 10px;
}
.vgauge-value {
  position: absolute;
  bottom: 0;
  width: 10px;
  margin-left: 4px;
}

/* __________________________________________________________________________________________________________Compass */
.widget-compass-container {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}
.widget-compass-container * {
  position: absolute;
}
.widget-compass .value {
  position: absolute;
  top: 48px;
}
.widget-compass .state {
  font-size: 16px !important;
  font-weight: bold;
  position: relative;
  top: 25px;
}
.widget-compass .winDir {
  font-size: 11px !important;
  position: relative;
  top: 28px;
}
.widget-compass-outline {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 7px solid var(--txt-color);
  border-top: 7px solid var(--al-info-color);
  border-bottom: 7px solid var(--al-info-color);
  border-radius: 50%;
}
.widget-compass-needle {
  left: 38px;
  width: 4px;
  height: 80px;
  top: 0px;
}
.widget-compass-needle:after {
  position: absolute;
  content: '' !important;
  top: -3px;
  left: -6px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 22px solid var(--al-warning-color);
}

/* __________________________________________________________________________________________________________Rain */
@keyframes homeweatherstationraingauge{from{background-position:0 0}to{background-position:100000% 0}}

.widget-rain-water{
  height: 0pt;
  background: url(../../core/template/mobile/cmd.info.numeric.rain/water.svg);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0 0 1px 1px;
  bottom: 0;
  width : 100%;
  max-height: 45px;
  transition: water 3s ease-out;
  z-index: 0;
  animation: homeweatherstationraingauge 3000s linear infinite;
  bottom : 0px;
  position: absolute;
}

.widget-rain-title{
  padding-top: 10%;
}

.widget-rain-container{
  background: url(../../core/template/mobile/cmd.info.numeric.rain/marker.svg) no-repeat;
  background-size: cover;
  height: 100%;
  z-index: 20;
}

.widget-rain-main{
  height: 80px;
  overflow: hidden;
  width: 80px;
  z-index: 0;
  position : relative;
}
