/* PARTIE Widget et object */
.eqLogic-widget {
  float: left !important;
}
.grid:after {
  content: '' !important;
  display: block !important;
  clear: both !important;
}
.eqLogic-widget:hover {
  border-color: hsla(0, 0%, 100%, 0.5) !important;
}
.eqLogic-widget.is-dragging,
.eqLogic-widget.is-positioning-post-drag {
  background: #EA0 !important;
  z-index: 2 !important; /* keep dragged item on top */
}
.eqLogic-widget.ui-draggable-dragging,
.eqLogic-widget.is-positioning-post-drag {
  background: #C90 !important;
  z-index: 2 !important;
}
.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5) !important;
  outline-offset: -6px !important;
  -webkit-transition: -webkit-transform 0.2s !important;
  transition: transform 0.2s !important;
}

/* PARTIE Haute (catégorie et Tags */
/*The container that holds the dropdown items*/
.mcs-container{
  width:400px;
  overflow:hidden;
  background: rgba(245,245,245,1);
  box-sizing: border-box;
  position: relative;
  padding:10px;
  clear:both;
  margin-left: 5px;
}

/*The menu items (options)*/
.mcs-open,
.mcs-item{
  box-sizing: border-box;
  background: rgba(147,204,1,1);
  color:#000;
  text-decoration: none !important;
  width:25%;
  float:left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border:1px solid #111;
  
}

.mcs-open{
  border: 0;
  text-align: left;
  padding: 0 10px 0 20px;
  width:100%;
  margin-top:20px;
  margin-left: 5px;
  border:1px solid rgba(147,220,1);
}

.mcs-open.open{
  background:#ffffff;
  color:#111;
}
.mcs-open.open:hover{
  color:#FFF;
}

.mcs-item.active{
  background:rgba(147,204,1,1);
  color:#222;
  border:1px solid #222;
}

.mcs-item:hover,
.mcs-open:hover{
  background:rgba(147,204,1,1);
  cursor:pointer;
}

/*Hide Select Form Control*/
.hidden{
  visibility: hidden;
  height: 0px;
  width:0px;
  position:absolute;
}

/*Clear class used to push float- can just point to an exsisting clear class*/
.clear{
  display:block;
  clear:both;
}


.wrapper{
  width:580px;
  padding:20px;
  margin: 0 auto;
  text-align: center;
}

header h1{
  font-size:3em;
  color:#ffffff;
}
h2{
  font-size:2em;
  color:#ffffff;
}

.mcs-open{
  font-size:1em;
}

.mcs-item{
  //font-family: 'Ubuntu', sans-serif;
  font-size:0.8em;
  -moz-transform: scale(0.95) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(0.95) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(0.95) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(0.95) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(0.95) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 0 0 4px 1px rgba(0,0,0,0.4);
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.4);
  background-color: #FFF;
}
.mcs-item:hover{
  -moz-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -ms-transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-3deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
}
.mcs-item.active{
  text-shadow: 0 0 0 #FFF;
}
.mcs-item.active:hover{
  background:#FFF;
  text-shadow: 0 0 0 #FFF;
}
