body {
  background-repeat : no-repeat;
  background-size:cover;
  background-position: center center; 
}

.panel-default>.panel-heading {
  background-color: rgba(245, 245, 245, 0.8) !important;
}

.panel{
  background-color: rgba(255, 255, 255, 0.6) !important;
}

legend{
	border-bottom: 1px solid #93cc01;
}

.backgroundforJeedom{
	width:100%; 
	height:calc(100% - 55px); 
	z-index : -1; 
	position: absolute;
	opacity : 0.35;
	top : 55px;
}