body{
	transition: all .5s;
}

#jqueryLoadingDiv {
  display:none!important;
}

#contenu{
	width: 100%;
	height: 100%;
}
.titleStep{
	font-size: 50px;
	font-weight: bold;
	font: 'San Francisco', Helvetica, Arial, sans-serif;
	margin-top: 2%;
	margin-left: 2%;
}
#step1{
	width: 100%;
	height: 100%;
}
.contenuWith{
	width: 40%;
	max-height: 90%;
	margin: 2% auto;
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-top: : 2%;
	padding-bottom: 5%;
}
#contenuImage{
	width: 100%;
	height: 60%;
	margin-top: 0px;
}
#contenuImageSrc{
	width: 100%;
	height: 100%;
	margin-top: 0px;
}
#contenuText{
	width: 100%;
	height: 40%;
	margin-bottom: 0px;
	padding: 1%;
	color:#737373;
}
#contenuTextSpan{
	display: block;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	font: 'San Francisco', Helvetica, Arial, sans-serif;
}
#nextDiv{
	width: 100px;
	height: 100px;
	margin-right: -45px;
	margin-top: 32px;
	float: right;
	background-color: "#FFF"
}
#step2{
	display:none;
}
#step3{
	display:none;
}
#step4{
	display:none;
}
#step5{
	display:none;
}
.progress{
	width: 80%;
	margin-left: 10%;
}
