/*
Theme Core 2019 @Jeedom
Report version
*/

.reportModeHidden,
.floatingbar,
.nav.nav-tabs,
#in_search,
#in_search + .input-group-btn {
  display : none;
}
.reportModeVisible {
  display: initial !important;
}

.eqLogic.eqLogic-widget .widget-name span.reportModeVisible {
  font-size: 16px !important;
}

#backgroundforJeedom {
  height: 100%;
  top: 0;
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
textarea,
div,
pre,
p.state,
.objectSummaryglobal,
#div_mainContainer {
  scrollbar-width: none !important;
}