@font-face {
	font-family: 'securite';
	src:url('fonts/securite.eot');
	src:url('fonts/securite.eot') format('embedded-opentype'),
		url('fonts/securite.woff') format('woff'),
		url('fonts/securite.ttf') format('truetype'),
		url('fonts/securite.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="securite-"], [class*=" securite-"] {
	font-family: 'securite';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.securite-key1:before {
	content: "\e600";
}
.securite-fbi:before {
	content: "\e601";
}
.securite-exit7:before {
	content: "\e602";
}
