/*

Theme Core 2019
By KiboOst for Jeedom

*/

@import url("mobile.main.css");
@import url("colors.css");



/* _____________________________DASHBOARD CATEGORIES title coloring */
.eqLogic.eqLogic-widget {
	color: var(--txt-color) !important;
}

.widget-name,
.widget-name span,
.widget-name a {
	color: var(--sc-lightTxt-color) !important;
}

.ui-btn {
	color: var(--link-color) !important;
}
.ui-btn i:hover {
	color: var(--linkHoverLight-color) !important;
}

.eqLogic-widget,
.scenario.scenario-widget {
	background-color: var(--eq-bg-color) !important;
}

[data-category=security] .widget-name {
	background-color: var(--cat-security-color) !important;
}
[data-category=heating] .widget-name {
	background-color: var(--cat-heating-color) !important;
}
[data-category=automatism] .widget-name {
	background-color: var(--cat-automatism-color) !important;
}
[data-category=light] .widget-name {
	background-color: var(--cat-light-color) !important;
}
[data-category=multimedia] .widget-name {
	background-color: var(--cat-multimedia-color) !important;
}
[data-category=energy] .widget-name {
	background-color: var(--cat-energy-color) !important;
}
[data-category=''] .widget-name {
	background-color: var(--cat-other-color) !important;
}
.eqLogic-widget:not([data-category]) .widget-name{
	background-color: var(--cat-other-color) !important;
}
.scenario-widget .widget-name {
	background-color: var(--cat-scenario-color) !important;
}

/* ___________________________________________________________EQs */
.iconCmd > i {
	color: var(--link-color) !important;
}
p.state {
	color: var(--txt-color) !important;
}
.state,
.state i {
	color: var(--link-color) !important;
}

/* buttons */

div.ui-header.ui-bar-inherit > a[data-rel=back]{
	background-color: var(--btn-default-color) !important;
}


a.action.ui-btn {
	background-color: var(--btn-default-color) !important;
	color: var(--link-color) !important;
}
.eqLogic.eqLogic-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle),
.scenario.scenario-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle) {
	background: linear-gradient(var(--btnEq-default-color), var(--btnEq-default-color)) fixed !important;
}
.eqLogic.eqLogic-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle):hover,
.scenario.scenario-widget :not(.ui-select) > .ui-btn:not(.ui-slider-handle):hover {
	color: var(--linkHoverLight-color) !important;
}

.ui-slider-bg {
	background: linear-gradient(var(--el-defaultColor), var(--el-defaultColor)) fixed !important;
}

.clr-btn-red,
.clr-btn-red:hover {
	color: var(--sc-lightTxt-color) !important;
	background-color: var(--al-danger-color) !important;
}
.ui-btn.clr-btn-deep-orange,
.ui-btn.clr-btn-deep-orange:hover {
	color: var(--link-color) !important;
	background-color: var(--al-warning-color) !important;
}

.cmd:hover {
	color: var(--linkHover-color) !important;
}

.fa-refresh,
.statusCmd > i {
	color: var(--eqTitle-color) !important;
}

.tableCmd,
.highcharts-axis-title > tspan,
.cmd-widget > center {
	fill: var(--txt-color) !important;
	color: var(--txt-color);
}

/* ___________________________________________________________GAUGES */
.shuttergauge-value {
	background: var(--link-color);
}
.shuttergauge > div:first-child {
	color: var(--txt-color) !important;
}
.shuttergauge-bckg {
	border-top: 6px solid var(--el-defaultColor) !important;
	border-left: 4px solid var(--el-defaultColor) !important;
	border-right: 4px solid var(--el-defaultColor) !important;
}

.highcharts-legend-item:not(.highcharts-legend-item-hidden) text{
	fill: var(--link-color) !important;
}
.highcharts-legend-item.highcharts-legend-item-hidden text {
	fill: var(--txt-color) !important;
}
.highcharts-background {
	fill: var(--eq-bg-color) !important;
}
.gauge .highcharts-background {
	fill: transparent !important;
}
.highcharts-range-selector-buttons > text {
	fill: var(--link-color) !important;
}
.highcharts-container {
	color: var(--txt-color) !important;
}
.highcharts-plot-band {
	fill: var(--bg-color) !important;
}
.highcharts-grid-line {
	stroke: var(--eq-bg-color);
}
.highcharts-button-box {
	fill: var(--el-defaultColor) !important;
}
.highcharts-button > text,
.highcharts-button-disabled > text{
	fill: var(--link-color) !important;
}
.highcharts-axis-labels > text {
	fill: var(--link-color) !important;
}

.highcharts-pane {
	fill: var(--el-defaultColor);
}
.highcharts-data-label > span > span {
	color: var(--txt-color) !important;
}
.highcharts-color-0 {
	fill: var(--link-color);
}
.ui-slider-handle {
	background-color: var(--link-color) !important;
}
.ui-slider-handle:hover {
	background-color: var(--linkHover-color) !important;
}
