/*
Theme Core 2019 @Jeedom
shadows Light Mobile
*/

.eqLogic-widget,
.scenario-widget,
div[class^="ui-block-"] .ui-btn.ui-btn-raised {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
  z-index: 0;
  transition: box-shadow 0.4s cubic-bezier(.25,.8,.25,1);
}

.eqLogic-widget:hover,
.scenario-widget:hover,
div[class^="ui-block-"] .ui-btn.ui-btn-raised:hover {
  box-shadow: 0 6px 22px rgba(0,0,0,.2);
  z-index: 5;
}
