@font-face {
	font-family: 'divers';
	src:url('fonts/divers.eot?7wdkzz');
	src:url('fonts/divers.eot?#iefix7wdkzz') format('embedded-opentype'),
		url('fonts/divers.woff?7wdkzz') format('woff'),
		url('fonts/divers.ttf?7wdkzz') format('truetype'),
		url('fonts/divers.svg?7wdkzz#divers') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="divers-"], [class*=" divers-"] {
	font-family: 'divers';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.divers-weight11:before {
	content: "\e600";
}
.divers-vlc1:before {
	content: "\e601";
}
.divers-viral:before {
	content: "\e602";
}
.divers-umbrella2:before {
	content: "\e603";
}
.divers-two15:before {
	content: "\e604";
}
.divers-triangular42:before {
	content: "\e605";
}
.divers-today1:before {
	content: "\e606";
}
.divers-thermometer31:before {
	content: "\e607";
}
.divers-table29:before {
	content: "\e608";
}
.divers-slightly:before {
	content: "\e609";
}
.divers-piggy1:before {
	content: "\e60a";
}
.divers-numbers:before {
	content: "\e60b";
}
.divers-mailbox15:before {
	content: "\e60c";
}
.divers-letters2:before {
	content: "\e60d";
}
.divers-garbage8:before {
	content: "\e60e";
}
.divers-fuel4:before {
	content: "\e60f";
}
.divers-coin9:before {
	content: "\e610";
}
.divers-circular114:before {
	content: "\e611";
}
.divers-calendar2:before {
	content: "\e612";
}
.divers-caduceus3:before {
	content: "\e613";
}
.divers-svg:before {
	content: "\e614";
}
.divers-svg2:before {
	content: "\e615";
}
